procedures/common/annexf/dtd/WIPO-1.16/app-body-v1-6-claims-only.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--
********************************************************************************
*  application-body v1.6     2012  JULY                                        *
********************************************************************************
*  PUBLIC "-//WIPO//DTD APPLICATION BODY 1.6//EN" "application-body-v1-6-claims-only.dtd"  *
********************************************************************************
* contacts:                                                                    *
*   WIPO:  Yukako SHIBA; yukako.shiba@wipo.int                                 *
********************************************************************************
* revision history                                                             *
********************************************************************************
19.12.2013
AH : Newly made the DTD for beign used in ePCT.
******************************************************************************** 
****************************************************************************
  * SECTION I - DECLARATION, ENT. REFs, ISO sets, etc                        *
****************************************************************************
-->
<!--
  import character entity set.  Download from:
  http://pcteasy.wipo.int/efiling_standards/schemaDocs/wipo.ent
  
  Note that nsgmls-based parsers (SP, Near and Far Designer, etc.)
  may not be able to process this file for reasons described below 
  in MathML comments.
 -->
<!--ENTITY % wipo PUBLIC "-//WIPO//ENTITIES WIPO 1.0//EN" "wipo.ent">
%wipo;-->

<!--
  ****************************************************************************
  * INCLUDE COMPONENT DTDS (MATHML, OASIS EXCHANGE TABLE MODEL               *
  ****************************************************************************
-->
<!-- DTD MathML2: maintained by W3C.  Download from:
     http://www.w3.org/TR/MathML2/DTD-MathML-20010221.zip

     If using nsgmls-based parser (SP, Near and Far Designer, etc.)
     uncomment 'mathml-charent-module' switch below or replace the 
     referenced MathML2 DTD with the version downloadable from:
     http://www.w3.org/Math/DTD/dtd-sp.zip

	 This notice copied from: http://www.w3.org/Math/DTD/
     
     "DTD for nsgmls
	  Some systems (including the popular nsgmls parser) may not be able 
	  to process files using 'plane 1' characters which have Unicode 
	  numbers higher than #xFFFF. The versions of the DTD provided here
	  incoprorate the modifications mentioned above, but the high 
	  characters are replaced by the equivalent mchar construct 
	  <mchar name="..." /> this allows the DTD to be read and for MathML
	  files to be validated using such sytems."
-->
<!--ENTITY % mathml-charent.module "IGNORE" -->
<!ENTITY % MATHML.prefixed "IGNORE">

<!ENTITY % MATHML.xmlns "">

<!-- import MathML2 dtd -->
<!ENTITY % mathml2 PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
%mathml2;

<!-- DTD OASIS Open XML Exchange Table Model.  
       Maintained by OASIS; download from:
       http://www.oasis-open.org/specs/soextblx.dtd
       Note that the FPI in soextblx.dtd refers to itself as 'calstblx'.  
       That convention has been followed here.
-->
<!--  create content for title element in table  -->
<!ENTITY % title "<!ELEMENT title (#PCDATA | b | i | u | sup | sub | smallcaps)* > ">
%title;

<!-- override OASIS Exchange <entry> model -->
<!ENTITY % tbl.entry.mdl "(#PCDATA | b | i | u | sup | sub | smallcaps | br 
                 | patcit | nplcit | bio-deposit | crossref | img 
                 | dl | ul | ol | chemistry | maths)* ">

<!-- import OASIS Exchange model -->
<!ENTITY % calstblx PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN" 
                           "soextblx.dtd">
%calstblx;
<!--
  ****************************************************************************
  * SECTION II - DTD                                                         *
  ****************************************************************************

APPLICATION-BODY-CLAIMS-ONLY

This DTD is designed to be used by filing Art 19 amendments in ePCT.
All of the definitions are same with "application-body-v1-6.dtd" excepts this DTD does not include <description>, <abstract> and <drawings>.

Attributes:
  lang              =  language of application  - use ISO639 language code
  dtd-version       =  dtd version number
  file              =  filename of the whole application
  id                =  unique id for this application - could be file name
  status            =  status of the application; values: new = new application
  id                =  an identifier for this application (could be filename)
  country           =  WIPO ST.3 code for application
  file-reference-id = applicant's or agent's file reference, if any

-->
<!ELEMENT application-body-claims-only (doc-page+ | claims)>

<!ATTLIST application-body-claims-only  id                ID     #IMPLIED
                              lang              CDATA  #REQUIRED
                              dtd-version       CDATA  #IMPLIED
                              file              CDATA  #IMPLIED
                              file-reference-id CDATA  #IMPLIED
                              country           CDATA  #REQUIRED
                              status            CDATA  #IMPLIED >

<!--
  Claims:
  the claims shall define the matter sought for patent and be supported by the
  description.

  Recommended id = 'claim' or 'claim0001' for multiple claims

-->
<!ELEMENT claims (doc-page+ | claim+)>

<!ATTLIST claims  id         ID     #IMPLIED
                    lang       CDATA  #IMPLIED
                    claim-type CDATA  #IMPLIED
                    status     CDATA  #IMPLIED >

<!--
  Defines the matter for which protection is sought
  See PCT Rule 6:
    6.1.a: 'the number of claims shall be reasonable in consideration of what is 
             being claimed.'
    6.1.b: 'if there are several claims, they shall be numbered consecutively in 
             Arabic numerals.'

  Recommended id values
    If parent element is claims and there is only ONE set of claims:
      id = c0001, c0002, etc.;num = 0001, 0002, etc.
    If parent element is amended-claims and there is only ONE set then;
      id = ac0001, ac0002, etc.;num = 0001, 0002, etc.
    If parent element is claims and there are MULTIPLE sets of claims then:
      id = c01.0001, c01.0002, etc.;num = 0001, 0002, etc.
      id = c02.0001, c02.0002, etc.;num = 0001, 0002, etc.
    If parent element is amended-claims and there are MULTIPLE sets of
    amended-claims then:
      id = ac01.0001, ac01.0002, etc.;num = 0001, 0002, etc. 

-->
<!ELEMENT claim (claim-text+)>

<!ATTLIST claim  id         ID     #IMPLIED
                   num        CDATA  #REQUIRED
                   claim-type CDATA  #IMPLIED >

<!--
  Reference to a claim

-->
<!ELEMENT claim-ref (#PCDATA)>

<!ATTLIST claim-ref  idref IDREFS  #REQUIRED >

<!--
  TABLES
  This is image data or coded according to OASIS Exchange model with modified cell
  'entry' content.
 
  Recommended id = tabl0001, tabl0002, etc.

-->
<!ELEMENT tables (img | table)>

<!ATTLIST tables  id  ID     #IMPLIED
                    num CDATA  #REQUIRED >

<!--
  MATHEMATICS 
  This is image data or coded according to mathml, version 2

  Recommended id = math0001, math0002, etc.

-->
<!ELEMENT maths (img | (math , img?))>

<!ATTLIST maths  id  ID     #IMPLIED
                   num CDATA  #REQUIRED >

<!--
  Chemistry
  Chemical formulae, ring structures, Markush structures, etc.

  For now treat as image data.
  Depending on industry support we may use, e.g., chemML, CML later

  Recommended id = chem0001, chem0002, etc

-->
<!ELEMENT chemistry (img | (chem , img?))>

<!ATTLIST chemistry  id  ID     #IMPLIED
                       num CDATA  #REQUIRED >

<!--
  This is a pointer to an external DTD for chemical markup - to be determined.
  For EPO probably CML; http://www.xml-cml.org/

-->
<!ELEMENT chem EMPTY>

<!ATTLIST chem  id        ID     #IMPLIED
                  file      CDATA  #REQUIRED
                  chem-type CDATA  #IMPLIED >

<!--
  Image data
  Image is used for any kind of image: art work, figures,  complex work units
  (math, tables, chemistry), etc.

  Recommended:
    id          = i0001, i0002, etc.
    he, wi      = "11" - milimeters - height, width;
    file        = file name,location; label - not used;
    alt         = alternate text if image not shown;
    img-content = drawing is the default;
    img-format  = common will be tiff, st33 and st35 in for backward compatibilty
                  and, later, publication.
    orientation = orientation of the image (portrait | landscape).
                  Default is portrait
    inline      = (yes | no).
                  Whether the image is to be presented inline or separated by line
                  breaks.  Default is no.

-->
<!ELEMENT img EMPTY>

<!ATTLIST img  id          ID     #IMPLIED
                 he          CDATA  #REQUIRED
                 wi          CDATA  #REQUIRED
                 file        CDATA  #REQUIRED
                 alt         CDATA  #IMPLIED
                 img-content        (drawing | 
                               photograph | 
                               character | 
                               dna | 
                               undefined | 
                               chem | 
                               table | 
                               math | 
                               program-listing | 
                               flowchart | 
                               graph )  'drawing'
                 img-format         (jpg | tif | st33 | st35 )  #REQUIRED
                 orientation        (portrait | landscape )  'portrait'
                 inline             (yes | no )  'no' >

<!--
  A reference to a figure;
  e.g., "...as shown in <figref idref='f0001'>figure<b>1</b></figref>..."

-->
<!ELEMENT figref (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST figref  idref IDREFS  #IMPLIED
                    num   CDATA   #IMPLIED >

<!--
  Cross reference to any other element with an identifier (id)

-->
<!ELEMENT crossref (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST crossref  idref IDREF  #REQUIRED >

<!--
  This element is one method to identify content consisting of text objects that
  require preservation (pre) of their whitespace in order to preserve internal
  logical relationships.
  (e.g., sequence listing fragments, computer program listings)

-->
<!ELEMENT pre (#PCDATA)>

<!ATTLIST pre  id           ID  #IMPLIED
                 xml:space        (preserve | default )  #IMPLIED
                 listing-type     (sequence | program-listing | other )  #REQUIRED >

<!--
  Underscore: style - single is default

-->
<!ELEMENT u (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST u  style   (single | double | dash | dots )  'single' >

<!--
  Overscore: style - single is default

-->
<!ELEMENT o (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST o  style   (single | 
                       double | 
                       dash | 
                       dots | 
                       leftarrow | 
                       rightarrow | 
                       leftrightarrow )  'single' >

<!--
  doc-page - DOCument or PAGE

  This is primarily to be used when data for the whole or major sections of an
  application are in image format OR other formats such as pdf.

  Page range attributes are given when required
    pp  - page range
    ppf - first page 
    ppl - last page (for pdf).
  The 'img' may also be used for complete pages, e.g. in drawings 

  Recommended id = docp0001, docp0002, etc.
  Attributes "he" and "wi" mean height and width. 


-->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID     #IMPLIED
                      he          CDATA  #REQUIRED
                      wi          CDATA  #REQUIRED
                      type               (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA  #IMPLIED
                      pp          CDATA  #IMPLIED
                      ppf         CDATA  #IMPLIED
                      ppl         CDATA  #IMPLIED
                      file        CDATA  #REQUIRED
                      ocr         CDATA  #IMPLIED
                      color              (color | bw )  #IMPLIED
                      orientation        (portrait | landscape )  'portrait' >

<!--
 The text of the claim; also used for for sub-para indentation

-->
<!ELEMENT claim-text (#PCDATA | claim-text | claim-ref | b | i | u | o | sup | sub | smallcaps | br | pre | crossref | figref | img | chemistry | maths | tables)*>


<!--
  br - break, line break within a paragraph

-->
<!ELEMENT br EMPTY>


<!--
  Bold formatting for text

-->
<!ELEMENT b (#PCDATA | i | u | o | smallcaps | sup | sub)*>


<!--
  Italic formatting for text

-->
<!ELEMENT i (#PCDATA | b | u | o | smallcaps | sup | sub)*>


<!--
  Small capitals

-->
<!ELEMENT smallcaps (#PCDATA | b | u | i | o)*>


<!--
  Subscripted text

-->
<!ELEMENT sub (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Superscripted text

-->
<!ELEMENT sup (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Subscripted text

-->
<!ELEMENT sub2 (#PCDATA | b | u | i | o)*>


<!--
  Superscripted text

-->
<!ELEMENT sup2 (#PCDATA | b | u | i | o)*>


