procedures/common/annexf/dtd/WIPO-1.16/application-body-v1-1.dtd

<?xml version='1.0' encoding='UTF-8' ?>
<!--
  The  "epoline (r) Online Filing software (eOLF) software" which you may
  download is a software that supports the online electronic filing of
  intellectual property documents and hereinafter is referred to as
  "the Program".
  
  Copyright (r) 2005 European Patent Organisation
  
  The European Patent Organisation has made available the source code to pave
  the way for the system to become a world standard for Intellectual Property
  document archiving and to facilitate document exchange between offices,
  which will reduce costs for applicants and increase efficiencies within the
  offices.
  
  To accomplish this goal a Release Board has been formed to ensure the
  maximum possible international uniformity in this area. The members of this
  Release Board are various governmental and intergovernmental
  administrations: EPO, USPTO, JPO, WIPO and several other interested
  organisations. For details about the Release Board and how to become a
  member thereof see http://eolf.sourceforge.net.
  
  You are requested to provide your modifications and contributions on the
  Program to the eOLF Open Source community on
  http://eolf.sourceforge.net, so as to make it possible for the Release
  Board to assess them and incorporate them into a new certified release of
  the Program.
  
  You can redistribute this Program and/or modify it in accordance with the
  terms of the European Patent Organisation Open Source Licence No. 2005/1.
  
  This Program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  FITNESS FOR A PARTICULAR PURPOSE. See the European Patent Organisation Open
  Source Licence No. 2005/1 for more details.
  
  You should have received a copy of the European Patent Organisation Open
  Source Licence No. 2005/1 along with this Program; if not write to
  epoline (r), European Patent Office - P.O. Box 5818 - 2280HV Rijswijk (ZH) -
  Netherlands or email to the Administrator of the ePHOENIX project at
  SourceForge (see: http://sourceforge.net/project/eolf.
  
  If the program is interactive, make it output a short notice like this when
  it starts in an interactive mode:
  
  epoline (r) Online Filing, Copyright (c) 2005 European Patent Organisation,
  comes with ABSOLUTELY NO WARRANTY; for details see the European Patent
  Organisation Open Source Licence No. 2005/1 at
  http://eolf.sourceforge.net. You are welcome to redistribute it under
  certain conditions; for details see the European Patent Organisation Open
  Source Licence No. 2005/1 at http://eolf.sourceforge.net.
-->

<!ENTITY % body_sections " id     CDATA  #IMPLIED
                           lang   CDATA  #IMPLIED
                           status CDATA  #IMPLIED">

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? 
                       , middle-name? , suffix? , iid? , role? , orgname? 
                       , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , mailcode? 
                          , pobox? , room? , address-floor? , building? 
                          , street? , city? , county? , state? , postcode? 
                          , country) | text)">

<!--
**************************************************************************
*  application-body   v1.1   2003   FEBRUARY                             *
**************************************************************************
*  PUBLIC "-//WIPO//DTD APPLICATION BODY 1.1//EN" "application-body.dtd" *
**************************************************************************
*  http://pcteasy.wipo.int/efiling_standards/schemaDocs/1.1/             *
*                                           application-body.dtd         *
**************************************************************************
*  contacts:                                                             *
*  EPO:   Paul Brewin;  pbrewin@epo.org                                  *
*  JPO:  Shiro Ankyu;   ankyu-shiro@jpo.go.jp                            *
*  USPTO: Bruce B. Cox; bruce.cox@uspto.gov                              *
*  WIPO:  John Dunning; john.dunning@wipo.int                            *
*  WIPO:  Hideto Tanaka; hideto.tanaka@wipo.int                          *
**************************************************************************
*  Revision History                                                      *
**************************************************************************
JD: 03/02/03 Incorporated changes from PFCs:
..added attribute 'file-reference-id' to root
..added attribute 'orientation' to doc-page, img
..added attribute 'inline' to img
..added attribute 'ol-style' to ol
..added attribute 'dnum-type' to patcit
..added table-external to p content model
..made postcode optional within address
..added (last-name | orgname) choice to %name_group;
..removed br from b, i , smallcaps
  ********************************************************************
  *  XML VERSION FOR FILING OF PCT APPLICATIONS:                     *
  *  description, claims, abstract, drawings -                       *
  *  it may be utilised by other offices as required -               *
  *  but it is NOT recommended to add or change element and          *
  *  attribute names                                                 *
  *  see: http://pcteasy.wipo.int/efiling_standards/EFPage.htm       *
  *                                                                  *
  *  It is intended for a) Online Filing b) (later) publication, etc *
  *  within the context of a new version of ST.32 (ST.32X)           *
  *  In developing this DTD we have taken into consideration:        *
  *  - earlier versions of this dtd                                  *
  *  - ST32 version 3                                                *
  *  - Variations of ST.32 in: WIPO, USPTO, MIMOSA, etc              *
  *  - USPTO EFS dtd                                                 *
  *  - Trilateral Common data dictionary                             *
  *  - ISO 12083 dtds, etc                                           * 
  ********************************************************************   

  ********************************************************************
  * SECTION I - DECLARATION, ENT. REFs, ISO sets, etc                *
  ********************************************************************    
  -->
<!--
      import character entity set.  Download from:
      http://pcteasy.wipo.int/efiling_standards/schemaDocs/wipo.ent
      
      Note that nsgmls-based parsers (SP, Near & Far Designer, etc.)
      may not be able to process this file for reasons described below 
      in MathML comments.
     -->
<!ENTITY % wipo PUBLIC "-//WIPO//ENTITIES WIPO 1.0//EN" "wipo.ent">

%wipo;

<!--
    ********************************************************************
    *  INCLUDE COMPONENT DTDS (MATHML, OASIS EXCHANGE TABLE MODEL      *
    ********************************************************************
  -->
<!-- DTD MathML2: maintained by W3C.  Download from:
         http://www.w3.org/TR/MathML2/DTD-MathML-20010221.zip
    
         If viewing with Near & Far Designer uncomment 
         'mathml-charent-module' switch below     -->
<!--ENTITY % mathml-charent.module "IGNORE" -->
<!ENTITY % MATHML.prefixed "IGNORE">

<!ENTITY % MATHML.xmlns "">

<!-- import MathML2 dtd -->
<!ENTITY % mathml2 PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
%mathml2;

<!-- DTD OASIS Open XML Exchange Table Model.  
           Maintained by OASIS; download from:
           http://www.oasis-open.org/specs/soextblx.dtd
           Note that the FPI in soextblx.dtd refers to itself as 'calstblx'.  
           That convention has been followed here.
    -->
<!--  create content for title element in table  -->
<!ENTITY % title "<!ELEMENT title (#PCDATA | b | i | u | sup | sub | smallcaps)* > ">
%title;

<!-- override OASIS Exchange <entry> model -->
<!ENTITY % tbl.entry.mdl "(#PCDATA | b | i | u | sup | sub | smallcaps | br | patcit 
                          | nplcit | bio-deposit | crossref | img | dl | ul | ol 
                          | chemistry | maths)*">

<!-- import OASIS Exchange model -->
<!ENTITY % calstblx PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN" 
                           "soextblx.dtd">
%calstblx;

<!--

  ********************************************************************
  * SECTION II - DTD                                                 *
  ********************************************************************

APPLICATION-BODY

PCT Art 3(2) states
"(2) An international application shall contain, as specified
in this Treaty and the Regulations, a request, a
description, one or more claims, one or more drawings
(where required), and an abstract."
The Request is dealt with by a separate DTD since it will be
handled by form filling software and requires different
processing later.
The main application will be authored by the applicant as one
word processor file, the order follows general practice today.
The sequence list (although part of the description) is a
separate sub-document which will reference an ST.25 compliant
file.

Attributes:
  lang        =  language of application  - use ISO639 language code
  dtd-version =  dtd version number
  file        =  filename of the whole application                        
  id          =  unique id for this application - could be file name
  status      =  status of the application; values:
   			     n = new application
  id          =  an identifier for this application (could be filename)
  country     =  WIPO ST.3 code for application
  file-reference-id = applicant's or agent's file reference, if any
			-->
<!ELEMENT application-body (doc-page+ | (description , claims , abstract? , drawings?))>

<!ATTLIST application-body  lang              CDATA  #REQUIRED
                              dtd-version       CDATA  #IMPLIED
                              file              CDATA  #IMPLIED
                              status            CDATA  #IMPLIED
                              id                ID     #IMPLIED
                              country           CDATA  #REQUIRED
                              file-reference-id CDATA  #IMPLIED >
<!--
  a drawing (figure), necessary for the understanding of the invention
      Recommended id = f01, f02, etc.                                  

			-->
<!ELEMENT figure (img)>

<!ATTLIST figure  id  ID     #IMPLIED
                    num CDATA  #REQUIRED >
<!--
  the solution to the alleged problem that the invention 
  purports to solve.  

  Recommended id = 'abss'                                          
		
			-->
<!ELEMENT abst-solution (p+)>

<!ATTLIST abst-solution  id ID  #IMPLIED >
<!--
          the alleged problem that the invention purports to solve

             Recommended id = 'absp'                                           
        
			-->
<!ELEMENT abst-problem (p+)>

<!ATTLIST abst-problem  id ID  #IMPLIED >
<!--
defines the matter for which protection is sought
  See PCT Rule 6:
  6.1.a: 'the number of claims shall be reasonable in consideration
		  of what is being claimed.'
  6.1.b: 'if there are several claims, they shall be numbered 
		  consecutively in Arabic numerals.'

 Recommended id = c01, c02, etc.; 
			 num 001, 002, etc.                                    

			-->
<!ELEMENT claim (claim-text+)>

<!ATTLIST claim  id  ID     #IMPLIED
                   num CDATA  #REQUIRED >
<!--
  reference to a claim                                             

			-->
<!ELEMENT claim-ref (#PCDATA)>

<!ATTLIST claim-ref  idref IDREFS  #REQUIRED >
<!--
  Sequence listing free text
  WIPO ST.25:
  "36. Where the sequence listing part of the description
       contains free text, any such free text shall be repeated in
       the main part of the description in the language thereof.
       It is recommended that the free text in the language of the
       main part of the description be put in a specific section
       of the description called "Sequence Listing Free Text".  
 
  Recommended id = 'seqt'                                          

			-->
<!ELEMENT sequence-list-text (heading* , p+)+>

<!ATTLIST sequence-list-text  id ID  #IMPLIED >
<!--
  Article 33(4): "For purposes of the international preliminary
  examination, a claimed invention shall be considered industrially
  applicable if, according to its nature, it can be made or used
  (in the technological sense) in any kind of industry.

  Recommended id = 'inap'                                          

			-->
<!ELEMENT industrial-applicability (heading* , p+)+>

<!ATTLIST industrial-applicability  id ID  #IMPLIED >
<!--
  PCT Rule 5.1(a)(vi): "The description shall...indicate explicitly,
  when it is not obvious from the description or nature of the 
  invention, the way in which the invention is capable of exploitation
  in industry and the way in which it can be made and used..."

  Recommended id = 'mode'                                          

			-->
<!ELEMENT mode-for-invention (heading* , p+)+>

<!ATTLIST mode-for-invention  id       ID     #IMPLIED
                                mode-num CDATA  #IMPLIED >
<!--
 the best mode contemplated by the applicant for carrying out the 
 invention claimed.

 Recommended id = 'bmod'                                           

			-->
<!ELEMENT best-mode (heading* , p+)+>

<!ATTLIST best-mode  id ID  #IMPLIED >
<!--
  disclosure of the invention with sub-headings:
      technical problem;
      technical solution;
      advantageous effects (of the invention);

 Recommended id = 'disc'                                          

			-->
<!ELEMENT disclosure ((tech-problem | tech-solution | advantageous-effects)* 
                    | (heading* , p+)+)>

<!ATTLIST disclosure  id ID  #IMPLIED >
<!--
  advantageous effects of the invention (PCT Rule 5.1(a)(iii) 

  Recommended id = 'adve'                                          

			-->
<!ELEMENT advantageous-effects (heading* , p+)+>

<!ATTLIST advantageous-effects  id ID  #IMPLIED >
<!--
  the solution to the problem that the invention purports to solve.
  (PCT Rule 5.1(a)(iii)                                            

			-->
<!ELEMENT tech-solution (heading* , p+)+>

<!ATTLIST tech-solution  id ID  #IMPLIED >
<!--
  the problem the invention purports to solve (Rule 5.1(a)(iii)    

			-->
<!ELEMENT tech-problem (heading* , p+)+>

<!ATTLIST tech-problem  id ID  #IMPLIED >
<!--
  Brief description of the drawings (Rule 5.1(a)(iv)
  Recommended id = 'desd'                                          

			-->
<!ELEMENT description-of-drawings (heading* , p+)+>

<!ATTLIST description-of-drawings  id ID  #IMPLIED >
<!--
  Background art, background of the invention.
  Recommended id = 'bart'                                          

			-->
<!ELEMENT background-art (heading* , p+)+>

<!ATTLIST background-art  id ID  #IMPLIED >
<!--
  PCT Rule 5.1:
      (a) The description shall first state the title of the invention
          as appearing in the request and shall:
         (i) specify the technical field to which the invention relates 

			-->
<!ELEMENT technical-field (heading* , p+)+>

<!ATTLIST technical-field  id ID  #IMPLIED >
<!--
  paragraph 
      Recommended id  = p01, p02, etc.        
                  num = 001, 002, etc.                                 
		
			-->
<!ELEMENT p (#PCDATA | b | i | u | sup | sub | smallcaps | br | dl | ul | ol | figref
           | patcit | nplcit | bio-deposit | crossref | img | chemistry | maths 
           | tables | table-external)*>

<!ATTLIST p  id  ID     #IMPLIED
               num CDATA  #REQUIRED >
<!--
   References a stand-alone table authored with the table-external DTD.

			
			
			-->
<!ELEMENT table-external (#PCDATA) >

<!ATTLIST table-external  id       ID     #IMPLIED
                            file     CDATA  #REQUIRED
                            lang     CDATA  #IMPLIED
                            status   CDATA  #IMPLIED
                            carriers  (internal-electronic | 
                                       external-electronic | 
                                       paper )  #IMPLIED >
<!--
  TABLES
  This is image data or coded according to OASIS Exchange model
  with modified cell 'entry' content
 
  Recommended id = tabl01, tabl02, etc.                               

			-->
<!ELEMENT tables (img | table)>

<!ATTLIST tables  id  ID     #IMPLIED
                    num CDATA  #REQUIRED >
<!--
  a reference to a figure; e.g.,
  "...as shown in <figref idref="f01">figure <b>1</b></figref>..."  

			-->
<!ELEMENT figref (#PCDATA | b | i | u | sup | sub | smallcaps)*>

<!ATTLIST figref  idref IDREFS  #IMPLIED
                    num   CDATA   #IMPLIED >
<!--
  definition list 

  Recommended id = dlis01, dlis02, etc.                            

			-->
<!ELEMENT dl (dt , dd)+>

<!ATTLIST dl  tsize   NMTOKEN  #IMPLIED
                compact  (compact )  #IMPLIED
                id      ID       #IMPLIED >
<!--
  term to be defined

  Recommended id = dtrm01, dtrm02, etc.                            

			-->
<!ELEMENT dt (#PCDATA | b | i | u | sup | sub | smallcaps)*>

<!ATTLIST dt  id ID  #IMPLIED >
<!--
 Unordered Lists
     list-style may be empty for lists with no bullet or other symbol
     default list-style is 'bullets'
     Recommended id = ulis01, ulis02, etc.                               

			-->
<!ELEMENT ul (li+)>

<!ATTLIST ul  id         ID  #IMPLIED
                list-style  (bullet | dash | none )  'bullet'
                compact     (compact )  #IMPLIED >
<!--
  list item
  Recommended id = list01, list02, etc.                            

			-->
<!ELEMENT li (#PCDATA | b | i | u | sup | sub | smallcaps | br | patcit | nplcit 
            | bio-deposit | crossref | img | dl | ul | ol | chemistry | maths)*>

<!ATTLIST li  id ID  #IMPLIED >
<!--
 MATHEMATICS 
 This is image data or coded according to mathml, version 2
     
 Recommended id = math01, math02, etc.                             

			-->
<!ELEMENT maths (img | math)>

<!ATTLIST maths  id  ID     #IMPLIED
                 num CDATA  #REQUIRED >
<!--
  chemistry
  Chemical formulae, ring structures, Markush structures, etc.
  For now treat as image data.
  Depending on industry support we may use, e.g., chemML, CML later

  Recommended id = chem01, chem02, etc                             

			-->
<!ELEMENT chemistry (img)>

<!ATTLIST chemistry  id  ID     #IMPLIED
                       num CDATA  #REQUIRED >
<!--
  Ordered Lists: 
  attribute 'ol-style' -  recommded use:

    1   arablic numbers     1, 2, 3, ...
    a   lower alpha         a, b, c, ...
    A   upper alpha         A, B, C, ...
    i   lower roman         i, ii, iii, ...
    I   upper roman         I, II, III, ...

			-->
<!ELEMENT ol (li+)>

<!ATTLIST ol  id       ID     #IMPLIED
                compact   (compact )  #IMPLIED
                ol-style CDATA  #IMPLIED >
<!--
  image data
  image is used for any kind of image: art work, figures, 
  complex work units (math, tables, chemistry), etc.

  Recommended: 
    id     = i01, i02, etc.  
    he, wi = "11" - milimeters - height, width;
    file   = file name,location;
    label  - not used;
    alt    = alternate text if image not shown;
    img-content = drawing is the default;
    img-format  = common will be tiff, st33 and st35 in for backward
                  compatibilty and, later, publication.            
    orientation = orientation of the image (portrait | landscape).  Default is portrait 
    inline = (yes | no).  Whether the image is to be presented inline or separated by line breaks.  Default is no
			
			
			-->
<!ELEMENT img EMPTY>

<!ATTLIST img  id          ID       #IMPLIED
                 he          NMTOKEN  #REQUIRED
                 wi          NMTOKEN  #REQUIRED
                 file        CDATA    #REQUIRED
                 alt         CDATA    #IMPLIED
                 img-content  (drawing | photograph | character | dna | undefined )  'drawing'
                 img-format   (jpg | tif | st33 | st35 )  #REQUIRED
                 orientation  (portrait | landscape )  'portrait'
                 inline       (yes | no )  'no' >
<!--
  Cross reference to any other element with an identifier (id)     

			-->
<!ELEMENT crossref (#PCDATA)>

<!ATTLIST crossref  idref CDATA  #REQUIRED >
<!--
  biological deposit citation
  (US EFS: biological-deposit)
  According to PCT Rule 13bis, EPC Rule 28
  This covers all bio data references long and short
  within the description and/or claims

  Recommended id = biod01, biod02, etc.                            
			
			-->
<!ELEMENT bio-deposit (depositary , bio-accno , date? , term? , dtext?)>

<!ATTLIST bio-deposit  id   ID     #IMPLIED
                         num  CDATA  #REQUIRED
                         url  CDATA  #IMPLIED
                         dnum CDATA  #IMPLIED >
<!--

      Non-Patent Literature (NPL) CITation;
      Notes:
       This can be free text data without any structure (#PCDATA)
        which is NOT recommended
      or it can be highly structured data which is marked up
      according to ST.14 and ISO 690 layout;

      This part of the DTD has used many different sources
      for element names and DTD structure and reference:
      AACR2 / MARC
      ISO 12083 - Electronic manuscript prep. and markup. DTD
      Association of American Publishers (AAP) Z39.59 DTD
      European Working Group for SGML (EWS) MAJOUR DTD
      SuperJournal Full Article DTD www.superjournal.ac.uk/sj
      Elsevier DTD
      Medline DTD (NLM)            

      Attributes (recommended):
          id - ncit1, ncit2, etc
           num - 0001, 0002
        The TYPE of citation is office specific:
        (recommended):;
          A - Abstract citation of no specific kind
          B - Book citation
          I - Bilogical abstract citation
          C - Chemical abstracts citation
          E - Database citation
          D - Derwent citation
          P - Patent cited within NPL group
          J - Patent Abstracts of Japan citation (REC 067)
          S - Serial / Journal / Periodical citation
          W - World Wide Web / Internet search citation

        medium - the type of medium eg.
               CD (CD-ROM), MT (Magnetic Tape), DISK, ONLINE
        file - file name on local systems eg. XP number in EPO
        url  - where possible give full web link to document           

			-->
<!ELEMENT nplcit (text | (article | book | online | othercit)*)>

<!ATTLIST nplcit  id       ID     #IMPLIED
                    num      CDATA  #REQUIRED
                    npl-type CDATA  #IMPLIED
                    medium   CDATA  #IMPLIED
                    file     CDATA  #IMPLIED
                    url      CDATA  #IMPLIED >
<!--
  Reference number (general); for the EPO this is the XP number    

			-->
<!ELEMENT refno (#PCDATA)>

<!ATTLIST refno  id ID  #IMPLIED >
<!--
  author
  Prime responsibility for the work
  there is no distinguishing between personal and corporate authors
  <author> followed by name or addressbook information
  use the ID attribute if, for example, there is a need to
  distinguish between multiple authors. Can also include
  affiliation details

  Recommended id = auth01, auth02, etc.	
	
			
			-->
<!ELEMENT author (%name_group; | addressbook)>

<!ATTLIST author  id ID  #IMPLIED >
<!--
  ADDRESSBOOK GROUP: 
  Holds name and contact information for individuals/organizations

  The LANG attribute is REQUIRED for certain document types, e.g.
  the JPO PCT Request where names and addresses may be repeated in
  two different languages. If no structure possible use text.      			
			
			
			-->
<!ELEMENT addressbook ((%name_group; , address , phone* , fax* , email* , url* , ead* 
                       , dtext?) | text)>

<!ATTLIST addressbook  lang CDATA  #REQUIRED >
<!--
  PATENT CITATIONS:
  Patent Citation within abstract, description or claims.
  For patent citations within Search Report see Search Report DTD
  Notes:
  Tags arranged according to WIPO ST.14 order.
  This can be free text data without any structure (text).

   Example:
   <patcit id="pcit1" dnum="US4793675A" dnum-type="publication number">
   <document-id><country>US</country>
   <doc-number>4793675</doc-number><kind>A</kind>
   <name>Handa</name>
   <date>19881227</date></document-id>
   </patcit>

  Note: it is NOT expected that the applicant will create the
  tagged data - it could be generated from a 'pull down'
  data entry form or generated from internal SR databases

  Attributes (recommended):
	 id   - pcit01, pcit02, etc.
        num - 001, 002, etc.
	 dnum - use full number as one string, eg, "US5401234A";
	 url  - where possible give full web link to patent
	 file - file name eg. if stored on local systems           
        dnum-type - type of document number (e.g., application number, publication number)
			
			
			-->
<!ELEMENT patcit (text | (document-id , rel-passage*))>

<!ATTLIST patcit  id        ID     #IMPLIED
                    dnum      CDATA  #IMPLIED
                    file      CDATA  #IMPLIED
                    url       CDATA  #IMPLIED
                    num       CDATA  #REQUIRED
                    dnum-type CDATA  #IMPLIED >
<!--
  Document identification refers to patents (and patent
  applications) only.  See WIPO ST.14                              

			-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >
<!--
  name: if no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate
  (legal entity) names                                              

			-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type  (legal | natural )  #IMPLIED >
<!--
  heading text; see Rule 5.  Recommended id = h01, h02, etc.       

			-->
<!ELEMENT heading (#PCDATA | b | i | u | sup | sub | smallcaps)*>

<!ATTLIST heading  level  (1 | 2 | 3 )  #IMPLIED
                     id    ID  #IMPLIED >
<!--
  Title of the Invention: preferably two to seven words when
  in English or translated into English and precise. (Rule 4.3)

  Recommended id = 'invt'                                          

			-->
<!ELEMENT invention-title (#PCDATA | b | i | u | sup | sub)*>

<!ATTLIST invention-title  id   ID     #IMPLIED
                             lang CDATA  #IMPLIED >
<!--
  underscore: style - single is default                  		
			
			-->
<!ELEMENT u (#PCDATA | b | i | smallcaps)*>

<!ATTLIST u  style  (single | double | dash | dots )  'single' >
<!--
  doc-page - DOCument or PAGE

  This is primarily to be used when data for the whole or
  major sections of an application are in image format 
  OR other formats such as pdf. Page range attributes are 
  given when required pp- page range ppf - first page 
  ppl - last page (for pdf). The 'img' may also be used 
  for complete pages, eg. in drawings 

  Recommended id = docp01, docp02, etc.                             

			
			-->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID       #IMPLIED
                      he          NMTOKEN  #REQUIRED
                      wi          NMTOKEN  #REQUIRED
                      type         (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA    #IMPLIED
                      pp          CDATA    #IMPLIED
                      ppf         CDATA    #IMPLIED
                      ppl         CDATA    #IMPLIED
                      file        CDATA    #REQUIRED
                      color        (color | bw )  #IMPLIED
                      orientation  (portrait | landscape )  'portrait' >
<!--
  drawings: PCT Article 7 / Rule 7
  Drawings shall be required when they are necessary for
  the understanding of the invention.                  

  Recommended id = 'draw'                                          

			-->
<!ELEMENT drawings (doc-page+ | figure+)>

<!ATTLIST drawings  %body_sections; >
<!--
  ABSTRACT: PCT Rule 8
  A concise summary of the disclosure, 50-150 words.

  Recommended id = 'abst'                                          

			-->
<!ELEMENT abstract (doc-page+ | (abst-problem , abst-solution) | p+)>

<!ATTLIST abstract  %body_sections; >
<!--
  claims:
  the claims shall define the matter sought for patent and be
  supported by the description.                           

  Recommended id = 'claim'                                         

			-->
<!ELEMENT claims (doc-page+ | claim+)>

<!ATTLIST claims  %body_sections; >
<!--
 The text of the claim; also used for for sub-para indentation     

			-->
<!ELEMENT claim-text (#PCDATA | claim-text | claim-ref | b | i | u | sup | sub 
                    | smallcaps | br | crossref | img | chemistry | maths | tables)*>

<!--
  br - break, line break within a paragraph                        

			-->
<!ELEMENT br EMPTY>

<!--
  description:
  The description must disclose the invention in a manner
  sufficiently clear and complete for it to be carried out
  by a person skilled in the art (Rule 5). 
     
  Recommended id = 'desc'                                          

			-->
<!ELEMENT description (doc-page+ | (invention-title? , (technical-field
                     | background-art | disclosure | description-of-drawings 
                     | best-mode | mode-for-invention | industrial-applicability 
                     | sequence-list-text | (heading* , p+)+)+))>

<!ATTLIST description  %body_sections; >
<!--
  definition description                                           

			-->
<!ELEMENT dd (#PCDATA | b | i | u | sup | sub | smallcaps | br | patcit | nplcit 
            | bio-deposit | crossref | img | ul | ol | chemistry | maths)*>

<!--
  identifies the period of time during which the depository must 
  be able to furnish samples of the biological material. 

			-->
<!ELEMENT term (#PCDATA)>

<!--
 biological accession number:  the identification assigned 
 to the biological material by the depository                      

			-->
<!ELEMENT bio-accno (#PCDATA)>

<!--
  information regarding the facility storing the biological deposit

			-->
<!ELEMENT depositary (#PCDATA | address)*>

<!--
  other citations - free form                                      

			-->
<!ELEMENT othercit (#PCDATA)>

<!--
  online citation
      Revised according to ISO-690-2 - Electronic documents and parts thereof.
      Please refer to this standard for definitions and examples.
      See: http://www.nlc-bnc.ca/iso/tc46sc9/standard/690-2e.htm#Contents
      The tagging in fact is a mixture of article and book tags
      together with specific electronic source tags
      'Online' is taken to mean any kind of electronic documentation:
      databases, internet, CD-Roms, DVD, email, etc
 
      EXAMPLES:;

      Kirk-Othmer Encyclopedia of Chemical Technology [online].
      3rd ed. New York : John Wiley, 1984 [cited 3 January 1990].
      Available from: DIALOG Information Services, Palo Alto (Calif.).
 
      <nplcit id="ncit1" num="0001" type="E" medium="online">
      <online>
      <online-title>Kirk-Othmer Encyclopedia of Chemical Technology
      </online-title>
      <edition>3rd ed.</edition>
      <imprint><address><text>New York</text>
      </address>
      <name>John Wiley</name>
      <pubdate>19840000</pubdate></imprint>
      <avail>dialog information services, palo alto (calif.).</avail>
      <datecit><date>19900103</date></datecit>
      </online>
      </nplcit>

      * Article on Internet:

      Clark, Carol. On the Threshold of a Brave New World.
      In Blueprint of the Body [online]. CNN.com, 2000. [cited 24 August 2000;
      10:25 EST]. In-depth specials.
      Available from: [http://www.cnn.com/SPECIALS/2000/genome/story/overview/]

      <nplcit id="ncit1" num="0002" type="E" medium="online">
      <online>
      <author><name>Clark, Carol</name></author>
      <online-title>On the Threshold of a Brave New World</online-title>
      <imprint><name>CNN.com, 2000</name></imprint>
      <series><text>In-depth specials</text></series>
      <avail>http://www.cnn.com/SPECIALS/2000/genome/story/</avail>
      <datecit><date>20000824; 10:25 est</date></datecit>
      </online>
      </nplcit>

      * Personal communication (e-mail)
 
      Thacker, Jane. MPEG-21 project stream on digital item identification [online].
      Message to: [iso.tc46.sc9@nlc-bnc.ca]. 3 October 2000; 13:33 EST [cited 6
      October 2000; 13:10 EST].
      Message-ID: [002f01c02d60$051a64a0$22a2580c@vaio]. Personal communication.
 

      <nplcit id="ncit3" num="0003" type="E" medium="online">
      <online>
      <author><name>Thacker, Jane</name></author>
      <online-title>MPEG-21 project stream on digital item identification
      </online-title>
      <subname><name>Message to: <iso.tc46.sc9@nlc-bnc.ca>
      </name></subname>
      <pubdate>3 October 2000; 13:33 EST</pubdate>
      <notes>Personal communication</notes>
      <avail>Message-ID: <002f01c02d60$051a64a0$22a2580c@vaio>
      </avail>
      <datecit><date>6 october 2000; 13:10 EST</date></datecit>
      </online>
      </nplcit>                                                        

			-->
<!ELEMENT online (text | (author* , online-title* , hosttitle? , subname? , edition?
               , (serial | book)? , imprint? , pubdate? , history? , series? , hostno?
               , location? , notes? , avail , class* , keyword* , cpyrt? , issn? , isbn? 
               , datecit? , srchterm* , srchdate? , refno*))>

<!--
  Date of search/retrieval  YYYYMMDD                               

			-->
<!ELEMENT srchdate (date)>

<!--
  Search terms                                                     

			-->
<!ELEMENT srchterm (#PCDATA)>

<!--
  date cited - date on which the citation was cited.
  May be different from srchdate below                             

			-->
<!ELEMENT datecit (date)>

<!--
  Availability and access - REQUIRED
  use for URL, online database, ftp address, email, etc.;
  e.g. Available from Internet: http://www.epoline.org
       Available from DIALOG Information Systems, Palo Alto (Calif.) 
        
			-->
<!ELEMENT avail (#PCDATA)>

<!--
  numeration within host document                                  

			-->
<!ELEMENT hostno (#PCDATA)>

<!--
  history of the article (not serial)                              

			-->
<!ELEMENT history (text | (received | accepted | revised | misc))>

<!--
  miscellaneous information relating to the history of the article; 
  see ISO 12083                                                    

			-->
<!ELEMENT misc (#PCDATA | date)*>

<!--
  date article was revised                                         

			-->
<!ELEMENT revised (date)>

<!--
  date article was accepted                                        

			-->
<!ELEMENT accepted (date)>

<!--
  date article was received                                        

			-->
<!ELEMENT received (date)>

<!--
  title of the host document/database                              

			-->
<!ELEMENT hosttitle (#PCDATA)>

<!--
  the title of the electronic resource                             

			-->
<!ELEMENT online-title (#PCDATA)>

<!--
  article citations within a 'host' document

  After patent citations the most common citations are
  articles within serials (periodicals, magazines), books and
  electronic (eg. internet) sources.
  This is a very complex and varied area to standardise.
  The tag set below is drawn from a number of sources as is
  the order of the tags (which in any case can be changed
  depending on the stylesheet used).;

  The order of tags is that of WIPO ST.14 / ISO 690 layout
     DROP, J.G.  Integrated Circuit Personalization at
     the Module Level. IBM Tech. Dis. Bull.  October 1974,
     Vol. 17, No. 5, p. 1344 and 1345.
     [XPnnnnnnnnnnn].

   <nplcit id="ncit1" num="0012" type="S" file="XP1234456">
   <article>
   <author>
   <name>DROP, J.G.</name></author>
   <atl>Integrated Circuit Personalization at the Module Level</atl>
   <serial>
   <sertitle>IBM Tech. Dis. Bull.</sertitle>
   <pubdate>19741000</pubdate>
   <vid>17</vid>
   <ino>5</ino>
   </serial>
   <location><pp>1344 and 1345</pp></location>
   <refno id="XP1">XP1234456</refno>
   </article>
   </nplcit>

  Note: it is NOT expected that the applicant will create the
        tagged data - it can be generated from a 'pull down'
        data entry form (eg. in Word) or generated from
	    internal SR databases                                

			-->
<!ELEMENT article (text | (author* , atl? , subname? , (serial | book) , absno?
                 , location? , class* , keyword* , cpyrt? , artid? , refno*))>

<!--
  Article unique ID - assigned by a publisher to an article        

			-->
<!ELEMENT artid (#PCDATA)>

<!--
  book citation 
  In the order specified by WIPO ST.14 and ISO 690
  and AACR2 rules for layout

  WALTON, Herrmann. Microwave quantum theory.
  London : Sweet and Maxwell, 1973. ISBN 0123456789.
  Vol.2, p. 138 to 192.

  <nplcit id="ncit12" num="0013" type="b">
  <book>
  <author>
  <name>WALTON, Herrman</name></author>
  <book-title>Microwave quantum theory</book-title>
  <imprint><address><text>London</text></address>
  <name>Sweet and Maxwell</name>
  <pubdate>19730000</pubdate></imprint>
  <location><pp>138 to 192</pp></location>
  <isbn>0-1234-568-9</isbn>
  </book>
  </nplcit>                                                        

			-->
<!ELEMENT book (text | (author* , (book-title+ | conference) , (subtitle? , subname*
              , edition? , imprint? , descrip? , series? , absno? , location* 
              , isbn* , pubid? , vid? , bookno? , notes? , class* , keyword* 
              , cpyrt? , refno*)))>

<!--
  Keyword; e.g., from a Thesaurus or class. scheme                 

			-->
<!ELEMENT keyword (#PCDATA)>

<!--
  classification code; e.g. ipc, dewey etc.                        

			-->
<!ELEMENT class (#PCDATA)>

<!--
  book number                                                      

			-->
<!ELEMENT bookno (#PCDATA)>

<!--
  location within the cited work                                   

			-->
<!ELEMENT location (text | (serpart? , sersect? , chapter? , pp? , column? , para? , line?))>

<!--
  referenced line within cited work                                

			-->
<!ELEMENT line (#PCDATA | linef | linel)*>

<!--
  cited document line, last                                        

			-->
<!ELEMENT linel (#PCDATA)>

<!--
  cited document line, first                                       

			-->
<!ELEMENT linef (#PCDATA)>

<!--
  referenced paragraph within cited work                           

			-->
<!ELEMENT para (#PCDATA | paraf | paral)*>

<!--
  cited paragraph, last                                            

			-->
<!ELEMENT paral (#PCDATA)>

<!--
  cited paragraph, first                                           

			-->
<!ELEMENT paraf (#PCDATA)>

<!--
  cited document column numbers                                    

			-->
<!ELEMENT column (#PCDATA | colf | coll)*>

<!--
  cited document column, last                                      

			-->
<!ELEMENT coll (#PCDATA)>

<!--
  cited document column, first                                     

			-->
<!ELEMENT colf (#PCDATA)>

<!--
 cited document page numbers                                       

			-->
<!ELEMENT pp (#PCDATA | ppf | ppl)*>

<!--
  cited document page, last                                        

			-->
<!ELEMENT ppl (#PCDATA)>

<!--
  cited  document page , first                                      

			-->
<!ELEMENT ppf (#PCDATA)>

<!--
  chapter, e.g., in a book.  Example: Chapter 2                     

			-->
<!ELEMENT chapter (#PCDATA)>

<!--
  serial section                                                   

			-->
<!ELEMENT sersect (#PCDATA)>

<!--
  part within a serial                                             

			-->
<!ELEMENT serpart (#PCDATA)>

<!--
  Abstract number                                                  

			-->
<!ELEMENT absno (#PCDATA)>

<!--
  series statement                                                 

			-->
<!ELEMENT series (text | (mst , msn? , issn?))>

<!--
  monographic series number                                        

			-->
<!ELEMENT msn (#PCDATA)>

<!--
  monographic series title                                         

			-->
<!ELEMENT mst (#PCDATA)>

<!--
  edition statement                                                

			-->
<!ELEMENT edition (#PCDATA)>

<!--
  book subtitle                                                    

			-->
<!ELEMENT subtitle (#PCDATA)>

<!--
  CONFERENCE GROUP / CITATION
  There is no standard way of citing conference proceedings;
  date of the conf. may come before or after place, for example.
  The tags are specified in a set order where it is not possible 
  or correct then simply use <text> 

			-->
<!ELEMENT conference (text | (conftitle , date? , confno? , confplace? , confsponsor*))>

<!--
  Conference sponsor                                               

			-->
<!ELEMENT confsponsor (#PCDATA | addressbook)*>

<!--
  Conference place                                                 

			-->
<!ELEMENT confplace (#PCDATA | address)*>

<!--
   Conference number                                               

			-->
<!ELEMENT confno (#PCDATA)>

<!--
  Conference title                                                 

			-->
<!ELEMENT conftitle (#PCDATA)>

<!--
 the title of the cited book                                      

			-->
<!ELEMENT book-title (#PCDATA)>

<!--
  serial citation data:
  this describes the volume or issue as a whole and not a
  particular article within it.                                    

			-->
<!ELEMENT serial (sertitle , alttitle? , subname? , issue? , imprint? , pubdate?
                , descrip? , notes? , issn? , isbn? , pubid? , vid? , ino? , cpyrt?)>

<!--
  copyright info.  Copyright of publisher of serial                

			-->
<!ELEMENT cpyrt (#PCDATA)>

<!--
  issue number                                                     

			-->
<!ELEMENT ino (#PCDATA)>

<!--
  Volume id/number                                                 

			-->
<!ELEMENT vid (#PCDATA)>

<!--
  Publisher's unique id                                            

			-->
<!ELEMENT pubid (#PCDATA)>

<!--
  International standard book number                               

			-->
<!ELEMENT isbn (#PCDATA)>

<!--
  International standard serial number                             

			-->
<!ELEMENT issn (#PCDATA)>

<!--
  notes about the journal; e.g. Continues Journal of XYZ 1910-1998,
  published in French and English, etc.                            

			-->
<!ELEMENT notes (#PCDATA)>

<!--
  Physical description - generally NOT used in citations in pats.
  eg. v., 27cm                                                     

			-->
<!ELEMENT descrip (#PCDATA)>

<!--
  imprint:
  Publication / creation data
  Place of publication : publisher, date(s) of publication
  usually only date of publication is used for journal citations   

			-->
<!ELEMENT imprint (text | (address? , name , pubdate*))>

<!--
  publication date used in npl citations                           

			-->
<!ELEMENT pubdate (#PCDATA | sdate | edate | time)*>

<!--
  time; format HHMM                                                

			-->
<!ELEMENT time (#PCDATA)>

<!--
  end date used in pubdate                                         

			-->
<!ELEMENT edate (#PCDATA)>

<!--
  start date used in pubdate                                       

			-->
<!ELEMENT sdate (#PCDATA)>

<!--
  issue designation; e.g.: Annual, 1971-, 1890-1972                

			-->
<!ELEMENT issue (#PCDATA)>

<!--
  Alternate title for serial eg. BMJ = British Medical Journal     

			-->
<!ELEMENT alttitle (#PCDATA)>

<!--
  serial title                                                     

			-->
<!ELEMENT sertitle (#PCDATA)>

<!--
  Subordinate responsibility,  e.g. editor, translator, etc.       

			
			-->
<!ELEMENT subname (%name_group; | addressbook)>

<!--
article title                                                    

			-->
<!ELEMENT atl (#PCDATA)>

<!--
  Descriptive text                                                 

			-->
<!ELEMENT dtext (#PCDATA)>

<!--
  Universal Resource Locator; e.g. www.wipo.int                    

			-->
<!ELEMENT url (#PCDATA)>

<!--
  fax number                                                       

			-->
<!ELEMENT fax (#PCDATA)>

<!--
  telephone number                                                 

			-->
<!ELEMENT phone (#PCDATA)>

<!--
  email address                                                    

			-->
<!ELEMENT email (#PCDATA)>

<!--
  electronic address use for other than email                      

			-->
<!ELEMENT ead (#PCDATA)>

<!--
  address components:
  Address formats differ from country to country
  If no structure possible use text                                

			
			
			-->
<!ELEMENT address (%address_group;)>

<!--
  postal code or zip code                                          

			-->
<!ELEMENT postcode (#PCDATA)>

<!--
  Region of country eg. state, province, etc.                      

			-->
<!ELEMENT state (#PCDATA)>

<!--
  County, parish, department, etc (mainly UK, USA)                 

			-->
<!ELEMENT county (#PCDATA)>

<!--
  City or town name                                                

			-->
<!ELEMENT city (#PCDATA)>

<!--
  street may contain house number or name                          

			-->
<!ELEMENT street (#PCDATA)>

<!--
  building information in address, e.g., Hoffman building          

			-->
<!ELEMENT building (#PCDATA)>

<!--
  address floor, e.g., 10th                                        

			-->
<!ELEMENT address-floor (#PCDATA)>

<!--
  address room; e.g., Room 55B                                     

			-->
<!ELEMENT room (#PCDATA)>

<!--
  Post Office Box number                                           

			-->
<!ELEMENT pobox (#PCDATA)>

<!--
  organizational mail code                                         

			-->
<!ELEMENT mailcode (#PCDATA)>

<!--
  Address, third line                                              

			-->
<!ELEMENT address-3 (#PCDATA)>

<!--
  Address, second line                                             

			-->
<!ELEMENT address-2 (#PCDATA)>

<!--
  Address, first line                                              

			-->
<!ELEMENT address-1 (#PCDATA)>

<!--
  registered number                                                

			-->
<!ELEMENT registered-number (#PCDATA)>

<!--
  synonym                                                          

			-->
<!ELEMENT synonym (#PCDATA)>

<!--
  department, division, section, etc. name                         

			-->
<!ELEMENT department (#PCDATA)>

<!--
  organisation name or company name                                

			-->
<!ELEMENT orgname (#PCDATA)>

<!--
  role, e.g. President, Chairman, etc.                             

			-->
<!ELEMENT role (#PCDATA)>

<!--
  individual id                                                    

			-->
<!ELEMENT iid (#PCDATA)>

<!--
  name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)                

			-->
<!ELEMENT suffix (#PCDATA)>

<!--
  middle name(s) or initial(s)                                     

			-->
<!ELEMENT middle-name (#PCDATA)>

<!--
  First or given name(s), initial(s)                               

			-->
<!ELEMENT first-name (#PCDATA)>

<!--
  last, family, surname                                            

			-->
<!ELEMENT last-name (#PCDATA)>

<!--
 title: e.g., Mr., Mrs., Dr. etc                                   

			-->
<!ELEMENT prefix (#PCDATA)>

<!--
  Relevant passage group within patent; most used in search 
  reports - use text in abstract, description and claims           

			-->
<!ELEMENT rel-passage (text | (passage+ , category? , rel-claims?)+)>

<!--
  relevant claims                                                  

			-->
<!ELEMENT rel-claims (#PCDATA)>

<!--
 

			-->
<!ELEMENT category (#PCDATA)>

<!--
  passage within the cited patent literature                       

			-->
<!ELEMENT passage (#PCDATA)>

<!--
  date: components of a date.  Format: YYYYMMDD                    

			-->
<!ELEMENT date (#PCDATA)>

<!--
  document kind code; e.g. A1                                      

			-->
<!ELEMENT kind (#PCDATA)>

<!--
  the number of the referenced patent (or application) document    

			-->
<!ELEMENT doc-number (#PCDATA)>

<!--
  Country: use ST.3 country code, e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO                                             

			-->
<!ELEMENT country (#PCDATA)>

<!--
  if no structure is possible, enter text (without markup)         

			-->
<!ELEMENT text (#PCDATA)>

<!--
  subscripted text                                                 

			-->
<!ELEMENT sub (#PCDATA | b | u | i)*>

<!--
  superscripted text                                               

			-->
<!ELEMENT sup (#PCDATA | b | u | i)*>

<!--
  bold formatting for text                                         			
			
			-->
<!ELEMENT b (#PCDATA | i | u | smallcaps)*>

<!--
  italic formatting for text                                        			
			
			-->
<!ELEMENT i (#PCDATA | b | u | smallcaps)*>

<!--
  small capitals		
			
			-->
<!ELEMENT smallcaps (#PCDATA | b | u | i)*>

