procedures/common/annexf/dtd/WIPO-1.16/declaration-v1-6.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--
********************************************************************************
*  declaration v1.6     2017  JULY                                             *
********************************************************************************
*  PUBLIC "-//WIPO//DTD DECLARATION 1.6//EN" "declaration-v1-6.dtd"            *
********************************************************************************
*  https://www.wipo.int/pct-safe/en/resources/1.15/declaration-v1-6.dtd        *
********************************************************************************
* contact:                                                                     *
*   WIPO: Yukako SHIBA; yukako.shiba@wipo.int                                  *
********************************************************************************
* revision history                                                             *
********************************************************************************
Asahi HASEBE: 01/07/17 incorporated changes from PFCs:
..changed version number from v1.5 to v1.6
..added attribute 'id' to lack-of-novelty, entitlement-to-claim-priority, entitlement-to-be-granted-patent, signatory and matter-name 
MO: 01/07/08 incorporated changes from PFCs:
..changed version number from v1.4 to v1.5
..added attribute 'email-purpose' to email (PFC08/006)
MO: 01/01/07 incorporated changes from PFCs:
..changed version number from v1.3 to v1.4
..implementation of PFC06/001
..changed element '(all-designations | all-designations-except-us | designated-status)'
  to '(all-designations | all-designations-except-us | designated-status)?'
  in identity-of-inventor (PFC06/002)
..changed element '(all-designations | all-designations-except-us | designated-status)'
  to '(all-designations | all-designations-except-us | designated-status)?'
  in matter (PFC06/002)
..changed element '(all-designations | designated-status)'
  to '(all-designations | designated-status)?' in lack-of-novelty (PFC06/002)
..added element 'sup' to u (PFC06/003)
..added element 'sup' to i (PFC06/003)
..added element 'sup' to b (PFC06/003)
..added element 'sub' to u (PFC06/003)
..added element 'sub' to i (PFC06/003)
..added element 'sub' to b (PFC06/003)
..added element 'o' to invention-title, b, i, sup, sup2, sub, sub2, heading, claim-text,
  p, small-caps, dt, dd, li, crossref, figref, othercit, statement (PFC06/003)
..added element 'address-4' to address (PFC06/005)
..added element 'address-5' to address (PFC06/005)
MO: 29/09/05 incorporated changes from PFCs:
..changed version number from v1.2 to v1.3
..changed occurrence of 'addressbook' in 'inventor-info' from '+' to '*'.
HT: 14/12/04 incorporated changes from PFCs:
..changed attribute he, wi of doc-page from 'NMTOKEN' to 'CDATA'
..added attribute 'id' to addressbook, application-reference
..added attribute 'ocr' to doc-page
HT: 20/07/04 incorporated changes from PFCs:
..changed version number from v1.1 to v1.2
..changed attribute lang of addressbook from '#REQUIRED' to '#IMPLIED'
JD: 03/02/03 incorporated changes from PFCs:
..changed version number from v1.0 to v1.1
..added attribute 'file-reference-id' to root
..added attribute 'orientation' to doc-page
..added attribute 'lang', 'sequence' to lack-of-novelty
..added attribute 'tense' to matter
..added (last-name | orgname) option to %name_group;
..made postcode optional within address
December 2001
..released version number as v1.0

********************************************************************************

DECLARATION

Attributes: 
  lang              = language of application - use ISO639 language code
  dtd-version       = dtd version number
  file              = filename of the whole application
  status            = status of the application; values: new = new application
  date-produced     = date this document was produced
  file-reference-id = applicant's or agent's file reference, if any

-->
<!ELEMENT declaration (identity-of-inventor | entitlement-to-be-granted-patent | entitlement-to-claim-priority | inventorship | lack-of-novelty)+>

<!ATTLIST declaration  lang              CDATA  #REQUIRED
                         dtd-version       CDATA  #IMPLIED
                         file              CDATA  #IMPLIED
                         date-produced     CDATA  #IMPLIED
                         file-reference-id CDATA  #IMPLIED
                         status            CDATA  #IMPLIED >

<!--
  Declaration as to non-prejudical disclosures or exceptions to lack of novelty
  (PCT Rules 4.17(v) and 51bis.1(a)(v))

-->
<!ELEMENT lack-of-novelty (doc-page+ | (application-reference? , %name_group; , ((date | address | title-of-disclosure | method-of-disclosure | dtext)+ , (all-designations | designated-states)?)))>

<!ATTLIST lack-of-novelty  sequence CDATA  #REQUIRED
                             lang     CDATA  #IMPLIED
                             id     ID  #IMPLIED >

<!--
  Declaration of inventorship.  For purposes of the United States the declaration
  shall be worded with the original and first inventor clause.

-->
<!ELEMENT inventorship (doc-page+ | (application-reference? , earlier-app-reference* , inventor-info+ , signatories? , dtext?))>

<!ATTLIST inventorship  sequence CDATA  #REQUIRED
                          lang     CDATA  #IMPLIED >

<!--
  A signature represented by electronic means

-->
<!ELEMENT electronic-signature (basic-signature | enhanced-signature)>

<!ATTLIST electronic-signature  date         CDATA  #REQUIRED
                                  place-signed CDATA  #IMPLIED >

<!--
  A TIFF image of a signature

-->
<!ELEMENT fax-image EMPTY>

<!ATTLIST fax-image  file CDATA  #REQUIRED >

<!--
  Declaration as applicant's entitlement, as at the international filing date, to
  claim the priority of the earlier application, where the applicant is not the
  applicant who filed the earlier application or where the applicant's name has
  changed since the filing of the earlier application.
  (Rules 4.17(iii) and 51bis.1(a)(iii))

-->
<!ELEMENT entitlement-to-claim-priority (doc-page+ | (application-reference? , %name_group; , earlier-app-reference , matter+))>

<!ATTLIST entitlement-to-claim-priority  sequence CDATA  #REQUIRED
                                           lang     CDATA  #IMPLIED 
                                           id     ID  #IMPLIED>

<!--
  Declaration as applicant's entitlement, as at the international filing date, to
  apply for and be granted a patent (Rules 4.17(ii) and 51bis.1(a)(ii)), in a case
  where the declaration under Rule 4.17(iv) is not appropriate

-->
<!ELEMENT entitlement-to-be-granted-patent (doc-page+ | (application-reference? , %name_group; , matter+))>

<!ATTLIST entitlement-to-be-granted-patent  sequence CDATA  #REQUIRED
                                              lang     CDATA  #IMPLIED
                                              combined        (yes | no )  #IMPLIED 
                                              id     ID  #IMPLIED>

<!--
  Section 212, 213. 
  Attribute 'item':  reason for entitlement.  See Sections 212, 213 for values.
    i)   (name) of (address) is the inventor of the subject matter for which
          protection is sought by way of [the] [this] international application
    ii)  (name) [is] [was] entitled as employer of the inventor, (inventor's name)
    iii)  an agreement between... (name) and ... (name), dated...
    iv)  an assignment from ... (name) to ...(name), dated...
    v)   consent from ... (name) in favor of ...(name), dated...
    vi)  a court order issued by ... (name of court), effecting a transfer from
          ... (name) to...(name), dated...
    vii)  transfer of entitlement from ...(name) to ...(name) by way of (specify
          kind of transfer), dated ...
    viii) the applicant's name changed from ...(name) to ...(name) on ...(date)

-->
<!ELEMENT matter ((date | matter-name | addressbook | court-name | kind-of-transfer)+ , (all-designations | all-designations-except-us | designated-states)?)>

<!ATTLIST matter  item    (i | ii | iii | iv | v | vi | vii | viii | ix )  #IMPLIED
                    tense   (is | was )  #IMPLIED >

<!--
  Declaration as to the identity of the inventor 
  (Rules 4.17(i) and 51bis.1(a)(i))

-->
<!ELEMENT identity-of-inventor (doc-page+ | (application-reference? , addressbook+ , (all-designations | all-designations-except-us | designated-states)?))>

<!ATTLIST identity-of-inventor  sequence CDATA  #REQUIRED
                                  lang     CDATA  #IMPLIED
                                  combined        (yes | no )  #IMPLIED >

<!--
  doc-page - DOCument or PAGE

  This is primarily to be used when data for the whole or major sections of an
  application are in image format OR other formats such as pdf.

  Page range attributes are given when required
    pp  - page range
    ppf - first page 
    ppl - last page (for pdf).
  The 'img' may also be used for complete pages, e.g. in drawings 

  Recommended id = docp0001, docp0002, etc.
  Attributes "he" and "wi" mean height and width. 


-->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID     #IMPLIED
                      he          CDATA  #REQUIRED
                      wi          CDATA  #REQUIRED
                      type               (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA  #IMPLIED
                      pp          CDATA  #IMPLIED
                      ppf         CDATA  #IMPLIED
                      ppl         CDATA  #IMPLIED
                      file        CDATA  #REQUIRED
                      ocr         CDATA  #IMPLIED
                      color              (color | bw )  #IMPLIED
                      orientation        (portrait | landscape )  'portrait' >

<!--
  ADDRESSBOOK GROUP: 
  Holds name and contact information for individuals/organizations

  The LANG attribute is REQUIRED for certain document types,
  e.g., the JPO PCT Request where names and addresses may be repeated in two
    different languages. If no structure possible use text.

-->
<!ELEMENT addressbook ((%name_group; , address , phone* , fax* , email* , url* , ead* , dtext?) | text)>

<!ATTLIST addressbook  id   ID     #IMPLIED
                         lang CDATA  #IMPLIED >

<!--
	Email address

	Attribute:
		email-purpose    reason for which email address is included:
informal     for informal contact only
general      for any type of communication
confirmation any type of communication, but formal messages followed up
             by conventional mailing (to the extent offered)
main         where applicant desires this address to be used as primary
             means of contact as a replacement of the use of conventional
             post (to the extent that an Office offers this)
		the default value depends on e-mail policies of the relevant Office. 
		For PCT purposes as at 1 July 2008, no attribute being included is 
		equivalent to 'informal'

-->
<!ELEMENT email (#PCDATA)>

<!ATTLIST email  email-purpose   (informal | general | advance | main )  #IMPLIED >

<!--
  Application reference information: application number, country
    (INID 21, ST.32:B210)

-->
<!ELEMENT application-reference (document-id)>

<!ATTLIST application-reference  id        ID     #IMPLIED
                                   appl-type CDATA  #IMPLIED >

<!--
  Document identification refers to patents (and patent applications) only.
  See WIPO ST.14

-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >

<!--
  Name:
  If no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate (legal entity) names

-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >

<!--
  Method by which prior art was disclosed to the public

-->
<!ELEMENT method-of-disclosure (international-exhibition | publication | abuse | other)>


<!--
  Other method by which prior art was disclosed to the public

-->
<!ELEMENT other (#PCDATA)>



<!--
  Exceptions to lack of novelty resulting from abuse; 
  Rule 51bis.1(a)(v)

-->
<!ELEMENT abuse (#PCDATA)>


<!--
  A publication was used as the method of disclosure

-->
<!ELEMENT publication (#PCDATA)>


<!--
  An international exhibition was used as the method of disclosure

-->
<!ELEMENT international-exhibition (#PCDATA)>


<!--
  Title of what is being disclosed under PCT Rule 51bis.1(a)(v)

-->
<!ELEMENT title-of-disclosure (#PCDATA)>


<!--
  Signatories

-->
<!ELEMENT signatories (signatory+)>


<!--
  PCT/RO/101 Box No. X:
  The signature must be that of the applicant (if there are several applicants, all
  must sign); however, the signature may be that of the agent, or the common
  representative, where a separate power of attorney appointing the agent or the
  common representative, respectively, or a copy of a general power of attorney is
  already in possession of the receiving Office, is furnished...
  (PCT Rules 4.1(d), 4.15, and 90)

  Indicate the capacity of the signer with 'signatory-capacity'

-->
<!ELEMENT signatory (%name_group; , address? , electronic-signature , signatory-capacity?)>

<!ATTLIST signatory
                  id ID #IMPLIED>


<!--
  The capacity in which the person signs

-->
<!ELEMENT signatory-capacity (#PCDATA)>


<!--
  A PKI / PKCS #7 digital signature data type

-->
<!ELEMENT enhanced-signature (pkcs7)>


<!--
  PKCS7 digital signature 

-->
<!ELEMENT pkcs7 EMPTY>


<!--
  A non-PKI electronic signature

-->
<!ELEMENT basic-signature (fax-image | text-string | click-wrap)>


<!--
  A simple 'signature';
  e.g., clicking a button labeled 'accept' or 'I agree'

-->
<!ELEMENT click-wrap EMPTY>


<!--
  A simple text string is to be used as the basic electronic signature;
  e.g., John Doe  <text-string>/jd/</text-string>

-->
<!ELEMENT text-string (#PCDATA)>


<!--
  Information regarding inventor(s)
    (INID 72, ST.32:B720)

-->
<!ELEMENT inventor-info (addressbook* , us-residence , authority-applicant?)>


<!--
  Identifies the authority for the applicant. In certain circumstances an inventor
  is unable to file his/her own patent application and an authorized individual must do so

-->
<!ELEMENT authority-applicant (#PCDATA)>


<!--
  Identifies the residence of a U.S. inventor

-->
<!ELEMENT us-residence (military-service | (us | non-us))>


<!--
  Identifies the residence of a U.S. inventor that does not reside in the U.S.

-->
<!ELEMENT non-us (city , country , citizenship?)>


<!--
  Identifies the residence of a US inventor that resides in the US

-->
<!ELEMENT us (city , state , country , citizenship?)>


<!--
  A person's status as a citizen of a country

-->
<!ELEMENT citizenship (#PCDATA)>


<!--
  Military address where the applicant is considered to reside

-->
<!ELEMENT military-service (#PCDATA)>


<!--
  Section 212(a)(vii): kind of transfer of entitlement

-->
<!ELEMENT kind-of-transfer (#PCDATA)>


<!--
  Name of court; e.g., U.S. Supreme Court

-->
<!ELEMENT court-name (#PCDATA)>


<!ELEMENT matter-name (%name_group;)>

<!ATTLIST matter-name
                  id ID #IMPLIED>



<!--
  Earlier application identification group

-->
<!ELEMENT earlier-app-reference (document-id)>


<!--
  Indication of specific Contracting States in or for which the applicant is
  seeking protection for his invention 
  (Rule 4.9(a))

-->
<!ELEMENT designated-states (country* , (region , country+)*)>


<!--
  The region for which protection or exclusion (depending upon context) is desired.

-->
<!ELEMENT region (country)>


<!--
  Designated states for which indications are made: all except United States

-->
<!ELEMENT all-designations-except-us EMPTY>


<!--
  All designations permitted by the Treaty are made  (Rule 4.9(b))

-->
<!ELEMENT all-designations EMPTY>


<!--
  Descriptive text

-->
<!ELEMENT dtext (#PCDATA)>


<!--
  Universal Resource Locator; e.g. www.wipo.int

-->
<!ELEMENT url (#PCDATA)>


<!--
  Fax number

-->
<!ELEMENT fax (#PCDATA)>


<!--
  Telephone number

-->
<!ELEMENT phone (#PCDATA)>


<!--
  Electronic address use for other than email

-->
<!ELEMENT ead (#PCDATA)>


<!--
  Address components:
  Address formats differ from country to country
  If no structure possible use text

-->
<!ELEMENT address (%address_group;)>


<!--
  If no structure is possible, enter text (without markup)

-->
<!ELEMENT text (#PCDATA)>


<!--
  Postal code or zip code

-->
<!ELEMENT postcode (#PCDATA)>


<!--
  Region of country; e.g., state, province, etc.

-->
<!ELEMENT state (#PCDATA)>


<!--
  County, parish, department, etc (mainly UK, USA)

-->
<!ELEMENT county (#PCDATA)>


<!--
  City or town name

-->
<!ELEMENT city (#PCDATA)>


<!--
  Street may contain house number or name

-->
<!ELEMENT street (#PCDATA)>


<!--
  Building information in address; e.g., Hoffman building

-->
<!ELEMENT building (#PCDATA)>


<!--
  Address floor; e.g., 10th

-->
<!ELEMENT address-floor (#PCDATA)>


<!--
  Address room; e.g., Room 55B

-->
<!ELEMENT room (#PCDATA)>


<!--
  Post Office Box number

-->
<!ELEMENT pobox (#PCDATA)>


<!--
  Organizational mail code

-->
<!ELEMENT mailcode (#PCDATA)>


<!--
  Address, fifth line

-->
<!ELEMENT address-5 (#PCDATA)>


<!--
  Address, fourth line

-->
<!ELEMENT address-4 (#PCDATA)>


<!--
  Address, third line

-->
<!ELEMENT address-3 (#PCDATA)>


<!--
  Address, second line

-->
<!ELEMENT address-2 (#PCDATA)>


<!--
  Address, first line

-->
<!ELEMENT address-1 (#PCDATA)>


<!--
  Registered number

-->
<!ELEMENT registered-number (#PCDATA)>


<!--
  Synonym

-->
<!ELEMENT synonym (#PCDATA)>


<!--
  Department, division, section, etc. name

-->
<!ELEMENT department (#PCDATA)>


<!--
  Organisation name or company name

-->
<!ELEMENT orgname (#PCDATA)>


<!--
  Role; e.g., President, Chairman, etc.

-->
<!ELEMENT role (#PCDATA)>


<!--
  SDOBI : Individual id

-->
<!ELEMENT iid (#PCDATA)>


<!--
  Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)

-->
<!ELEMENT suffix (#PCDATA)>


<!--
  Middle name(s) or initial(s)

-->
<!ELEMENT middle-name (#PCDATA)>


<!--
  First or given name(s), initial(s)

-->
<!ELEMENT first-name (#PCDATA)>


<!--
  Last, family, surname

-->
<!ELEMENT last-name (#PCDATA)>


<!--
  Title: e.g., Mr., Mrs., Dr. etc

-->
<!ELEMENT prefix (#PCDATA)>


<!--
  Date: components of a date.  Format: YYYYMMDD

-->
<!ELEMENT date (#PCDATA)>


<!--
  Document kind code; e.g., A1
    (INID 13, ST.32:B130)

-->
<!ELEMENT kind (#PCDATA)>


<!--
  The number of the referenced patent (or application) document

-->
<!ELEMENT doc-number (#PCDATA)>


<!--
  Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO

-->
<!ELEMENT country (#PCDATA)>


