procedures/common/annexf/dtd/WIPO-1.16/demand-v1-10.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--
********************************************************************************
*  demand v1.10     2019  APRIL                                                *
********************************************************************************
*  PUBLIC "-//WIPO//DTD DEMAND 1.10//EN" "demand-v1-10.dtd"                    *
********************************************************************************
*  http://www.wipo.int/pct-safe/epct/schemaDocs/1.15/demand-v1-10.dtd          *
********************************************************************************
* contacts:                                                                    *
*   WIPO: Yukako SHIBA; yukako.shiba@wipo.int                                  *
********************************************************************************
* revision history                                                             *
********************************************************************************
Yuya USHIDA : 01/04/19 incorporated changes from PFC
..changed version number from v1.9 to v1.10
..added element 'postpone-examination-demand-time-limit' to concerning-amendments
..added element 'postpone-examination-amendment-time-limit' to concerning-amendments
Asahi HASEBE : 01/07/17 incorporated changes from PFC
..changed version number from v1.8 to v1.9
..added an attribute "id" to signatory and us-rights
Asahi HASEBE : 01/01/15 to update DTD in alignment with the latest PCT Form IPEA401
..changed version number from v1.7 to v1.8
..added an element named as "the-sequence-listing" to "concerning-amendments".
Asahi HASEBE : 01/07/14 to update DTD in alignment with the latest PCT Form IPEA401
..changed version number from v1.6 to v1.7
..added an attribute 'page-count' to cl-letter. (PFC14/001)
..added an attribute 'page-count' to cl-copy-amendments-art19. (PFC14/001)
..added an element named as cl-letter-art19 to demand-check-list. (PFC14/001)
MO: 01/07/09 incorporated changes from PFC
..changed version number from v1.5 to v1.6
..added attribute 'carriers-type' to cl-sequence-listing (PFC09/001)
..added attribute 'carriers-quantity' to cl-sequence-listing (PFC09/001)
..added attribute 'size' to cl-sequence-listing (PFC09/001)
MO: 01/07/08 incorporated changes from PFCs:
..changed version number from v1.4 to v1.5
..added attribute 'email-purpose' to email (PFC08/006)
..added attribute 'for-search-only' to cl-sequence-listing-table (PFC08/007)
..added attribute 'additional-copies-including-search-copy' to cl-sequence-listing-table (PFC08/007)
..added attribute 'with-identifying-statement' to cl-sequence-listing-table (PFC08/007)
..added attribute 'for-search-only' to cl-sequence-listing (PFC08/007)
..added attribute 'additional-copies-including-search-copy' to cl-sequence-listing (PFC08/007)
..added attribute 'with-identifying-statement' to cl-sequence-listing (PFC08/007)
MO: 01/01/07 incorporated changes from PFCs:
..changed version number from v1.3 to v1.4
..implementation of PFC06/001
..added element 'sup' to u (PFC06/003)
..added element 'sup' to i (PFC06/003)
..added element 'sup' to b (PFC06/003)
..added element 'sub' to u (PFC06/003)
..added element 'sub' to i (PFC06/003)
..added element 'sub' to b (PFC06/003)
..added element 'o' to invention-title, b, i, sup, sup2, sub, sub2, heading, claim-text,
  p, small-caps, dt, dd, li, crossref, figref, othercit, statement (PFC06/003)
..added element 'address-4' to address (PFC06/005)
..added element 'address-5' to address (PFC06/005)
HT: 14/12/04 incorporated changes from PFCs:
..changed attribute he, wi of doc-page from 'NMTOKEN' to 'CDATA'
..added attribute 'id' to addressbook, application-reference
..added attribute 'ocr' to doc-page
HT: 20/07/04 incorporated changes from PFCs:
..changed version number from v1.2 to v1.3
..added value 'national-office', 'regional-office' to attribute produced-by of root element
HT: 16/12/03 incorporated changes from PFCs:
..changed version number from v1.0 to v1.2
..changed element name from 'postpone' to 'postpone-examination'
..added element 'begin-examination-early' to concerning-amendments
..added element 'sup2' and 'sub2' to sup and sub
..added element 'cl-sequence-listing-table' to check-list
..added attribute 'carriers' to cl-sequence-listing
..removed element 'election-of-states' from demand
2003/06/01
..released version number as v1.0
********************************************************************************

Attributes for demand
  id            = unique id for this application - could be file name
  country       = st.3 code for application
  dtd-version   = dtd version number
  lang          = language of application - use ISO639 language code
  status        = status of the application; values: new = new application
  file          = filename of the whole application
  date-produced = YYYYMMDD e.g, 20011230  if desired, 12 characters maximum
  ipea          = IPEA office name, country code ST.3
  produced-by   = creator of this document

-->
<!ELEMENT demand ((file-reference-id? , application-reference? , date-of-earliest-priority? , invention-title* , applicants , correspondence-address? , agents-for-demand? , bases-examination , demand-check-list? , signatories?) | doc-page+)>

<!ATTLIST demand  lang          CDATA  #REQUIRED
                    dtd-version   CDATA  #IMPLIED
                    file          CDATA  #IMPLIED
                    status        CDATA  #IMPLIED
                    produced-by          (applicant | 
                                    RO | 
                                    ISA | 
                                    IPEA | 
                                    IB | 
                                    DO | 
                                    EO | 
                                    national-office | 
                                    regional-office )  #REQUIRED
                    date-produced CDATA  #IMPLIED
                    ipea          CDATA  #REQUIRED
                    ro            CDATA  #IMPLIED
                    isa           CDATA  #IMPLIED >

<!--
  doc-page - DOCument or PAGE

  This is primarily to be used when data for the whole or major sections of an
  application are in image format OR other formats such as pdf.

  Page range attributes are given when required
    pp  - page range
    ppf - first page 
    ppl - last page (for pdf).
  The 'img' may also be used for complete pages, e.g. in drawings 

  Recommended id = docp0001, docp0002, etc.
  Attributes "he" and "wi" mean height and width. 


-->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID     #IMPLIED
                      he          CDATA  #REQUIRED
                      wi          CDATA  #REQUIRED
                      type               (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA  #IMPLIED
                      pp          CDATA  #IMPLIED
                      ppf         CDATA  #IMPLIED
                      ppl         CDATA  #IMPLIED
                      file        CDATA  #REQUIRED
                      ocr         CDATA  #IMPLIED
                      color              (color | bw )  #IMPLIED
                      orientation        (portrait | landscape )  'portrait' >

<!--
  A signature represented by electronic means

-->
<!ELEMENT electronic-signature (basic-signature | enhanced-signature)>

<!ATTLIST electronic-signature  date         CDATA  #REQUIRED
                                  place-signed CDATA  #IMPLIED >

<!--
  A TIFF image of a signature

-->
<!ELEMENT fax-image EMPTY>

<!ATTLIST fax-image  file CDATA  #REQUIRED >

<!--
  Checklist; an additional document is being furnished

-->
<!ELEMENT cl-other-document (#PCDATA)>

<!ATTLIST cl-other-document  page-count CDATA  #IMPLIED >

<!--
  Checklist; a sequence listing table is being furnished

-->
<!ELEMENT cl-sequence-listing-table EMPTY>

<!ATTLIST cl-sequence-listing-table  quantity                                CDATA  #REQUIRED
                                       for-search-only                                (yes | 
                                                                                 no )  #IMPLIED
                                       additional-copies-including-search-copy        (yes | 
                                                                                 no )  #IMPLIED
                                       with-identifying-statement                     (yes | 
                                                                                 no )  #IMPLIED
                                       page-count                              CDATA  #IMPLIED
                                       carriers                                       (internal-electronic | 
                                                                                 external-electronic | 
                                                                                 paper )  #IMPLIED >

<!--
  Checklist; a sequence listing or sequence listings is/are being furnished
  For carrier-type the listed values represent:
    FD    - Floppy Disc
    CD    - Compact Disc
    BD    - Blu-Ray Disc
    DVD   - Digital Versatile Disc
    Other - Other media types

-->
<!ELEMENT cl-sequence-listing EMPTY>

<!ATTLIST cl-sequence-listing  quantity                                CDATA  #REQUIRED
                                 for-search-only                                (yes | 
                                                                           no )  #IMPLIED
                                 additional-copies-including-search-copy        (yes | 
                                                                           no )  #IMPLIED
                                 with-identifying-statement                     (yes | 
                                                                           no )  #IMPLIED
                                 page-count                              CDATA  #IMPLIED
                                 carriers                                       (internal-electronic | 
                                                                           external-electronic | 
                                                                           paper )  #IMPLIED
                                 carriers-type                                  (FD | 
                                                                           CD | 
                                                                           BD | 
                                                                           DVD | 
                                                                           other )  #IMPLIED
                                 carriers-quantity                       CDATA  #IMPLIED
                                 size                                    CDATA  #IMPLIED >

<!--
  Checklist; a priority document is being furnished

-->
<!ELEMENT cl-priority-document (sequence-number+)>

<!ATTLIST cl-priority-document  quantity CDATA  #REQUIRED >

<!--
  Checklist; a statement explaining lack of signature is being furnished

-->
<!ELEMENT cl-lack-of-signature EMPTY>

<!ATTLIST cl-lack-of-signature  quantity CDATA  #REQUIRED >

<!--
  Checklist; a copy of the general power of attorney is being furnished

-->
<!ELEMENT cl-copy-general-power-of-attorney (ref-number+)>

<!ATTLIST cl-copy-general-power-of-attorney  quantity CDATA  #REQUIRED >

<!--
  Checklist; a general power of attorney is being furnished

-->
<!ELEMENT cl-general-power-of-attorney EMPTY>

<!ATTLIST cl-general-power-of-attorney  quantity CDATA  #REQUIRED >

<!--
  Checklist; a separate power of attorney is being furnished

-->
<!ELEMENT cl-separate-power-of-attorney EMPTY>

<!ATTLIST cl-separate-power-of-attorney  quantity CDATA  #REQUIRED >

<!--
  Checklist; a letter is being furnished.  See PCT/IPEA/401 box VI 

-->
<!ELEMENT cl-letter EMPTY>

<!ATTLIST cl-letter  quantity CDATA  #REQUIRED
                                 page-count CDATA  #IMPLIED >

<!--
  Checklist; a copy of statement under Article 19 is being furnished

-->
<!ELEMENT cl-copy-statement-art19 EMPTY>

<!ATTLIST cl-copy-statement-art19  quantity   CDATA  #REQUIRED
                                     page-count CDATA  #IMPLIED >

<!--
  Checklist; copy of amendments made under Article 19 is being furnished

-->
<!ELEMENT cl-copy-amendments-art19 EMPTY>

<!ATTLIST cl-copy-amendments-art19  quantity CDATA  #REQUIRED
                                     page-count CDATA  #IMPLIED >

<!--
  Checklist; amendments made under Article 34 are being furnished

-->
<!ELEMENT cl-amendments-art34 EMPTY>

<!ATTLIST cl-amendments-art34  quantity   CDATA  #REQUIRED
                                 page-count CDATA  #IMPLIED >

<!--
  Check-list; a translation of application  is being furnished

-->
<!ELEMENT cl-translation-of-application-demand EMPTY>

<!ATTLIST cl-translation-of-application-demand  quantity   CDATA  #REQUIRED
                                                  lang       CDATA  #IMPLIED
                                                  page-count CDATA  #IMPLIED >

<!--
  Language for international preliminary examination (Rule 55.1)

-->
<!ELEMENT language-for-examination (#PCDATA)>

<!ATTLIST language-for-examination  examin-lang   (originally-filed | 
                                                    translation-isa | 
                                                    publication | 
                                                    translation-ipea )  #REQUIRED >

<!--
  The drawings are to be used as the basis for international preliminary
  examination

-->
<!ELEMENT the-drawings EMPTY>

<!ATTLIST the-drawings  basis   (originally | amendment-art34 )  #REQUIRED >

<!--
  the claims are to be used as the basis for international preliminary examination.
  Attribute 'basis': 
       originally        : the applicant wishes the IPEA to start on the basis of the
                           claims as originally filed
       amendment-art19   : the applicant wishes the IPEA to start on the basis of the
                           claims as amended under Art 19.
       amendment-art34   : the applicant wishes the IPEA to start on the basis of the
                           claims as amended under Art. 34.
       amendment-art19-34: the applicant wishes the IPEA to start on the basis of the
                           claims as amended under Art. 19 and Art. 34

-->
<!ELEMENT the-claims EMPTY>

<!ATTLIST the-claims  basis   (originally | 
                                amendment-art19 | 
                                amendment-art34 | 
                                amendment-art19-34 )  #REQUIRED >

<!--
  The description is to be used as the basis for international preliminary
  examination

-->
<!ELEMENT the-description EMPTY>

<!ATTLIST the-description  basis   (originally | amendment-art34 )  #REQUIRED >

<!--
  The application is to be used as the basis for international preliminary
  examination

-->
<!ELEMENT the-application EMPTY>

<!ATTLIST the-application  basis   (originally )  #REQUIRED >

<!--
  Aagent(s) elected specifically for procedures before the International
  Preliminary Examining Authority (Rule 90.1(a)-(c)

-->
<!ELEMENT agents-for-demand (customer-number | agent+)>

<!ATTLIST agents-for-demand  kind-agents   (addition | new | current )  #REQUIRED >

<!--
  Agent or common representative (Rules 90.1, 90.2)

-->
<!ELEMENT agent (addressbook+)>

<!ATTLIST agent  sequence CDATA  #REQUIRED
                   rep-type        (agent | attorney | common-representative )  #REQUIRED >

<!--
  Application reference information: application number, country
    (INID 21, ST.32:B210)

-->
<!ELEMENT application-reference (document-id)>

<!ATTLIST application-reference  id        ID     #IMPLIED
                                   appl-type CDATA  #IMPLIED >

<!--
  Document identification refers to patents (and patent applications) only.
  See WIPO ST.14

-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >

<!--
  Applicant information: 
    (INID 71, ST.32:B710)

  attributes for applicant
    sequence   : sequence number of each applicant
                  e.g, sequence="1"
    app-type   : applicant type
                  app-type="applicant" : the applicant is only applicant
                  app-type="applicant-inventor" : the applicant is also inventor
    designation: This person is applicant for the purpose of:
                  designation="all"          : all designated states
                  designation="all-except-us": all designated states except US
                  designation="us-only"      : US only
                  designation="as-indicated" : the states indicated in
                                               designated-states element
                                               under applicant element

-->
<!ELEMENT applicant (addressbook+ , nationality , residence , us-rights* , designated-states? , designated-states-as-inventor?)>

<!ATTLIST applicant  sequence    CDATA  #REQUIRED
                       app-type           (applicant | applicant-inventor )  #REQUIRED
                       designation        (all | all-except-us | us-only | as-indicated )  #REQUIRED >

<!--
  This person is successor to the rights of an inventor who is deceased, insane, or
  legally incapacitated, for the purposes of the designation of the United States
  of America

-->
<!ELEMENT us-rights (#PCDATA)>

<!ATTLIST us-rights  to-dead-inventor CDATA  #REQUIRED
                       kind                    (heir | 
                                          heiress | 
                                          executor | 
                                          executrix | 
                                          estate | 
                                          legal-representative | 
                                          administrator | 
                                          administratrix | 
                                          legal-representatives | 
                                          heirs | 
                                          executors | 
                                          legal-heirs )  #REQUIRED
                       id  ID  #IMPLIED >

<!--
  ADDRESSBOOK GROUP: 
  Holds name and contact information for individuals/organizations

  The LANG attribute is REQUIRED for certain document types,
  e.g., the JPO PCT Request where names and addresses may be repeated in two
    different languages. If no structure possible use text.

-->
<!ELEMENT addressbook ((%name_group; , address , phone* , fax* , email* , url* , ead* , dtext?) | text)>

<!ATTLIST addressbook  id   ID     #IMPLIED
                         lang CDATA  #IMPLIED >

<!--
	Email address

	Attribute:
		email-purpose    reason for which email address is included:
informal     for informal contact only
general      for any type of communication
confirmation any type of communication, but formal messages followed up
             by conventional mailing (to the extent offered)
main         where applicant desires this address to be used as primary
             means of contact as a replacement of the use of conventional
             post (to the extent that an Office offers this)
		the default value depends on e-mail policies of the relevant Office. 
		For PCT purposes as at 1 July 2008, no attribute being included is 
		equivalent to 'informal'

-->
<!ELEMENT email (#PCDATA)>

<!ATTLIST email  email-purpose   (informal | general | advance | main )  #IMPLIED >

<!--
  Name:
  If no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate (legal entity) names

-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >

<!--
  Title of the Invention:
    (INID 54, ST.32:B540/B542)

  Preferably two to seven words when in English or translated into English and
  precise. (Rule 4.3)

  Recommended id = 'invt'

-->
<!ELEMENT invention-title (#PCDATA | b | i | u | o | sup | sub)*>

<!ATTLIST invention-title  id   ID     #IMPLIED
                             lang CDATA  #IMPLIED >

<!--
  Underscore: style - single is default

-->
<!ELEMENT u (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST u  style   (single | double | dash | dots )  'single' >

<!--
  Overscore: style - single is default

-->
<!ELEMENT o (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST o  style   (single | 
                       double | 
                       dash | 
                       dots | 
                       leftarrow | 
                       rightarrow | 
                       leftrightarrow )  'single' >

<!--
  Signatories

-->
<!ELEMENT signatories (signatory+)>


<!--
  PCT/RO/101 Box No. X:
  The signature must be that of the applicant (if there are several applicants, all
  must sign); however, the signature may be that of the agent, or the common
  representative, where a separate power of attorney appointing the agent or the
  common representative, respectively, or a copy of a general power of attorney is
  already in possession of the receiving Office, is furnished...
  (PCT Rules 4.1(d), 4.15, and 90)

  Indicate the capacity of the signer with 'signatory-capacity'

-->
<!ELEMENT signatory (%name_group; , address? , electronic-signature , signatory-capacity?)>

<!ATTLIST signatory
                  id ID #IMPLIED>


<!--
  The capacity in which the person signs

-->
<!ELEMENT signatory-capacity (#PCDATA)>


<!--
  A PKI / PKCS #7 digital signature data type

-->
<!ELEMENT enhanced-signature (pkcs7)>


<!--
  PKCS7 digital signature 

-->
<!ELEMENT pkcs7 EMPTY>


<!--
  A non-PKI electronic signature

-->
<!ELEMENT basic-signature (fax-image | text-string | click-wrap)>


<!--
  A simple 'signature';
  e.g., clicking a button labeled 'accept' or 'I agree'

-->
<!ELEMENT click-wrap EMPTY>


<!--
  A simple text string is to be used as the basic electronic signature;
  e.g., John Doe  <text-string>/jd/</text-string>

-->
<!ELEMENT text-string (#PCDATA)>


<!--
  PCT/IPEA/401 BOX No.VI Check List

-->
<!ELEMENT demand-check-list (cl-translation-of-application-demand? , cl-amendments-art34? , cl-copy-amendments-art19? , cl-copy-statement-art19? , cl-letter-art19?, cl-letter? , cl-fee-calculation? , cl-separate-power-of-attorney? , cl-general-power-of-attorney? , cl-copy-general-power-of-attorney? , cl-lack-of-signature? , cl-priority-document? , cl-sequence-listing? , cl-sequence-listing-table? , cl-other-document*)>


<!--
  Sequential identification of priority documents.  PCT/RO/101 Box VI.

-->
<!ELEMENT sequence-number (#PCDATA)>


<!--
  Reference number of general power of attorney.

-->
<!ELEMENT ref-number (#PCDATA)>


<!--
  Checklist; a fee calculation sheet is being furnished

-->
<!ELEMENT cl-fee-calculation EMPTY>


<!--
  The basis on which the international preliminary examination will start
  (PCT/IPEA/401 Box IV, Rule 66.1)

-->
<!ELEMENT bases-examination (concerning-amendments , language-for-examination)>


<!--
  The basis of the international preliminary examination concerns amendments.
  (PCT/IPEA/401 Box IV, 1-3, Rules 53.9(a)(i) and 53.9(c))

-->
<!ELEMENT concerning-amendments (the-application? , the-description? , the-sequence-listing? , the-claims? , the-drawings? , reverse-art19-amendment? , postpone-examination? , begin-examination-early? , postpone-examination-amendment-time-limit? , postpone-examination-demand-time-limit?)>


<!--
  The applicant may elect to have the examination to start earlier than at the
  expiration of the applicable time limit under Rule 54bis.1(a) (Demand Box IV 4)
  This option will no longer be available from July 1, 2019, but is retained in 
  the DTD for backwards compatibility.

-->
<!ELEMENT begin-examination-early EMPTY>


<!--
  "The applicant wishes the start of the international preliminary examination to
  be postponed until the expiration of 20 months from the priority date unless the
  International Preliminary Examining Authority receives a copy of any amendments
  made under Article 19 or a notice from the applicant that he does not wish to
  make such amendments (Rule 69.1(d))

  This element was named without a descriptor for the relevant time limit as 
  being the time limit for amendments to be made and has been superseded by
  the element "postpone-examination-amendment-time-limit".

  This option will no longer be available from July 1, 2019, but is retained in
  the DTD for backwards compatibility.

-->
<!ELEMENT postpone-examination EMPTY>

<!--
  "The applicant wishes the start of the international preliminary examination to 
  be postponed until the expiration of 20 months from the priority date unless the 
  International Preliminary Examining Authority receives a copy of any amendments 
  made under Article 19 or a notice from the applicant that he does not wish to 
  make such amendments (Rule 69.1(d))"
-->
<!ELEMENT postpone-examination-amendment-time-limit EMPTY>

<!--
  "The applicant wishes to postpone the start of the international preliminary 
  examination until the expiration of the applicable time limit under Rule 54bis.1(a)."

-->
<!ELEMENT postpone-examination-demand-time-limit EMPTY>

<!--
  PCT/IPEA/401 Box No. IV, checkbox 2: 
  "The applicant wishes any amendment to the claims under Article 19 to be
  considered as reversed"

-->
<!ELEMENT reverse-art19-amendment EMPTY>


<!--
  Address used for general correspondence

-->
<!ELEMENT correspondence-address (customer-number | addressbook+)>


<!--
  Customer number for agents by office

-->
<!ELEMENT customer-number (#PCDATA)>


<!--
  Where the international application claims the priority of several earlier
  applications, the filing date of the earliest application whose priority is
  claimed must be indicated as the priority date.

-->
<!ELEMENT date-of-earliest-priority (date)>


<!--
  Date: components of a date.  Format: YYYYMMDD

-->
<!ELEMENT date (#PCDATA)>


<!--
  Document kind code; e.g., A1
    (INID 13, ST.32:B130)

-->
<!ELEMENT kind (#PCDATA)>


<!--
  The number of the referenced patent (or application) document

-->
<!ELEMENT doc-number (#PCDATA)>


<!--
  Applicant's or agent's file reference, if desired, 12 characters maximum

-->
<!ELEMENT file-reference-id (#PCDATA)>


<!--
  Applicants information:  
    At least one of the applicants named must be a resident or national of a PCT
    Contracting State for which the receiving Office acts.

-->
<!ELEMENT applicants (applicant+)>


<!--
  Rule 4.6(c):
   "The request may, for different designated states, indicate different persons
    as inventors where, in this respect, the requirements of the national laws of
    the designated States are not the same.  In such a case, the request shall
    contain a separate statement for each designated State or group of States in
    which a particular person, or the same person, is to be considered the
    inventor, or in which particular persons, or the same persons, are to be
    considered the inventors."

-->
<!ELEMENT designated-states-as-inventor (country* , (region , country+)*)>


<!--
  Indication of specific Contracting States in or for which the applicant is
  seeking protection for his invention 
  (Rule 4.9(a))

-->
<!ELEMENT designated-states (country* , (region , country+)*)>


<!--
  The region for which protection or exclusion (depending upon context) is desired.

-->
<!ELEMENT region (country)>


<!--
  Country of residence

-->
<!ELEMENT residence (country)>


<!--
  Country of nationality

-->
<!ELEMENT nationality (country)>


<!--
  Descriptive text

-->
<!ELEMENT dtext (#PCDATA)>


<!--
  Universal Resource Locator; e.g. www.wipo.int

-->
<!ELEMENT url (#PCDATA)>


<!--
  Fax number

-->
<!ELEMENT fax (#PCDATA)>


<!--
  Telephone number

-->
<!ELEMENT phone (#PCDATA)>


<!--
  Electronic address use for other than email

-->
<!ELEMENT ead (#PCDATA)>


<!--
  Address components:
  Address formats differ from country to country
  If no structure possible use text

-->
<!ELEMENT address (%address_group;)>


<!--
  If no structure is possible, enter text (without markup)

-->
<!ELEMENT text (#PCDATA)>


<!--
  Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO

-->
<!ELEMENT country (#PCDATA)>


<!--
  Postal code or zip code

-->
<!ELEMENT postcode (#PCDATA)>


<!--
  Region of country; e.g., state, province, etc.

-->
<!ELEMENT state (#PCDATA)>


<!--
  County, parish, department, etc (mainly UK, USA)

-->
<!ELEMENT county (#PCDATA)>


<!--
  City or town name

-->
<!ELEMENT city (#PCDATA)>


<!--
  Street may contain house number or name

-->
<!ELEMENT street (#PCDATA)>


<!--
  Building information in address; e.g., Hoffman building

-->
<!ELEMENT building (#PCDATA)>


<!--
  Address floor; e.g., 10th

-->
<!ELEMENT address-floor (#PCDATA)>


<!--
  Address room; e.g., Room 55B

-->
<!ELEMENT room (#PCDATA)>


<!--
  Post Office Box number

-->
<!ELEMENT pobox (#PCDATA)>


<!--
  Organizational mail code

-->
<!ELEMENT mailcode (#PCDATA)>


<!--
  Address, fifth line

-->
<!ELEMENT address-5 (#PCDATA)>


<!--
  Address, fourth line

-->
<!ELEMENT address-4 (#PCDATA)>


<!--
  Address, third line

-->
<!ELEMENT address-3 (#PCDATA)>


<!--
  Address, second line

-->
<!ELEMENT address-2 (#PCDATA)>


<!--
  Address, first line

-->
<!ELEMENT address-1 (#PCDATA)>


<!--
  Registered number

-->
<!ELEMENT registered-number (#PCDATA)>


<!--
  Synonym

-->
<!ELEMENT synonym (#PCDATA)>


<!--
  Department, division, section, etc. name

-->
<!ELEMENT department (#PCDATA)>


<!--
  Organisation name or company name

-->
<!ELEMENT orgname (#PCDATA)>


<!--
  Role; e.g., President, Chairman, etc.

-->
<!ELEMENT role (#PCDATA)>


<!--
  SDOBI : Individual id

-->
<!ELEMENT iid (#PCDATA)>


<!--
  Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)

-->
<!ELEMENT suffix (#PCDATA)>


<!--
  Middle name(s) or initial(s)

-->
<!ELEMENT middle-name (#PCDATA)>


<!--
  First or given name(s), initial(s)

-->
<!ELEMENT first-name (#PCDATA)>


<!--
  Last, family, surname

-->
<!ELEMENT last-name (#PCDATA)>


<!--
  Title: e.g., Mr., Mrs., Dr. etc

-->
<!ELEMENT prefix (#PCDATA)>


<!--
  Bold formatting for text

-->
<!ELEMENT b (#PCDATA | i | u | o | smallcaps | sup | sub)*>


<!--
  Italic formatting for text

-->
<!ELEMENT i (#PCDATA | b | u | o | smallcaps | sup | sub)*>


<!--
  Small capitals

-->
<!ELEMENT smallcaps (#PCDATA | b | u | i | o)*>


<!--
  Subscripted text

-->
<!ELEMENT sub (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Superscripted text

-->
<!ELEMENT sup (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Subscripted text

-->
<!ELEMENT sub2 (#PCDATA | b | u | i | o)*>


<!--
  Superscripted text

-->
<!ELEMENT sup2 (#PCDATA | b | u | i | o)*>

<!--
  Checklist; a letter accompanying the amendments under Article 19 is being furnished.  See PCT/IPEA/401 box VI 

-->
<!ELEMENT cl-letter-art19 EMPTY>
<!ATTLIST cl-letter-art19  quantity   CDATA  #REQUIRED
                                 page-count CDATA  #IMPLIED >

<!--
  the sequence listing is to be used as the basis for international preliminary examination.
  Attribute 'basis': 
       originally :
                           the applicant wishes the IPEA to start on the basis of the
                           sequence listing as originally filed
       amendment-art34-st25:
                           the applicant wishes the IPEA to start on the basis of the
                           sequence listing as amended under Art. 34 
                           in the form of an AnnexC/ST.25 text file.
       amendment-art34-paper-or-image:
                           the applicant wishes the IPEA to start on the basis of the
                           sequence listing as amended under Art. 34
                           on paper or in the form of an image file.
-->
<!ELEMENT the-sequence-listing EMPTY>
<!ATTLIST the-sequence-listing  basis   (originally | 
                                amendment-art34-st25 | 
                                amendment-art34-paper-or-image)  #REQUIRED >

