procedures/common/annexf/dtd/WIPO-1.16/fee-sheet-v1-9.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--
********************************************************************************
*  fee-sheet v1.9     2019  APRIL                                              *
********************************************************************************
*  PUBLIC "-//WIPO//DTD FEE SHEET  1.9//EN"  "fee-sheet-v1-9.dtd"              *
********************************************************************************
*  https://www.wipo.int/pct-safe/en/resources/1.15/fee-sheet-v1-9.dtd          *
********************************************************************************
* contacts:                                                                    *
*   WIPO: Yukako SHIBA; yukako.shiba@wipo.int                                  *
********************************************************************************
* revision history                                                             *
********************************************************************************
Yuya USHIDA : 01/04/19 incorporated changes from PFC
..changed version number from v1.8 to v1.9
..added element 'reimbursement-deposit-account' to fee-sheet
Asahi HASEBE : 01/07/17 incorporated changes from PFC
..changed version number from v1.7 to v1.8
..added an attribute "id" to signatory
AH: 01/04/15 incorporated changes from PFC
 .. added element 'automatic-debit' to 'authorization' 
SY: 01/04/10 incorporated changes from PFC
..changed version number from v1.5 to v1.6
..added element 'payment-contact' to fee-sheet (PFC09/007)
..added element 'credit-card' to payment-mode (PFC09/007)
MO: 01/07/08 incorporated changes from PFCs:
..changed version number from v1.4 to v1.5
..add element 'earlier-search-document-fee' to prescribed-fees (PFC08/003)
MO: 01/01/07 incorporated changes from PFCs:
..changed version number from v1.3 to v1.4
..added element 'address-4' to address (PFC06/005)
..added element 'address-5' to address (PFC06/005)
..added element 'restoration-fee' to prescribed-fees (PFC07/001)
HT: 14/12/04 incorporated changes from PFCs:
..changed attribute he, wi of doc-page from 'NMTOKEN' to 'CDATA'
..added element 'later-payment' to payment-mode
..added attribute 'ocr' to doc-page
HT: 20/07/04 incorporated changes from PFCs:
..changed version number from v1.2 to v1.3
..added value 'national-office', 'regional-office' to attribute produced-by of root element
HT: 16/12/03 Incorporated changes from PFCs:
..changed version number from v1.1 to v1.2
..changed element international-fee from 'designation-fee' to 'designation-fee?'
..changed element international-fee from 'fee-reduction?' to 'fee-reduction*'
..added attribute 'reduction-type' to fee-reduction
JD: 03/02/03 Incorporated changes from PFCs:
..changed version number from v1.0 to v1.1
..added element 'dtext' to root content model
..added attribute 'orientation' to 'doc-page'
..added 'last-name | orgname' option in %name_group; 
..made 'postcode' optional within 'address'
2001/12/01
..released version number as v1.0
********************************************************************************

Fee calculation sheet annex to the PCT request

Attributes:
  lang          = language of application - use ISO639 language code
  dtd-version   = dtd version number
  file          = filename of the whole application
  status        = status of the application; values: new = new application
  produced-by   = creator of this document
  date-produced = YYYYMMDD e.g, 20011230  if desired, 12 characters maximum
  ro            = Receiving office name, country code ST.3

-->
<!ELEMENT fee-sheet ((file-reference-id? , applicant-name , prescribed-fees , amount-grand-total+ , deposit-account? , dtext* , payment-contact?, reimbursement-deposit-account*) | doc-page+)>

<!ATTLIST fee-sheet  lang          CDATA  #REQUIRED
                       dtd-version   CDATA  #IMPLIED
                       file          CDATA  #IMPLIED
                       produced-by          (applicant | 
                                       RO | 
                                       ISA | 
                                       IPEA | 
                                       IB | 
                                       DO | 
                                       EO | 
                                       national-office | 
                                       regional-office )  #REQUIRED
                       date-produced CDATA  #IMPLIED
                       ro            CDATA  #REQUIRED
                       status        CDATA  #IMPLIED >

<!--
	Email address

	Attribute:
		email-purpose    reason for which email address is included:
informal     for informal contact only
general      for any type of communication
confirmation any type of communication, but formal messages followed up
             by conventional mailing (to the extent offered)
main         where applicant desires this address to be used as primary
             means of contact as a replacement of the use of conventional
             post (to the extent that an Office offers this)
		the default value depends on e-mail policies of the relevant Office. 
		For PCT purposes as at 1 July 2008, no attribute being included is 
		equivalent to 'informal'

-->
<!ELEMENT email (#PCDATA)>

<!ATTLIST email  email-purpose   (informal | general | advance | main )  #IMPLIED >

<!--
  doc-page - DOCument or PAGE

  This is primarily to be used when data for the whole or major sections of an
  application are in image format OR other formats such as pdf.

  Page range attributes are given when required
    pp  - page range
    ppf - first page 
    ppl - last page (for pdf).
  The 'img' may also be used for complete pages, e.g. in drawings 

  Recommended id = docp0001, docp0002, etc.
  Attributes "he" and "wi" mean height and width. 


-->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID     #IMPLIED
                      he          CDATA  #REQUIRED
                      wi          CDATA  #REQUIRED
                      type               (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA  #IMPLIED
                      pp          CDATA  #IMPLIED
                      ppf         CDATA  #IMPLIED
                      ppl         CDATA  #IMPLIED
                      file        CDATA  #REQUIRED
                      ocr         CDATA  #IMPLIED
                      color              (color | bw )  #IMPLIED
                      orientation        (portrait | landscape )  'portrait' >

<!--
  A signature represented by electronic means

-->
<!ELEMENT electronic-signature (basic-signature | enhanced-signature)>

<!ATTLIST electronic-signature  date         CDATA  #REQUIRED
                                  place-signed CDATA  #IMPLIED >

<!--
  A TIFF image of a signature

-->
<!ELEMENT fax-image EMPTY>

<!ATTLIST fax-image  file CDATA  #REQUIRED >

<!--
  The total amount of all fees.  Note that more than one grand total amount may be
  permitted, as there may be multiple currencies in which payment is due.

-->
<!ELEMENT amount-grand-total (#PCDATA)>

<!ATTLIST amount-grand-total  currency CDATA  #REQUIRED >

<!--
  Calculation of prescribed fees
  designation-fee-paid: whether the designation fee has been paid or not

-->
<!ELEMENT prescribed-fees (transmittal-fee , search-fee , international-fee , pdoc-fee? , restoration-fee? , earlier-search-document-fee?)>

<!ATTLIST prescribed-fees  designation-fee-paid   (yes | no )  #IMPLIED >
<!--
	Fee for supply of earlier search documents from the RO

-->
<!ELEMENT earlier-search-document-fee (earlier-search-document-quantity , amount-each , amount-total , payment-mode)>

<!ATTLIST earlier-search-document-fee  currency CDATA  #REQUIRED >

<!--
	Fee for restoration of rights

-->
<!ELEMENT restoration-fee (restoration-quantity , amount-total , payment-mode)>

<!ATTLIST restoration-fee  currency CDATA  #REQUIRED >

<!--
  Fee for priority document

-->
<!ELEMENT pdoc-fee (pdoc-quantity , amount-each , amount-total , payment-mode)>

<!ATTLIST pdoc-fee  currency CDATA  #REQUIRED >

<!--
  International fee:
  The designation fee may be paid at the time of filing the international
  application.  However, if the international application contains a priority
  claim, the designation fee must be paid within one year from the priority date or
  within one month from the date of receipt of the international application,
  whichever expires first, but where the international application does not
  contain a priority claim, the designation fee must be paid within one year
  from the date of receipt of the international application. 
  (Rule 15.1)
  
-->
<!ELEMENT international-fee (basic-fee , designation-fee? , fee-reduction* , amount-total , payment-mode)>

<!ATTLIST international-fee  currency CDATA  #REQUIRED >

<!--
  Fee reduction; applicable where PCT electronic filing software is used or where
  the applicant is a national and natural person who resides in a State whose per
  capita income is less than 3,000 US dollars

-->
<!ELEMENT fee-reduction (amount-each)>

<!ATTLIST fee-reduction  reduction-type CDATA  #IMPLIED >

<!--
  Search fee  (PCT Rule 16.1)

-->
<!ELEMENT search-fee (amount-total , payment-mode , isa?)>

<!ATTLIST search-fee  currency CDATA  #REQUIRED >

<!--
  Transmittal fees  (PCT Rule 14)

-->
<!ELEMENT transmittal-fee (amount-total , payment-mode)>

<!ATTLIST transmittal-fee  currency CDATA  #REQUIRED >

<!--
  Credit card used as payment method

-->
<!ELEMENT credit-card EMPTY>

<!ATTLIST credit-card  number      CDATA  #REQUIRED
                         expires     CDATA  #REQUIRED
                         name        CDATA  #IMPLIED
                         postal-code CDATA  #IMPLIED >

<!--
  Name:
  If no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate (legal entity) names

-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >

<!--
  payment-contact element for use as container for an email that can be used as the contact point for payment processing

-->
<!ELEMENT payment-contact (%name_group; , email)>


<!--
  Descriptive text

-->
<!ELEMENT dtext (#PCDATA)>


<!--
  Authorization to charge or credit deposit account

-->
<!ELEMENT deposit-account (authorization , ro , account-no , date , %name_group; , signatories?)>


<!--
  Date: components of a date.  Format: YYYYMMDD

-->
<!ELEMENT date (#PCDATA)>


<!--
  Deposit account number

-->
<!ELEMENT account-no (#PCDATA)>


<!--
  Receiving Office

-->
<!ELEMENT ro (country)>


<!--
  Type(s) of authorization

-->
<!ELEMENT authorization (total-fee? , deficiency-credit? , fee-for-pdoc?, automatic-debit?)>


<!--
  Authorization to charge the fee for priority document

-->
<!ELEMENT fee-for-pdoc EMPTY>


<!--
  Authorization to charge any deficiency or credit any overpayment

-->
<!ELEMENT deficiency-credit EMPTY>


<!--
  Authorization to charge the total fees indicated above

-->
<!ELEMENT total-fee EMPTY>

<!--
    Instruction to reimburse to a deposit account  
-->

<!ELEMENT reimbursement-deposit-account (ip-office, account-no, date, %name_group;)>

<!--
  IP Office code (ST.3 country code, including the regional authorities)

-->
<!ELEMENT ip-office (#PCDATA)>

<!--
  Signatories

-->
<!ELEMENT signatories (signatory+)>


<!--
  PCT/RO/101 Box No. X:
  The signature must be that of the applicant (if there are several applicants, all
  must sign); however, the signature may be that of the agent, or the common
  representative, where a separate power of attorney appointing the agent or the
  common representative, respectively, or a copy of a general power of attorney is
  already in possession of the receiving Office, is furnished...
  (PCT Rules 4.1(d), 4.15, and 90)

  Indicate the capacity of the signer with 'signatory-capacity'

-->
<!ELEMENT signatory (%name_group; , address? , electronic-signature , signatory-capacity?)>

<!ATTLIST signatory
                  id ID #IMPLIED>


<!--
  The capacity in which the person signs

-->
<!ELEMENT signatory-capacity (#PCDATA)>


<!--
  A PKI / PKCS #7 digital signature data type

-->
<!ELEMENT enhanced-signature (pkcs7)>


<!--
  PKCS7 digital signature 

-->
<!ELEMENT pkcs7 EMPTY>


<!--
  A non-PKI electronic signature

-->
<!ELEMENT basic-signature (fax-image | text-string | click-wrap)>


<!--
  A simple 'signature';
  e.g., clicking a button labeled 'accept' or 'I agree'

-->
<!ELEMENT click-wrap EMPTY>


<!--
  A simple text string is to be used as the basic electronic signature;
  e.g., John Doe  <text-string>/jd/</text-string>

-->
<!ELEMENT text-string (#PCDATA)>


<!--
  Address components:
  Address formats differ from country to country
  If no structure possible use text

-->
<!ELEMENT address (%address_group;)>


<!--
  If no structure is possible, enter text (without markup)

-->
<!ELEMENT text (#PCDATA)>


<!--
  Postal code or zip code

-->
<!ELEMENT postcode (#PCDATA)>


<!--
  Region of country; e.g., state, province, etc.

-->
<!ELEMENT state (#PCDATA)>


<!--
  County, parish, department, etc (mainly UK, USA)

-->
<!ELEMENT county (#PCDATA)>


<!--
  City or town name

-->
<!ELEMENT city (#PCDATA)>


<!--
  Street may contain house number or name

-->
<!ELEMENT street (#PCDATA)>


<!--
  Building information in address; e.g., Hoffman building

-->
<!ELEMENT building (#PCDATA)>


<!--
  Address floor; e.g., 10th

-->
<!ELEMENT address-floor (#PCDATA)>


<!--
  Address room; e.g., Room 55B

-->
<!ELEMENT room (#PCDATA)>


<!--
  Post Office Box number

-->
<!ELEMENT pobox (#PCDATA)>


<!--
  Organizational mail code

-->
<!ELEMENT mailcode (#PCDATA)>


<!--
  Address, fifth line

-->
<!ELEMENT address-5 (#PCDATA)>


<!--
  Address, fourth line

-->
<!ELEMENT address-4 (#PCDATA)>


<!--
  Address, third line

-->
<!ELEMENT address-3 (#PCDATA)>


<!--
  Address, second line

-->
<!ELEMENT address-2 (#PCDATA)>


<!--
  Address, first line

-->
<!ELEMENT address-1 (#PCDATA)>

<!--
	Quantity of earlier search documents furnished

-->
<!ELEMENT earlier-search-document-quantity (#PCDATA)>


<!--


-->
<!ELEMENT restoration-quantity (#PCDATA)>


<!--
  Quantity of priority document requested

-->
<!ELEMENT pdoc-quantity (#PCDATA)>


<!--
  Designation fee (Rule 15.1)

-->
<!ELEMENT designation-fee (number-of-designation , designation-fee-payable , amount-each , amount-total)>


<!--
  Number of designation fees payable, maximum 8.
  See PCT Applicant's guide, paragraph 197(c)(ii).

-->
<!ELEMENT designation-fee-payable (#PCDATA)>


<!--
  Number of designations contained in international application

-->
<!ELEMENT number-of-designation (#PCDATA)>


<!--
  Basic fee  (Rule 15.1(i)

-->
<!ELEMENT basic-fee (amount-each , additional-amount? , additional-component? , amount-total)>


<!--
  If sequence listing part of description is filed in computer readable form

-->
<!ELEMENT additional-component (amount-each)>


<!--
  Additional amount

-->
<!ELEMENT additional-amount (sheets-over-30 , amount-each , total-additional-amount)>


<!--
  Total additional amount = # of sheets over 30 * amount each

-->
<!ELEMENT total-additional-amount (#PCDATA)>


<!--
  Number of pages in excess of 30

-->
<!ELEMENT sheets-over-30 (#PCDATA)>


<!--
  The amount of each of the fees

-->
<!ELEMENT amount-each (#PCDATA)>


<!--
  International Search Authority; international search to be carried out by

-->
<!ELEMENT isa (country)>


<!--
  Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO

-->
<!ELEMENT country (#PCDATA)>


<!--
  Mode of payment

-->
<!ELEMENT payment-mode (charge | postal-order | cash | coupons | cheque | bank-draft | stamps | other | later-payment | credit-card)>


<!--
  Authorization to later payment

-->
<!ELEMENT later-payment EMPTY>


<!--
  Other method by which prior art was disclosed to the public

-->
<!ELEMENT other (#PCDATA)>


<!--
  Revenue stamps  used as mode of payment

-->
<!ELEMENT stamps EMPTY>


<!--
  Bank draft to be used as mode of payment

-->
<!ELEMENT bank-draft EMPTY>


<!--
  Cheque used as payment method

-->
<!ELEMENT cheque EMPTY>


<!--
  Coupons used as mode of payment

-->
<!ELEMENT coupons EMPTY>


<!--
  Cash used as payment method

-->
<!ELEMENT cash EMPTY>


<!--
  Postal money order used as mode of payment

-->
<!ELEMENT postal-order EMPTY>


<!--
  Authorization to charge deposit account

-->
<!ELEMENT charge EMPTY>


<!--
  The total amount due for each fee group;
  e.g., search fees, transmittal fees, etc.

-->
<!ELEMENT amount-total (#PCDATA)>


<!--
  The name of the applicant (without address information)
    (ST.32:B711)

-->
<!ELEMENT applicant-name (%name_group;)>


<!--
  Registered number

-->
<!ELEMENT registered-number (#PCDATA)>


<!--
  Synonym

-->
<!ELEMENT synonym (#PCDATA)>


<!--
  Department, division, section, etc. name

-->
<!ELEMENT department (#PCDATA)>


<!--
  Organisation name or company name

-->
<!ELEMENT orgname (#PCDATA)>


<!--
  Role; e.g., President, Chairman, etc.

-->
<!ELEMENT role (#PCDATA)>


<!--
  SDOBI : Individual id

-->
<!ELEMENT iid (#PCDATA)>


<!--
  Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)

-->
<!ELEMENT suffix (#PCDATA)>


<!--
  Middle name(s) or initial(s)

-->
<!ELEMENT middle-name (#PCDATA)>


<!--
  First or given name(s), initial(s)

-->
<!ELEMENT first-name (#PCDATA)>


<!--
  Last, family, surname

-->
<!ELEMENT last-name (#PCDATA)>


<!--
  Title: e.g., Mr., Mrs., Dr. etc

-->
<!ELEMENT prefix (#PCDATA)>


<!--
  Applicant's or agent's file reference, if desired, 12 characters maximum

-->
<!ELEMENT file-reference-id (#PCDATA)>



 <!--
  The Office in its capacity as receiving Office (RO), 
  as International Searching Authority (ISA), and, where applicable, 
  in its capacity as International Preliminary Examining Authority (IPEA) 
  is authorized to automatically debit the identified account with any fees 
  due in the processing of this International Application.


-->
<!ELEMENT automatic-debit EMPTY>
