procedures/common/annexf/dtd/WIPO-1.16/table-external-v1-4.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--
 XML EXCHANGE TABLE MODEL DECLARATION MODULE 
 
********************************************************************************
*  table-external v1.4     2012  JULY                                          *
********************************************************************************
*  PUBLIC "-//WIPO//DTD TABLE EXTERNAL 1.4//EN" "table-external-v1-4.dtd"      *
********************************************************************************
*  https://www.wipo.int/pct-safe/en/resources/1.15/table-external-v1-4.dtd     *
********************************************************************************
* contacts:                                                                    *
*   WIPO: Yukako SHIBA; yukako.shiba@wipo.int                                  *
********************************************************************************
* revision history                                                             *
********************************************************************************
MO: 01/07/08 incorporated changes from PFCs:
..changed version number from v1.3 to v1.4
..added attribute 'email-purpose' to email (PFC08/006)
MO: 01/01/07 incorporated changes from PFCs:
..changed version number from v1.2 to v1.3
..implementation of PFC06/001
..added element 'sup' to u (PFC06/003)
..added element 'sup' to i (PFC06/003)
..added element 'sup' to b (PFC06/003)
..added element 'sub' to u (PFC06/003)
..added element 'sub' to i (PFC06/003)
..added element 'sub' to b (PFC06/003)
..added element 'o' to invention-title, b, i, sup, sup2, sub, sub2, heading, claim-text,
  p, small-caps, dt, dd, li, crossref, figref, othercit, statement (PFC06/003)
..added element 'address-4' to address (PFC06/005)
..added element 'address-5' to address (PFC06/005)
HT: 14/12/04 incorporated changes from PFCs:
..changed version number from v1.1 to v1.2
..changed element nplcit from '(text | (article , book , online , othercit)*)' to '(text | article | book | online | othercit)'
..changed element othercit from '(#PCDATA)' to '(#PCDATA | b | i | u | sup | sub)*'
..changed element rel-passage from (text | (passage+ , category? , rel-claims?)) to (text | (passage+ , category* , rel-claims*)+)
..changed attribute he, wi of img from 'NMTOKEN' to 'CDATA'
..changed value of attribute idref of crossref from 'CDATA' to 'IDREF'
..changed value of attribute tsize of dl from 'NMTOKEN' to 'CDATA'
..changed value of attribute num of patcit, nplcit from '#REQUIRED' to 'IMPLIED'
..added element 'pre' to dd, li
..added attribute 'id' to addressbook
..added attribute 'chem-type' to chem
..added attribute 'class-type' to class
..added value 'other-subname-type' to attribute 'subname-type' of subname
..removed attribute 'lang', 'status', 'dtd-version' from chem
HT: 20/07/04 incorporated changes from PFCs:
..changed version number from v1.0 to v1.1
..changed element article, online, serial from 'subname?' to 'subname*'
..changed element chemistry from '(img)' to '(img|(chem,img?))'
..changed element maths from '(img|math)' to '(img|(math,img?))'
..changed element rel-passage from 'category?, rel-claims?' to 'category*, rel-claims*'
..changed element nplcit from '(text | (article | book | online | othercit)*)' to '(text | article | book | online | othercit)'
..changed attribute lang of addressbook from '#REQUIRED' to '#IMPLIED'
..added element 'figref' to claim-text, dd, li
..added element 'b', 'i', 'u', 'sup', 'sub', 'smallcaps' to crossref
..added attribute 'num' to li
..added attribute 'subname-type' to subname
..added value 'chem', table'', math'', 'program-listing', 'flowchart' to attribute 'img-content' of img
..removed attribute 'class-type' from nplcit
2003/06/01
..released version number as v1.0
******************************************************************************** 

***************************************************************
  WIPO PCT E-Filing project modifications: parameter entities
***************************************************************
  DTD OASIS Open XML Exchange Table Model.
  Maintained by OASIS; download from:
    http://www.oasis-open.org/specs/soextblx.dtd
  Note that the FPI in soextblx.dtd refers to itself as 'calstblx'.
  That convention has been followed here.

-->
<!--
  override OASIS Exchange <entry> model

-->
<!--
ENTITY % tbl.entry.mdl "(#PCDATA | b | i | u | sup | sub | smallcaps | br
                 | patcit | nplcit | bio-deposit | crossref | img
                 | dl | ul | ol | chemistry | maths)* ">

-->
<!--
  create content for title element in table

-->
<!--
ENTITY % title "<!ELEMENT title (#PCDATA | b | i | u | sup | sub | smallcaps)* > ">
%title;

-->
<!--
**********************************************************
  End WIPO PCT E-Filing project modifications; include
     OASIS Exchange Table Model DTD
**********************************************************

-->
<!--
  import OASIS Exchange model

-->
<!--
ENTITY % calstblx PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN" "soextblx.dtd">
%calstblx;

-->
<!--
  DTD MathML2: maintained by W3C.  Download from:
     http://www.w3.org/TR/MathML2/DTD-MathML-20010221.zip

   If using nsgmls-based parser (SP, Near & Far Designer, etc.)
   uncomment 'mathml-charent-module' switch below or replace the 
   referenced MathML2 DTD with the version downloadable from:
     http://www.w3.org/Math/DTD/dtd-sp.zip

  This notice copied from: http://www.w3.org/Math/DTD/
     
  "DTD for nsgmls
  Some systems (including the popular nsgmls parser) may not be able 
  to process files using 'plane 1' characters which have Unicode 
  numbers higher than #xFFFF. The versions of the DTD provided here
  incoprorate the modifications mentioned above, but the high 
  characters are replaced by the equivalent mchar construct 
  <mchar name='...'></mchar> this allows the DTD to be read and for MathML files to
  be validated using such sytems."

-->
<!--
ENTITY % mathml-charent.module "IGNORE" >
ENTITY % MATHML.prefixed "IGNORE">
ENTITY % MATHML.xmlns "">

-->
<!--
  import MathML2 dtd

-->
<!--
ENTITY % mathml2 PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
%mathml2;

-->
<!--
*******************************************************************
  WIPO PCT Efiling project modifications: Elements and Attributes
*******************************************************************

-->
<!ELEMENT table ANY>

<!--
  Definition list

  Recommended id = dlis0001, dlis0002, etc.

-->
<!ELEMENT dl (dt , dd)+>

<!ATTLIST dl  tsize   CDATA  #IMPLIED
                compact        (compact )  #IMPLIED
                id      ID     #IMPLIED >

<!--
  Term to be defined

  Recommended id = dtrm0001, dtrm0002, etc.

-->
<!ELEMENT dt (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST dt  id ID  #IMPLIED >

<!--
  Unordered Lists
    list-style may be empty for lists with no bullet or other symbol default
    list-style is 'bullets'

  Recommended id = ulis0001, ulis0002, etc.

-->
<!ELEMENT ul (li+)>

<!ATTLIST ul  id         ID  #IMPLIED
                list-style     (bullet | dash | none )  'bullet'
                compact        (compact )  #IMPLIED >

<!--
  List item

  Recommended id = list0001, list0002, etc.

-->
<!ELEMENT li (#PCDATA | b | i | u | o | sup | sub | smallcaps | br | pre | patcit | nplcit | bio-deposit | crossref | figref | img | dl | ul | ol | chemistry | maths)*>

<!ATTLIST li  id  ID     #IMPLIED
                num CDATA  #IMPLIED >

<!--
  MATHEMATICS 
  This is image data or coded according to mathml, version 2

  Recommended id = math0001, math0002, etc.

-->
<!ELEMENT maths (img | (math , img?))>

<!ATTLIST maths  id  ID     #IMPLIED
                   num CDATA  #REQUIRED >

<!--
  Chemistry
  Chemical formulae, ring structures, Markush structures, etc.

  For now treat as image data.
  Depending on industry support we may use, e.g., chemML, CML later

  Recommended id = chem0001, chem0002, etc

-->
<!ELEMENT chemistry (img | (chem , img?))>

<!ATTLIST chemistry  id  ID     #IMPLIED
                       num CDATA  #REQUIRED >

<!--
  This is a pointer to an external DTD for chemical markup - to be determined.
  For EPO probably CML; http://www.xml-cml.org/

-->
<!ELEMENT chem EMPTY>

<!ATTLIST chem  id        ID     #IMPLIED
                  file      CDATA  #REQUIRED
                  chem-type CDATA  #IMPLIED >

<!--
  Ordered Lists: 
  attribute 'ol-style'

  Recommded use:
    1   arablic numbers     1, 2, 3, ...
    a   lower alpha         a, b, c, ...
    A   upper alpha         A, B, C, ...
    i   lower roman         i, ii, iii, ...
    I   upper roman         I, II, III, ...

-->
<!ELEMENT ol (li+)>

<!ATTLIST ol  id       ID     #IMPLIED
                compact         (compact )  #IMPLIED
                ol-style CDATA  #IMPLIED >

<!--
  A reference to a figure;
  e.g., "...as shown in <figref idref='f0001'>figure<b>1</b></figref>..."

-->
<!ELEMENT figref (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST figref  idref IDREFS  #IMPLIED
                    num   CDATA   #IMPLIED >

<!--
  This element is one method to identify content consisting of text objects that
  require preservation (pre) of their whitespace in order to preserve internal
  logical relationships.
  (e.g., sequence listing fragments, computer program listings)

-->
<!ELEMENT pre (#PCDATA)>

<!ATTLIST pre  id           ID  #IMPLIED
                 xml:space        (preserve | default )  #IMPLIED
                 listing-type     (sequence | program-listing | other )  #REQUIRED >

<!--
  Image data
  Image is used for any kind of image: art work, figures,  complex work units
  (math, tables, chemistry), etc.

  Recommended:
    id          = i0001, i0002, etc.
    he, wi      = "11" - milimeters - height, width;
    file        = file name,location; label - not used;
    alt         = alternate text if image not shown;
    img-content = drawing is the default;
    img-format  = common will be tiff, st33 and st35 in for backward compatibilty
                  and, later, publication.
    orientation = orientation of the image (portrait | landscape).
                  Default is portrait
    inline      = (yes | no).
                  Whether the image is to be presented inline or separated by line
                  breaks.  Default is no.

-->
<!ELEMENT img EMPTY>

<!ATTLIST img  id          ID     #IMPLIED
                 he          CDATA  #REQUIRED
                 wi          CDATA  #REQUIRED
                 file        CDATA  #REQUIRED
                 alt         CDATA  #IMPLIED
                 img-content        (drawing | 
                               photograph | 
                               character | 
                               dna | 
                               undefined | 
                               chem | 
                               table | 
                               math | 
                               program-listing | 
                               flowchart | 
                               graph )  'drawing'
                 img-format         (jpg | tif | st33 | st35 )  #REQUIRED
                 orientation        (portrait | landscape )  'portrait'
                 inline             (yes | no )  'no' >

<!--
  Cross reference to any other element with an identifier (id)

-->
<!ELEMENT crossref (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST crossref  idref IDREF  #REQUIRED >

<!--
  Biological deposit citation (US EFS: biological-deposit)
    (INID 83, ST.32:B830)
  According to PCT Rule 13bis, EPC Rule 28
  This covers all bio data references long and short within the description and/or
  claims

  Recommended id = biod0001, biod0002, etc.

-->
<!ELEMENT bio-deposit (depositary , bio-accno , date? , term? , dtext?)>

<!ATTLIST bio-deposit  id   ID     #IMPLIED
                         num  CDATA  #REQUIRED
                         url  CDATA  #IMPLIED
                         dnum CDATA  #IMPLIED >

<!--
  Non-Patent Literature (NPL) CITation;

  Notes:
    This can be free text data without any structure (#PCDATA) which is NOT
    recommended 
    or it can be highly structured data which is marked up according to ST.14 and
    ISO 690 layout;

    This part of the DTD has used many different sources for element names and DTD
    structure and reference:
    AACR2 / MARC
    ISO 12083 - Electronic manuscript prep. and markup. DTD
    Association of American Publishers (AAP) Z39.59 DTD
    European Working Group for SGML (EWS) MAJOUR DTD
    SuperJournal Full Article DTD
      www.superjournal.ac.uk/sj
    Elsevier DTD
    Medline DTD (NLM)            

  Attributes (recommended):
    id - ncit0001, ncit0002, etc
    num - 0001, 0002
    npltype - The TYPE of citation is office specific (recommended):;
      A - Abstract citation of no specific kind
      B - Book citation
      I - Bilogical abstract citation
      C - Chemical abstracts citation
      E - Database citation
      D - Derwent citation
      P - Patent cited within NPL group
      J - Patent Abstracts of Japan citation (REC 067)
      S - Serial / Journal / Periodical citation
      W - World Wide Web / Internet search citation
    medium - the type of medium
      e.g., CD (CD-ROM), MT (Magnetic Tape), DISK, ONLINE
    file - file name on local systems eg. XP number in EPO
    url  - where possible give full web link to document

-->
<!ELEMENT nplcit ((text | article | book | online | othercit) , rel-passage*)>

<!ATTLIST nplcit  id       ID     #IMPLIED
                    num      CDATA  #IMPLIED
                    lang     CDATA  #IMPLIED
                    file     CDATA  #IMPLIED
                    npl-type CDATA  #IMPLIED
                    medium   CDATA  #IMPLIED
                    url      CDATA  #IMPLIED >

<!--
  Reference number (general); for the EPO this is the XP number

-->
<!ELEMENT refno (#PCDATA)>

<!ATTLIST refno  id ID  #IMPLIED >

<!--
  Classification code; e.g., ipc, dewey etc.

-->
<!ELEMENT class (#PCDATA)>

<!ATTLIST class  class-type CDATA  #IMPLIED >

<!--
  Subordinate responsibility;  e.g., editor, translator, etc.

-->
<!ELEMENT subname (%name_group; | addressbook)>

<!ATTLIST subname  subname-type   (editor | translator | other-subname-type )  'editor' >

<!--
  Author

  Prime responsibility for the work
  there is no distinguishing between personal and corporate authors
  <author> followed by name or addressbook information
  use the ID attribute if, for example, there is a need to distinguish between
  multiple authors.
  Can also include affiliation details

  Recommended id = auth0001, auth0002, etc.

-->
<!ELEMENT author (%name_group; | addressbook)>

<!ATTLIST author  id ID  #IMPLIED >

<!--
  ADDRESSBOOK GROUP: 
  Holds name and contact information for individuals/organizations

  The LANG attribute is REQUIRED for certain document types,
  e.g., the JPO PCT Request where names and addresses may be repeated in two
    different languages. If no structure possible use text.

-->
<!ELEMENT addressbook ((%name_group; , address , phone* , fax* , email* , url* , ead* , dtext?) | text)>

<!ATTLIST addressbook  id   ID     #IMPLIED
                         lang CDATA  #IMPLIED >

<!--
	Email address

	Attribute:
		email-purpose    reason for which email address is included:
informal     for informal contact only
general      for any type of communication
confirmation any type of communication, but formal messages followed up
             by conventional mailing (to the extent offered)
main         where applicant desires this address to be used as primary
             means of contact as a replacement of the use of conventional
             post (to the extent that an Office offers this)
		the default value depends on e-mail policies of the relevant Office. 
		For PCT purposes as at 1 July 2008, no attribute being included is 
		equivalent to 'informal'

-->
<!ELEMENT email (#PCDATA)>

<!ATTLIST email  email-purpose   (informal | general | advance | main )  #IMPLIED >

<!--
  PATENT CITATIONS:
    (ST.32:B561)
  Patent Citation within abstract, description or claims.
  For patent citations within Search Report see Search Report DTD

  Notes:
    Tags arranged according to WIPO ST.14 order.
    This can be free text data without any structure (text).

  Example:
    <patcit id='pcit0001' dnum='US4793675A' dnum-type='publication number'>
      <document-id>
        <country>US</country>
        <doc-number>4793675</doc-number>
        <kind>A</kind>
        <name>Handa</name>
        <date>19881227</date>
      </document-id>
    </patcit>

  Note:
    It is NOT expected that the applicant will create the tagged data
    - it could be generated from a 'pull down' data entry form
    or generated from internal SR databases

  Attributes (recommended):
    id   - pcit0001, pcit0002, etc.
    num  - 0001, 0002, etc.
    dnum - use full number as one string, eg, "US5401234A";
    url  - where possible give full web link to patent
    file - file name eg. if stored on local systems
    dnum-type - type of document number
      (e.g., application number, publication number)

-->
<!ELEMENT patcit (text | (document-id , rel-passage*))>

<!ATTLIST patcit  id        ID     #IMPLIED
                    num       CDATA  #IMPLIED
                    dnum      CDATA  #IMPLIED
                    dnum-type CDATA  #IMPLIED
                    file      CDATA  #IMPLIED
                    url       CDATA  #IMPLIED >

<!--
  Document identification refers to patents (and patent applications) only.
  See WIPO ST.14

-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >

<!--
  Name:
  If no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate (legal entity) names

-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >

<!--
  Underscore: style - single is default

-->
<!ELEMENT u (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST u  style   (single | double | dash | dots )  'single' >

<!--
  Overscore: style - single is default

-->
<!ELEMENT o (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST o  style   (single | 
                       double | 
                       dash | 
                       dots | 
                       leftarrow | 
                       rightarrow | 
                       leftrightarrow )  'single' >

<!--
  Definition description

-->
<!ELEMENT dd (#PCDATA | b | i | u | o | sup | sub | smallcaps | br | pre | patcit | nplcit | bio-deposit | crossref | figref | img | ul | ol | chemistry | maths)*>


<!-- xsd:include schemaLocation = "../elementTypes/figref.xsd"/ -->

<!--
  Identifies the period of time during which the depository must be able to furnish
  samples of the biological material.

-->
<!ELEMENT term (#PCDATA)>


<!--
  Biological accession number:
    (ST.32:B831)
  The identification assigned to the biological material by the depository
 
-->
<!ELEMENT bio-accno (#PCDATA)>


<!--
  Information regarding the facility storing the biological deposit.
    (ST.32:B832)

-->
<!ELEMENT depositary (#PCDATA | address)*>


<!--
  Other citations - free form

-->
<!ELEMENT othercit (#PCDATA | b | i | u | o | sup | sub)*>


<!--
  Online citation
    Revised according to ISO-690-2 - Electronic documents and parts thereof.
    Please refer to this standard for definitions and examples.
    See: http://www.nlc-bnc.ca/iso/tc46sc9/standard/690-2e.htm#Contents
    The tagging in fact is a mixture of article and book tags together with
    specific electronic source tags.
    'Online' is taken to mean any kind of electronic documentation:
      databases, internet, CD-Roms, DVD, email, etc
 
  EXAMPLES:;

    Kirk-Othmer Encyclopedia of Chemical Technology [online].
    3rd ed. New York : John Wiley, 1984 [cited 3 January 1990].
    Available from: DIALOG Information Services, Palo Alto (Calif.).
 
      <nplcit id='ncit1' num='0001' type='E' medium='online'>
        <online>
          <online-title>Kirk-Othmer Encyclopedia of Chemical Technology
          </online-title>
          <edition>3rd ed.</edition>
          <imprint>
            <address>
              <text>New York</text>
            </address>
            <name>John Wiley</name>
            <pubdate>19840000</pubdate>
          </imprint>
          <avail>dialog information services, palo alto (calif.).</avail>
          <datecit>
            <date>19900103</date>
          </datecit>
        </online>
      </nplcit>

  * Article on Internet:
    Clark, Carol. On the Threshold of a Brave New World.
    In Blueprint of the Body [online].
    CNN.com, 2000. [cited 24 August 2000;10:25 EST]. In-depth specials.
    Available from: [http://www.cnn.com/SPECIALS/2000/genome/story/overview/]

      <nplcit id='ncit1' num='0002' type='E' medium='online'>
        <online>
          <author>
            <name>Clark, Carol</name>
          </author>
          <online-title>On the Threshold of a Brave New World</online-title>
          <imprint>
            <name>CNN.com, 2000</name>
          </imprint>
          <series>
            <text>In-depth specials</text>
          </series>
          <avail>http://www.cnn.com/SPECIALS/2000/genome/story/</avail>
          <datecit>
            <date>20000824; 10:25 est</date>
          </datecit>
        </online>
      </nplcit>

  * Personal communication (e-mail)
 
    Thacker, Jane. MPEG-21 project stream on digital item identification [online].
    Message to: [iso.tc46.sc9@nlc-bnc.ca]. 3 October 2000; 13:33 EST [cited 6
    October 2000; 13:10 EST].
    Message-ID: [002f01c02d60$051a64a0$22a2580c@vaio]. Personal communication.

      <nplcit id='ncit3' num='0003' type='E' medium='online'>
        <online>
          <author>
            <name>Thacker, Jane</name>
          </author>
          <online-title>MPEG-21 project stream on digital item identification
          </online-title>
          <subname>
            <name>Message to: <iso.tc46.sc9@nlc-bnc.ca></name>
          </subname>
          <pubdate>3 October 2000; 13:33 EST</pubdate>
          <notes>Personal communication</notes>
          <avail>Message-ID: <002f01c02d60$051a64a0$22a2580c@vaio></avail>
          <datecit><date>6 october 2000; 13:10 EST</date></datecit>
        </online>
      </nplcit>

-->
<!ELEMENT online (text | (author* , online-title* , hosttitle? , subname* , edition? , (serial | book)? , imprint? , pubdate? , history? , series? , hostno? , location? , notes? , avail , class* , keyword* , cpyrt? , issn? , isbn? , datecit? , srchterm* , srchdate? , refno* , vid? , ino? , doi? , absno?))>


<!--
  Date of search/retrieval  YYYYMMDD

-->
<!ELEMENT srchdate (date)>


<!--
  Search terms

-->
<!ELEMENT srchterm (#PCDATA)>


<!--
  Date cited - date on which the citation was cited.
  May be different from srchdate below

-->
<!ELEMENT datecit (date)>


<!--
  Availability and access - REQUIRED use for URL, online database, ftp address,
  email, etc.;
  e.g., Available from Internet: http://www.epoline.org
    Available from DIALOG Information Systems, Palo Alto (Calif.)

-->
<!ELEMENT avail (#PCDATA)>


<!--
  Numeration within host document

-->
<!ELEMENT hostno (#PCDATA)>


<!--
  History of the article (not serial)

-->
<!ELEMENT history (text | (received | accepted | revised | misc))>


<!--
  Miscellaneous information relating to the history of the article; see ISO 12083

-->
<!ELEMENT misc (#PCDATA | date)*>


<!--
  Date article was revised

-->
<!ELEMENT revised (date)>


<!--
  Date article was accepted

-->
<!ELEMENT accepted (date)>


<!--
  Date article was received

-->
<!ELEMENT received (date)>


<!--
  Title of the host document/database

-->
<!ELEMENT hosttitle (#PCDATA)>


<!--
  The title of the electronic resource

-->
<!ELEMENT online-title (#PCDATA)>


<!--
  Article citations within a 'host' document

  After patent citations the most common citations are articles within serials
  (periodicals, magazines), books and electronic (eg. internet) sources.
  This is a very complex and varied area to standardise. The tag set below is drawn
  from a number of sources as is the order of the tags (which in any case can be
  changed depending on the stylesheet used).;

  The order of tags is that of WIPO ST.14 / ISO 690 layout.
    DROP, J.G.  Integrated Circuit Personalization at the Module Level. IBM Tech.
    Dis. Bull.  October 1974, Vol. 17, No. 5, p. 1344 and 1345.
    [XPnnnnnnnnnnn].

      <nplcit id='ncit1' num='0012' type='S' file='XP1234456'>
        <article>
          <author>
            <name>DROP, J.G.</name>
          </author>
          <atl>Integrated Circuit Personalization at the Module Level</atl>
          <serial>
          <sertitle>IBM Tech. Dis. Bull.</sertitle>
          <pubdate>19741000</pubdate>
          <vid>17</vid>
          <ino>5</ino>
          </serial>
          <location>
            <pp>1344 and 1345</pp>
          </location>
          <refno id='XP1'>XP1234456</refno>
        </article>
      </nplcit>

  Note: it is NOT expected that the applicant will create the tagged data
  - it can be generated from a 'pull down' data entry form (eg. in Word) or
    generated from internal SR databases

-->
<!ELEMENT article (text | (author* , atl? , subname* , (serial | book) , absno? , location? , class* , keyword* , cpyrt? , artid? , refno*))>


<!--
  Article unique ID - assigned by a publisher to an article

-->
<!ELEMENT artid (#PCDATA)>


<!--
  Book citation 
  In the order specified by WIPO ST.14 and ISO 690 and AACR2 rules for layout

  WALTON, Herrmann. Microwave quantum theory.
  London : Sweet and Maxwell, 1973. ISBN 0123456789.
  Vol.2, p. 138 to 192.

    <nplcit id='ncit12' num='0013' type='b'>
      <book>
        <author>
          <name>WALTON, Herrman</name>
        </author>
        <book-title>Microwave quantum theory</book-title>
        <imprint>
          <address>
            <text>London</text>
          </address>
          <name>Sweet and Maxwell</name>
          <pubdate>19730000</pubdate>
        </imprint>
        <location>
          <pp>138 to 192</pp>
        </location>
        <isbn>0-1234-568-9</isbn>
      </book>
    </nplcit>

-->
<!ELEMENT book (text | (author* , (book-title+ | conference) , (subtitle? , subname* , edition? , imprint? , descrip? , series? , absno? , location* , isbn* , pubid? , vid? , bookno? , notes? , class* , keyword* , cpyrt? , refno* , doi? , ino? , issn?)))>


<!--
  Keyword; e.g., from a Thesaurus or class. scheme
    (ST.32:B550)

-->
<!ELEMENT keyword (#PCDATA)>


<!--
  Book number

-->
<!ELEMENT bookno (#PCDATA)>


<!--
  Location within the cited work

-->
<!ELEMENT location (text | (serpart? , sersect? , chapter? , pp? , column? , para? , line?))>


<!--
  Referenced line within cited work

-->
<!ELEMENT line (#PCDATA | linef | linel)*>


<!--
  Cited document line, last

-->
<!ELEMENT linel (#PCDATA)>


<!--
  Cited document line, first

-->
<!ELEMENT linef (#PCDATA)>


<!--
  Referenced paragraph within cited work

-->
<!ELEMENT para (#PCDATA | paraf | paral)*>


<!--
  Cited paragraph, last

-->
<!ELEMENT paral (#PCDATA)>


<!--
  Cited paragraph, first

-->
<!ELEMENT paraf (#PCDATA)>


<!--
  Cited document column numbers

-->
<!ELEMENT column (#PCDATA | colf | coll)*>


<!--
  Cited document column, last

-->
<!ELEMENT coll (#PCDATA)>


<!--
  Cited document column, first

-->
<!ELEMENT colf (#PCDATA)>


<!--
  Cited document page numbers

-->
<!ELEMENT pp (#PCDATA | ppf | ppl)*>


<!--
  Cited document page, last

-->
<!ELEMENT ppl (#PCDATA)>


<!--
  Cited  document page , first

-->
<!ELEMENT ppf (#PCDATA)>


<!--
  Chapter; e.g., in a book.  Example: Chapter 2

-->
<!ELEMENT chapter (#PCDATA)>


<!--
  Serial section

-->
<!ELEMENT sersect (#PCDATA)>


<!--
  Part within a serial

-->
<!ELEMENT serpart (#PCDATA)>


<!--
  Abstract number

-->
<!ELEMENT absno (#PCDATA)>


<!--
  Series statement

-->
<!ELEMENT series (text | (mst , msn? , issn?))>


<!--
  Monographic series number

-->
<!ELEMENT msn (#PCDATA)>


<!--
  Monographic series title

-->
<!ELEMENT mst (#PCDATA)>


<!--
  Edition statement
    (ST.32:B516)

-->
<!ELEMENT edition (#PCDATA)>


<!--
  Book subtitle

-->
<!ELEMENT subtitle (#PCDATA)>


<!--
  CONFERENCE GROUP / CITATION
  There is no standard way of citing conference proceedings; date of the conf. may
  come before or after place, for example. The tags are specified in a set order
  where it is not possible or correct then simply use <text>

-->
<!ELEMENT conference (text | (conftitle , confdate? , confno? , confplace? , confsponsor*))>


<!--


-->
<!ELEMENT confdate (date | (sdate , edate))>


<!--
  Conference sponsor

-->
<!ELEMENT confsponsor (#PCDATA | addressbook)*>


<!--
  Conference place

-->
<!ELEMENT confplace (#PCDATA | address)*>


<!--
  Conference number

-->
<!ELEMENT confno (#PCDATA)>


<!--
  Conference title

-->
<!ELEMENT conftitle (#PCDATA)>


<!--
  The title of the cited book

-->
<!ELEMENT book-title (#PCDATA)>


<!--
  Serial citation data:
  This describes the volume or issue as a whole and not a particular article within
  it.

-->
<!ELEMENT serial (sertitle , alttitle? , subname* , issue? , imprint? , pubdate? , descrip? , notes? , isbn? , issn? , pubid? , vid? , ino? , cpyrt? , doi?)>


<!--


-->
<!ELEMENT doi (#PCDATA)>


<!--
  Copyright info.  Copyright of publisher of serial

-->
<!ELEMENT cpyrt (#PCDATA)>


<!--
  Issue number

-->
<!ELEMENT ino (#PCDATA)>


<!--
  Volume id/number

-->
<!ELEMENT vid (#PCDATA)>


<!--
  Publisher's unique id

-->
<!ELEMENT pubid (#PCDATA)>


<!--
  International Standard Book Number

-->
<!ELEMENT isbn (#PCDATA)>


<!--
  International Standard Serial Number

-->
<!ELEMENT issn (#PCDATA)>


<!--
  Notes about the journal; e.g. Continues Journal of XYZ 1910-1998, published in
  French and English, etc.

-->
<!ELEMENT notes (#PCDATA)>


<!--
  Physical description - generally NOT used in citations in pats; e.g., v., 27cm

-->
<!ELEMENT descrip (#PCDATA)>


<!--
  Imprint:
  Publication / creation data
  Place of publication : publisher, date(s) of publication usually only date of
  publication is used for journal citations

-->
<!ELEMENT imprint (text | (address? , name , pubdate*))>


<!--
  Publication date used in npl citations

-->
<!ELEMENT pubdate (#PCDATA | sdate | edate | time)*>


<!--
  Time; format HHMM

-->
<!ELEMENT time (#PCDATA)>


<!--
  End date used in pubdate

-->
<!ELEMENT edate (#PCDATA)>


<!--
  Start date used in pubdate

-->
<!ELEMENT sdate (#PCDATA)>


<!--
  Issue designation; e.g., Annual, 1971-, 1890-1972

-->
<!ELEMENT issue (#PCDATA)>


<!--
  Alternate title for serial; e.g. BMJ = British Medical Journal

-->
<!ELEMENT alttitle (#PCDATA)>


<!--
  Serial title

-->
<!ELEMENT sertitle (#PCDATA)>


<!--
  Article title

-->
<!ELEMENT atl (#PCDATA)>


<!--
  Descriptive text

-->
<!ELEMENT dtext (#PCDATA)>


<!--
  Universal Resource Locator; e.g. www.wipo.int

-->
<!ELEMENT url (#PCDATA)>


<!--
  Fax number

-->
<!ELEMENT fax (#PCDATA)>


<!--
  Telephone number

-->
<!ELEMENT phone (#PCDATA)>


<!--
  Electronic address use for other than email

-->
<!ELEMENT ead (#PCDATA)>


<!--
  Address components:
  Address formats differ from country to country
  If no structure possible use text

-->
<!ELEMENT address (%address_group;)>


<!--
  Postal code or zip code

-->
<!ELEMENT postcode (#PCDATA)>


<!--
  Region of country; e.g., state, province, etc.

-->
<!ELEMENT state (#PCDATA)>


<!--
  County, parish, department, etc (mainly UK, USA)

-->
<!ELEMENT county (#PCDATA)>


<!--
  City or town name

-->
<!ELEMENT city (#PCDATA)>


<!--
  Street may contain house number or name

-->
<!ELEMENT street (#PCDATA)>


<!--
  Building information in address; e.g., Hoffman building

-->
<!ELEMENT building (#PCDATA)>


<!--
  Address floor; e.g., 10th

-->
<!ELEMENT address-floor (#PCDATA)>


<!--
  Address room; e.g., Room 55B

-->
<!ELEMENT room (#PCDATA)>


<!--
  Post Office Box number

-->
<!ELEMENT pobox (#PCDATA)>


<!--
  Organizational mail code

-->
<!ELEMENT mailcode (#PCDATA)>


<!--
  Address, fifth line

-->
<!ELEMENT address-5 (#PCDATA)>


<!--
  Address, fourth line

-->
<!ELEMENT address-4 (#PCDATA)>


<!--
  Address, third line

-->
<!ELEMENT address-3 (#PCDATA)>


<!--
  Address, second line

-->
<!ELEMENT address-2 (#PCDATA)>


<!--
  Address, first line

-->
<!ELEMENT address-1 (#PCDATA)>


<!--
  Registered number

-->
<!ELEMENT registered-number (#PCDATA)>


<!--
  Synonym

-->
<!ELEMENT synonym (#PCDATA)>


<!--
  Department, division, section, etc. name

-->
<!ELEMENT department (#PCDATA)>


<!--
  Organisation name or company name

-->
<!ELEMENT orgname (#PCDATA)>


<!--
  Role; e.g., President, Chairman, etc.

-->
<!ELEMENT role (#PCDATA)>


<!--
  SDOBI : Individual id

-->
<!ELEMENT iid (#PCDATA)>


<!--
  Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)

-->
<!ELEMENT suffix (#PCDATA)>


<!--
  Middle name(s) or initial(s)

-->
<!ELEMENT middle-name (#PCDATA)>


<!--
  First or given name(s), initial(s)

-->
<!ELEMENT first-name (#PCDATA)>


<!--
  Last, family, surname

-->
<!ELEMENT last-name (#PCDATA)>


<!--
  Title: e.g., Mr., Mrs., Dr. etc

-->
<!ELEMENT prefix (#PCDATA)>


<!--
  Relevant passage group within patent; most used in search  reports
  - use text in abstract, description and claims

-->
<!ELEMENT rel-passage (text | (passage+ , (category , rel-claims?)*))>


<!--
  Relevant claims

-->
<!ELEMENT rel-claims (#PCDATA)>


<!--
  Category
    (ST.32:B563)

-->
<!ELEMENT category (#PCDATA)>


<!--
  Passage within the cited patent literature

-->
<!ELEMENT passage (#PCDATA)>


<!--
  Date: components of a date.  Format: YYYYMMDD

-->
<!ELEMENT date (#PCDATA)>


<!--
  Document kind code; e.g., A1
    (INID 13, ST.32:B130)

-->
<!ELEMENT kind (#PCDATA)>


<!--
  The number of the referenced patent (or application) document

-->
<!ELEMENT doc-number (#PCDATA)>


<!--
  Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO

-->
<!ELEMENT country (#PCDATA)>


<!--
  If no structure is possible, enter text (without markup)

-->
<!ELEMENT text (#PCDATA)>


<!--
  br - break, line break within a paragraph

-->
<!ELEMENT br EMPTY>


<!--
  Bold formatting for text

-->
<!ELEMENT b (#PCDATA | i | u | o | smallcaps | sup | sub)*>


<!--
  Italic formatting for text

-->
<!ELEMENT i (#PCDATA | b | u | o | smallcaps | sup | sub)*>


<!--
  Small capitals

-->
<!ELEMENT smallcaps (#PCDATA | b | u | i | o)*>


<!--
  Subscripted text

-->
<!ELEMENT sub (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Superscripted text

-->
<!ELEMENT sup (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Subscripted text

-->
<!ELEMENT sub2 (#PCDATA | b | u | i | o)*>


<!--
  Superscripted text

-->
<!ELEMENT sup2 (#PCDATA | b | u | i | o)*>

