procedures/common/annexf/dtd/WIPO-1.16/wo-published-application-v1-11.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!ENTITY % amend_content "(invention-title | heading+ | p+ | doc-page+ | claim+ | figure+)">

<!--
********************************************************************************
*  wo-published-application v1.11     2017  JULY                               *
********************************************************************************
*  PUBLIC "-//WIPO//DTD WO PUBLISHED APPLICATION 1.11//EN"                     *
*                                          "wo-published-application-v1-11.dtd"*
********************************************************************************
*  https://www.wipo.int/pct-safe/en/resources/1.15/                            *
*                                           wo-published-application-v1-11.dtd *
********************************************************************************
* contacts:                                                                    *
*   WIPO: Yukako SHIBA; yukako.shiba@wipo.int                                  *
********************************************************************************
* revision history                                                             *
********************************************************************************
Asahi HASEBE : 01/07/17 incorporated changes from PFC
..changed version number from v1.10 to v1.11
..added an attribute "id" to signatory, lack-of-novelty and us-rights
..added an attribute "color" to "figure".
..added an element " earlier-search-authorization" to search-authority
SY: 01/07/12 incorporated changes from PFC:
..changed version number from v1.9 to v1.10
..added attribute 'priority-doc-access-code' to priority-doc-from-library (PFC12/001)
SY: 01/04/10 incorporated changes from PFC
..changed version number from v1.8 to v1.9
..added element 'priority-doc-from-library' to priority-claim (PFC09/005)
..changed value of attribute lang of amend-statement from '#REQUIRED' to '#IMPLIED'(PFC09/006)
..changed value of attribute status of amend-statement from '#REQUIRED' to '#IMPLIED'(PFC09/006)
MO: 01/07/09 incorporated changes from PFC
..changed version number from v1.7 to v1.8
..added attribute 'electronic-format-type' to sequence-list (PFC09/001)
..added attribute 'part-of-application' to sequence-list (PFC09/001)
MO: 01/01/09 incorporated changes from PFC
..changed version number from v1.6 to v1.7
..added element 'summary-of-invention' to description (PFC08/008)
..added element 'description-of-embodiments' to description (PFC08/008)
..added element 'reference-signs-list' to description (PFC08/008)
..added element 'reference-to-deposited-bioligical-material' to description (PFC08/008)
..added element 'citation-list' to description (PFC08/008)
MO: 01/07/08 incorporated changes from PFCs:
..changed version number from v1.5 to v1.6
..added element 'substantially-equivalent' to earlier-search-request (PFC08/003)
..added element 'earlier-search-document' to earlier-search-request (PFC08/003)
..added attribute 'email-purpose' to email (PFC08/006)
MO: 01/01/07 incorporated changes from PFCs:
..changed version number from v1.4 to v1.5
..implementation of PFC06/001
..changed element '(all-designations | all-designations-except-us | designated-status)'
  to '(all-designations | all-designations-except-us | designated-status)?'
  in identity-of-inventor (PFC06/002)
..changed element '(all-designations | all-designations-except-us | designated-status)'
  to '(all-designations | all-designations-except-us | designated-status)?'
  in matter (PFC06/002)
..changed element '(all-designations | designated-status)'
  to '(all-designations | designated-status)?' in lack-of-novelty (PFC06/002)
..added element 'sup' to u (PFC06/003)
..added element 'sup' to i (PFC06/003)
..added element 'sup' to b (PFC06/003)
..added element 'sub' to u (PFC06/003)
..added element 'sub' to i (PFC06/003)
..added element 'sub' to b (PFC06/003)
..added element 'o' to invention-title, b, i, sup, sup2, sub, sub2, heading, claim-text,
  p, small-caps, dt, dd, li, crossref, figref, othercit, statement (PFC06/003)
..added element 'incorporation-by-reference' to wo-priority-info (PFC06/004)
..added element 'restore-rights' to priority-claim (PFC06/004)
..added element 'address-4' to address (PFC06/005)
..added element 'address-5' to address (PFC06/005)
..added attribute 'subset' to protection-request (PFC06/005)
MO: 04/10/05
..changed version FROM 1.3 TO 1.4
..added attribute 'orientation' to abstract-figure
..added attribute 'lang' to abstract-figure
..changed element wo-publication-info
  FROM (wo-correction* , wo-bio-material-after-pub? , isr-status* , pct-pub-info*) 
  TO   (wo-correction* , wo-bio-material-after-pub? , isr-status* , pct-pub-info* , wo-pubnum?)
..added element 'wo-pubnum'
..changed element wo-correction
  FROM (document-id? , type-of-correction? , wo-repub-code , dtext?)
  TO   (document-id? , type-of-correction? , wo-repub-code , wo-pubnum?, wo-dtext*)
..added element wo-dtext
..changed element wo-published-application
  FROM ( ( wo-bibliographic-data , abstract? , abstract-figure? , front-page , description? , claims? , wo-amended-claims? , amend-statement? , drawings? ) | sequence-list-doc | biological-material-doc | lack-of-novelty | pct-rule91-1f | priority-claim-considered-not-made | pct-art17.2a | wo-search-report)*
  TO   ( wo-bibliographic-data , abstract* , abstract-figure* , front-page? , description? , claims? , wo-amended-claims? , amend-statement? , drawings? , ( sequence-list-doc | biological-material-doc | lack-of-novelty | pct-rule91-1f | priority-claim-considered-not-made | pct-art17.2a | wo-search-report )* , wo-ocr-text? , wo-xml-application?)
..added element wo-ocr-text
..added element wo-xml-application
HT: 14/12/04 incorporated changes from PFCs:
..changed element correction from (document-id? , type-of-corection? , wo-repub-code , dtext? to (document-corrected , type-of-correction? , gazette-reference? , text?)
..changed element nplcit from '(text | (article , book , online , othercit)*)' to '(text | article | book | online | othercit)'
..changed element othercit from '(#PCDATA)' to '(#PCDATA | b | i | u | sup | sub)*'
..changed element rel-passage from (text | (passage+ , category? , rel-claims?)) to (text | (passage+ , category* , rel-claims*)+)
..changed element sequence-list-doc from (docpage+ | sequence-list) to (#PCDATA | doc-page | sequence-list)*
..changed element name from 'amended-claims' to wo-amended-claims''
..changed element name from 'correction' to 'wo-correction'
..changed attribute of correction from '#REQUIRED' to '#IMPLIED'
..changed attribute he, wi of doc-page, img from 'NMTOKEN' to 'CDATA'
..changed value of attribute idref of crossref from 'CDATA' to 'IDREF'
..changed value of attribute tsize of dl from 'NMTOKEN' to 'CDATA'
..changed value of attribute num of patcit, nplcit from '#REQUIRED' to 'IMPLIED'
..changed value of attribute xml:space of pre from '#FIXED 'preserve'' to '(preserve | default #IMPLIED)'
..changed value name of attribute listing-type of pre from 'software-code' to 'program-listing'
..added element 'classifications-ipcr' to wo-bibliographic-data
..added element 'pre' to claim-text, dd, li
..added element 'wo-correction' to wo-publication-info
..added attribute 'id' to addressbook, application-reference, classification-ipc, priority-claim, publication-reference
..added attribute 'chem-type' to chem
..added attribute 'claim-type' to claim, claims
..added attribute 'class-type' to class
..added attribute 'ocr' to doc-page
..added attribute 'sequence', 'id' to further-classfication
..added value 'other-subname-type' to attribute 'subname-type' of subname
..removed attribute 'country' from amended-claim
..removed attribute 'lang', 'status', 'dtd-version' from chem
HT: 20/07/04 incorporated changes from PFCs:
..changed version number from v1.2 to v1.3
..changed element article, online, serial from 'subname?' to 'subname*'
..changed element chemistry from '(img)' to '(img|(chem,img?))'
..changed element maths from '(img|math)' to '(img|(math,img?))'
..changed element rel-passage from 'category?, rel-claims?' to 'category*, rel-claims*'
..added element 'figref' to claim-text, dd, li
..added element 'b', 'i', 'u', 'sup', 'sub', 'smallcaps' to crossref
..added attribute 'num' to li
..added attribute 'subname-type' to subname
..added value 'chem', table'', math'', 'program-listing', 'flowchart' to attribute 'img-content' of img
..added value 'national-office', 'regional-office' to attribute produced-by of root element
..removed attribute 'class-type' from nplcit
HT: 16/12/03 incorporated changes from PFCs:
..changed version number from v1.0 to v1.2
..changed table-external from '#PCDATA' to 'EMPTY'
..changed element designation-of-states
   from '(precautionary-designation-statement, exclusion-from-designation?)?)'
   to '(precautionary-designation-statement?, exclusion-from-designation?))'
..added element 'pre' to p content model
..added element 'sup2' and 'sub2' to sup and sub
..added attribute 'lang' and 'class-type' to nplcit
..added attribute 'external-type' to table-external
..added attribute 'figure-labels' to figure
June 2003
..released version number as v1.0
************************************************************************

  ********************************************************************
  *  XML VERSION FOR FILING OF PCT APPLICATIONS:                     *
  *  description, claims, abstract, drawings -                       *
  *  it may be utilised by other offices as required -               *
  *  but it is NOT recommended to add or change element and          *
  *  attribute names                                                 *
  *  see: http://pcteasy.wipo.int/efiling_standards/EFPage.htm       *
  *                                                                  *
  *  It is intended for a) Online Filing b) (later) publication, etc *
  *  within the context of a new version of ST.32 (ST.32X)           *
  *  In developing this DTD we have taken into consideration:        *
  *  - earlier versions of this dtd                                  *
  *  - ST32 version 3                                                *
  *  - Variations of ST.32 in: WIPO, USPTO, MIMOSA, etc              *
  *  - USPTO EFS dtd                                                 *
  *  - Trilateral Common data dictionary                             *
  *  - ISO 12083 dtds, etc                                           * 
  ********************************************************************   

  ****************************************************************************
  * SECTION I - DECLARATION, ENT. REFs, ISO sets, etc                        *
  ****************************************************************************
-->
<!--
  import character entity set.  Download from:
  http://pcteasy.wipo.int/efiling_standards/schemaDocs/wipo.ent
  
  Note that nsgmls-based parsers (SP, Near and Far Designer, etc.)
  may not be able to process this file for reasons described below 
  in MathML comments.
 -->
<!--ENTITY % wipo PUBLIC "-//WIPO//ENTITIES WIPO 1.0//EN" "wipo.ent">
%wipo;-->

<!--
  ****************************************************************************
  * INCLUDE COMPONENT DTDS (MATHML, OASIS EXCHANGE TABLE MODEL               *
  ****************************************************************************
-->
<!-- DTD MathML2: maintained by W3C.  Download from:
     http://www.w3.org/TR/MathML2/DTD-MathML-20010221.zip

     If using nsgmls-based parser (SP, Near and Far Designer, etc.)
     uncomment 'mathml-charent-module' switch below or replace the 
     referenced MathML2 DTD with the version downloadable from:
     http://www.w3.org/Math/DTD/dtd-sp.zip

	 This notice copied from: http://www.w3.org/Math/DTD/
     
     "DTD for nsgmls
	  Some systems (including the popular nsgmls parser) may not be able 
	  to process files using 'plane 1' characters which have Unicode 
	  numbers higher than #xFFFF. The versions of the DTD provided here
	  incoprorate the modifications mentioned above, but the high 
	  characters are replaced by the equivalent mchar construct 
	  <mchar name="..." /> this allows the DTD to be read and for MathML
	  files to be validated using such sytems."
-->
<!--ENTITY % mathml-charent.module "IGNORE" -->
<!ENTITY % MATHML.prefixed "IGNORE">

<!ENTITY % MATHML.xmlns "">

<!-- import MathML2 dtd -->
<!ENTITY % mathml2 PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
%mathml2;

<!-- DTD OASIS Open XML Exchange Table Model.  
       Maintained by OASIS; download from:
       http://www.oasis-open.org/specs/soextblx.dtd
       Note that the FPI in soextblx.dtd refers to itself as 'calstblx'.  
       That convention has been followed here.
-->
<!--  create content for title element in table  -->
<!ENTITY % title "<!ELEMENT title (#PCDATA | b | i | u | sup | sub | smallcaps)* > ">
%title;

<!-- override OASIS Exchange <entry> model -->
<!ENTITY % tbl.entry.mdl "(#PCDATA | b | i | u | sup | sub | smallcaps | br 
                 | patcit | nplcit | bio-deposit | crossref | img 
                 | dl | ul | ol | chemistry | maths)* ">

<!-- import OASIS Exchange model -->
<!ENTITY % calstblx PUBLIC "-//OASIS//DTD XML Exchange Table Model 19990315//EN" 
                           "soextblx.dtd">
%calstblx;
<!--
  ****************************************************************************
  * SECTION II - DTD                                                         *
  ****************************************************************************

Attributes for demand
  id            = unique id for this application - could be file name
  country       = st.3 code for application
  dtd-version   = dtd version number
  lang          = language of application - use ISO639 language code
  status        = status of the application; values: new = new application
  file          = filename of the whole application
  date-produced = YYYYMMDD e.g, 20011230  if desired, 12 characters maximum
  ipea          = IPEA office name, country code ST.3
  produced-by   = creator of this document

-->
<!ELEMENT wo-published-application (wo-bibliographic-data , abstract* , abstract-figure* , front-page? , description? , claims? , wo-amended-claims? , amend-statement? , drawings? , (sequence-list-doc | biological-material-doc | lack-of-novelty | pct-rule91-1f | priority-claim-considered-not-made | pct-art17.2a | wo-search-report)* , wo-ocr-text? , wo-xml-application?)>

<!ATTLIST wo-published-application  lang          CDATA  #REQUIRED
                                      dtd-version   CDATA  #IMPLIED
                                      file          CDATA  #IMPLIED
                                      produced-by          (applicant | 
                                                      RO | 
                                                      ISA | 
                                                      IPEA | 
                                                      IB | 
                                                      DO | 
                                                      EO | 
                                                      national-office | 
                                                      regional-office )  #REQUIRED
                                      date-produced CDATA  #IMPLIED
                                      office-name   CDATA  #IMPLIED
                                      status        CDATA  #IMPLIED >


<!ELEMENT wo-bibliographic-data (publication-reference? , wo-publication-info? , application-reference? , wo-application-info? , wo-amendment-info? , wo-bib-change-info? , wo-demand-info? , file-reference-id? , invention-title* , parties? , designation-of-states? , wo-priority-info? , search-authority? , declaration-info? , classification-ipc? , classifications-ipcr? , figure-to-publish? , signatories? , correspondence-address? , dtext?)>

<!ATTLIST wo-bibliographic-data  date-produced CDATA  #IMPLIED
                                   lang          CDATA  #IMPLIED
                                   dtd-version   CDATA  #IMPLIED
                                   file          CDATA  #IMPLIED
                                   status        CDATA  #IMPLIED
                                   office-name   CDATA  #IMPLIED
                                   produced-by          (applicant | 
                                                   RO | 
                                                   ISA | 
                                                   IPEA | 
                                                   IB | 
                                                   DO | 
                                                   EO | 
                                                   national-office | 
                                                   regional-office )  #REQUIRED >

<!--
  Later election information

-->
<!ELEMENT later-election (received-at-ib)>

<!ATTLIST later-election  expiration-19months   (before | after )  #REQUIRED >

<!--
  PCT/IPEA/401
  The date of receipt of the demand is AFTER the expiration of 19 months from the
  priority date

-->
<!ELEMENT receipt-after-19month EMPTY>

<!ATTLIST receipt-after-19month  informed   (yes | no )  #IMPLIED >

<!--
  IPER status information, date of receipt at IB,
  information of new IPER or corrected IPER.

-->
<!ELEMENT iper-status (received-at-ib?)>

<!ATTLIST iper-status  iper-status   (new | corrected )  #REQUIRED >

<!--
  A signature represented by electronic means

-->
<!ELEMENT electronic-signature (basic-signature | enhanced-signature)>

<!ATTLIST electronic-signature  date         CDATA  #REQUIRED
                                  place-signed CDATA  #IMPLIED >

<!--
  A TIFF image of a signature

-->
<!ELEMENT fax-image EMPTY>

<!ATTLIST fax-image  file CDATA  #REQUIRED >

<!ELEMENT classifications-ipcr (classification-ipcr+)>

<!ATTLIST classifications-ipcr  id ID  #IMPLIED >

<!--
  International Patent Classification (IPC) data;

-->
<!ELEMENT classification-ipcr ((ipc-version-indicator , classification-level? , section , class , subclass , main-group? , subgroup? , symbol-position? , classification-value? , action-date? , generating-office? , classification-status? , classification-data-source?) | text)>

<!ATTLIST classification-ipcr  id       ID     #IMPLIED
                                 sequence CDATA  #IMPLIED >

<!--
  International Patent Classification (IPC) data;
    (INID 51,  ST.32:B510)

-->
<!ELEMENT classification-ipc (edition , main-classification , further-classification* , (additional-info | linked-indexing-code-group | unlinked-indexing-code)* , text?)>

<!ATTLIST classification-ipc  id ID  #IMPLIED >

<!--
  Further/secondary classification
    (ST.32:B512/B522)

-->
<!ELEMENT further-classification (#PCDATA)>

<!ATTLIST further-classification  id       ID     #IMPLIED
                                    sequence CDATA  #IMPLIED >

<!--
  Designated states for declarations

-->
<!ELEMENT designated-states-as-dec (all-designations | all-designations-except-us | (regional* , national?))>

<!ATTLIST designated-states-as-dec  dec-type   (1 | 2 | 3 | 4 | 5 | combined )  #REQUIRED >

<!--
  Information of combined declaration(declaration 1 and 2)

-->
<!ELEMENT combined-declaration EMPTY>

<!ATTLIST combined-declaration  quantity CDATA  #REQUIRED >

<!--
  Declaration as to non-prejudical disclosures or exceptions to lack of novelty
  (Rules 4.17(v) and 51bis.1(a)(v))

-->
<!ELEMENT declaration5 EMPTY>

<!ATTLIST declaration5  quantity CDATA  #REQUIRED >

<!--
  Declaration of inventorship (Rules 4.17(iv) and 51bis.1(a)(iv)) for the purposes
  of the designation of the United States of America

-->
<!ELEMENT declaration4 EMPTY>

<!ATTLIST declaration4  quantity CDATA  #REQUIRED >

<!--
  Declaration as applicant's entitlement, as at the international filing date, to
  claim the priority of the earlier application, where the applicant is not the
  applicant who filed the earlier application or where the applicant's name has
  changed since the filing of the earlier application
  (Rules 4.17(iii) and 51bis.1(a)(iii))

-->
<!ELEMENT declaration3 EMPTY>

<!ATTLIST declaration3  quantity CDATA  #REQUIRED >

<!--
  Declaration as applicant's entitlement, as at the international filing date, to
  apply for and be granted a patent (Rules 4.17(ii) and 51bis.1(a)(ii)), in a case
  where the declaration under Rule 4.17(iv) is not appropriate

-->
<!ELEMENT declaration2 EMPTY>

<!ATTLIST declaration2  quantity CDATA  #REQUIRED >

<!--
  Declaration as to the identity of the inventor
  (Rules 4.17(i) and 51bis.1(a)(i))

-->
<!ELEMENT declaration1 EMPTY>

<!ATTLIST declaration1  quantity CDATA  #REQUIRED >
<!--
-->
<!ELEMENT earlier-search-documents EMPTY>

<!ATTLIST earlier-search-documents  results-of-earlier-search                   (yes | 
                                                                                  no )  #IMPLIED
                                      earlier-application                         (yes | 
                                                                                  no )  #IMPLIED
                                      translation-of-earlier-application          (yes | 
                                                                                  no )  #IMPLIED
                                      translation-of-results-of-earlier-search    (yes | 
                                                                                  no )  #IMPLIED
                                      documents-cited-in-earlier-search-results   (yes | 
                                                                                  no )  #IMPLIED
                                      available-at-isa                            (yes | 
                                                                                  no )  #IMPLIED
                                      request-ro-to-transmit-to-isa               (yes | 
                                                                                  no )  #IMPLIED >

<!--
  Priority claim (PCT Rule 4.10)
    (INID 32/33/34, ST.32:B320/B330/B340)

-->
<!ELEMENT priority-claim (country , doc-number? , date , office-of-filing? , (priority-doc-requested | priority-doc-attached | priority-doc-from-library)? , restore-rights?)>

<!ATTLIST priority-claim  id       ID     #IMPLIED
                            sequence CDATA  #REQUIRED
                            kind            (national | regional | international )  #REQUIRED >

<!--
  library-identifier  attribute intended as an identifying code for the library containing the document ? to be used where offices support the access of documents from many such libraries

  action-by  attribute would indicate the office requested to retrieve the document (for PCT this can be the RO or IB, default IB)
  
  priority-doc-access-code indicates, when present, the access code that the Office (or applicable Offices) should use to obtain the priority document from the specified digital library

-->
<!ELEMENT priority-doc-from-library EMPTY>

<!ATTLIST priority-doc-from-library  library-identifier       CDATA  #IMPLIED
                                       action-by                CDATA  #IMPLIED
                                       priority-doc-access-code CDATA  #IMPLIED >

<!--
  PCT Rule 17.1:  Obligation to Submit Copy of Earlier
  National or International Application

-->
<!ELEMENT pct-rule17-1 EMPTY>

<!ATTLIST pct-rule17-1  compliance   (yes | no )  #REQUIRED >

<!--
  Protection request for the designated office.

-->
<!ELEMENT protection-request (kind-of-protection , document-id?)>

<!ATTLIST protection-request  subset   (yes | no )  #IMPLIED >

<!--
  Agent or common representative (Rules 90.1, 90.2)

-->
<!ELEMENT agent (addressbook+)>

<!ATTLIST agent  sequence CDATA  #REQUIRED
                   rep-type        (agent | attorney | common-representative )  #REQUIRED >

<!--
  Deceased inventor name

-->
<!ELEMENT deceased-inventor (%name_group;)>

<!ATTLIST deceased-inventor  sequence CDATA  #IMPLIED
                               lang     CDATA  #IMPLIED >

<!--
  The individual or entity responsible for creating the matter that protection is
  sought for.
    (ST.32:B721)

-->
<!ELEMENT inventor (addressbook+ , designated-states?)>

<!ATTLIST inventor  sequence    CDATA  #REQUIRED
                      designation        (all | all-except-us | us-only | as-indicated )  #IMPLIED >

<!--
  Applicant information: 
    (INID 71, ST.32:B710)

  attributes for applicant
    sequence   : sequence number of each applicant
                  e.g, sequence="1"
    app-type   : applicant type
                  app-type="applicant" : the applicant is only applicant
                  app-type="applicant-inventor" : the applicant is also inventor
    designation: This person is applicant for the purpose of:
                  designation="all"          : all designated states
                  designation="all-except-us": all designated states except US
                  designation="us-only"      : US only
                  designation="as-indicated" : the states indicated in
                                               designated-states element
                                               under applicant element

-->
<!ELEMENT applicant (addressbook+ , nationality , residence , us-rights* , designated-states? , designated-states-as-inventor?)>

<!ATTLIST applicant  sequence    CDATA  #REQUIRED
                       app-type           (applicant | applicant-inventor )  #REQUIRED
                       designation        (all | all-except-us | us-only | as-indicated )  #REQUIRED >

<!--
  This person is successor to the rights of an inventor who is deceased, insane, or
  legally incapacitated, for the purposes of the designation of the United States
  of America

-->
<!ELEMENT us-rights (#PCDATA)>

<!ATTLIST us-rights  to-dead-inventor CDATA  #REQUIRED
                       kind                    (heir | 
                                          heiress | 
                                          executor | 
                                          executrix | 
                                          estate | 
                                          legal-representative | 
                                          administrator | 
                                          administratrix | 
                                          legal-representatives | 
                                          heirs | 
                                          executors | 
                                          legal-heirs )  #REQUIRED
                       id  ID  #IMPLIED >

<!--
  ISR status information, date of receipt at IB,
  information of new ISR or corrected ISR.

-->
<!ELEMENT isr-status (received-at-ib?)>

<!ATTLIST isr-status  isr-status   (new | corrected )  #REQUIRED >

<!--
  Publication reference information: publication number, date, etc
    (INID 11, ST.32:B110)

-->
<!ELEMENT publication-reference (document-id)>

<!ATTLIST publication-reference  id ID  #IMPLIED >

<!--
	IB XML application

-->
<!ELEMENT wo-xml-application (description , claims , abstract* , wo-amended-claims? , amend-statement? , drawings?)>

<!ATTLIST wo-xml-application  lang   CDATA  #REQUIRED
                                status CDATA  #IMPLIED >

<!--
	Text data made by the OCR system

-->
<!ELEMENT wo-ocr-text (wo-dtext)>

<!ATTLIST wo-ocr-text  file CDATA  #IMPLIED >

<!--
	IB original dtext, br tag is available.

-->
<!ELEMENT wo-dtext (#PCDATA | br)*>

<!ATTLIST wo-dtext  lang CDATA  #IMPLIED >

<!--
  Biological material component in PCT publication

-->
<!ELEMENT biological-material-doc ((application-reference? , file-reference-id? , indications+) | doc-page+)>

<!ATTLIST biological-material-doc  id     ID     #IMPLIED
                                     lang   CDATA  #IMPLIED
                                     status CDATA  #IMPLIED >

<!--
  Declaration as to non-prejudical disclosures or exceptions to lack of novelty
  (PCT Rules 4.17(v) and 51bis.1(a)(v))

-->
<!ELEMENT lack-of-novelty (doc-page+ | (application-reference? , %name_group; , ((date | address | title-of-disclosure | method-of-disclosure | dtext)+ , (all-designations | designated-states)?)))>

<!ATTLIST lack-of-novelty  sequence CDATA  #REQUIRED
                             lang     CDATA  #IMPLIED
                             id     ID  #IMPLIED >

<!--
  Application reference information: application number, country
    (INID 21, ST.32:B210)

-->
<!ELEMENT application-reference (document-id)>

<!ATTLIST application-reference  id        ID     #IMPLIED
                                   appl-type CDATA  #IMPLIED >

<!--
  Priority claim considered not made (Rule 26bis2(b))

-->
<!ELEMENT priority-claim-considered-not-made (doc-page+ | priority-claim-considered-not-made-doc)>

<!ATTLIST priority-claim-considered-not-made  lang   CDATA  #IMPLIED
                                                id     ID     #IMPLIED
                                                status CDATA  #IMPLIED >

<!--
  PCT Rule91.1(f): "Any authority which authorizes or refuses any rectification
  shall promptly notify the applicant of the authorization or refusal and, in the
  case of refusal, of the reasons therefor.."

-->
<!ELEMENT pct-rule91-1f (doc-page+ | pct-rule91-1f-doc)>

<!ATTLIST pct-rule91-1f  lang   CDATA  #IMPLIED
                           id     ID     #IMPLIED
                           status CDATA  #IMPLIED >
<!--
international search report 


-->
<!ELEMENT wo-search-report (doc-page+ | search-report)>

<!ATTLIST wo-search-report  lang   CDATA  #IMPLIED
                              id     ID     #IMPLIED
                              status CDATA  #IMPLIED >

<!--
  Search report

-->
<!ELEMENT search-report EMPTY>

<!ATTLIST search-report  id       ID     #IMPLIED
                           file     CDATA  #REQUIRED
                           lang     CDATA  #IMPLIED
                           carriers        (internal-electronic | 
                                      external-electronic | 
                                      paper )  #IMPLIED
                           status   CDATA  #IMPLIED >

<!--
  PCT Article 17.2(a): 
    "If the International Searching Authority considers
      (i)  that the international application relates to a subject matter which
           the International Searching Authority is not required, under the
           Regulations, to search, and in the particular case decides not to
           search, or
      (ii) that the description, claims, or the drawings, fail to comply with the
           prescribed requirements to such an extent that a meaningful search could
           not be carried out, the said Authority shall so declare and shall notify
           the applicant and the International Bureau that no international search 
           report will be established."

-->
<!ELEMENT pct-art17.2a (doc-page+ | art17.2a-doc)>

<!ATTLIST pct-art17.2a  lang   CDATA  #IMPLIED
                          id     ID     #IMPLIED
                          status CDATA  #IMPLIED >

<!--
  Sequence list document component in PCT publication

-->
<!ELEMENT sequence-list-doc (#PCDATA | doc-page | sequence-list)*>

<!ATTLIST sequence-list-doc  id     ID     #IMPLIED
                               lang   CDATA  #IMPLIED
                               status CDATA  #IMPLIED >

<!--
  SEQUENCE LISTING
    According to WIPO ST.25: STANDARD FOR THE PRESENTATION OF NUCLEOTIDE AND
    AMINO ACID SEQUENCE LISTINGS IN PATENT APPLICATIONS:
      see http://www.wipo.int/scit/en/index.html
    "The sequence listing as defined in paragraph 2(i) shall, where it is filed
    together with the application, be placed at the end of the description
    part of the application. This part shall be entitled Sequence Listing, 
    begin on a new page and preferably have independent page numbering. 
    The sequence listing forms an integral part of the description; it is therefore 
    unnecessary, subject to paragraph 36, to describe the sequences elsewhere 
    in the description." Therefore we create here a separate sub-document for 
    sequence listings, it should follow any drawings or the claims.
    It should follow the format of Annex C/ST.25 and be an external file

-->
<!ELEMENT sequence-list EMPTY>

<!ATTLIST sequence-list  id                     ID     #IMPLIED
                           file                   CDATA  #REQUIRED
                           lang                   CDATA  #IMPLIED
                           carriers                      (internal-electronic | 
                                                    external-electronic | 
                                                    paper )  #IMPLIED
                           seq-file-type          CDATA  #FIXED 'ST.25'
                           electronic-format-type        (text | other )  #IMPLIED
                           status                 CDATA  #IMPLIED
                           part-of-application           (yes | no )  #IMPLIED >

<!--
  Amended content of original application

-->
<!ELEMENT wo-amended-claims ((amend-statement? , (amend-body | (delete-object | ((insert-before-object | insert-after-object | replace-object)))+)) , text?)>

<!ATTLIST wo-amended-claims  id         ID     #IMPLIED
                               lang       CDATA  #REQUIRED
                               claim-type CDATA  #IMPLIED
                               status     CDATA  #IMPLIED >

<!--
  Replace referenced object with new content ;
  e.g.,
    <replace-object id="p02">
      <p id="p01a" num="001a">(new content)</p>
    </replace-object>

-->
<!ELEMENT replace-object (%amend_content;)>

<!ATTLIST replace-object  id       ID     #IMPLIED
                            num      CDATA  #IMPLIED
                            location CDATA  #IMPLIED >

<!--
  Insert new content after referenced object;
  e.g.,
    <insert-after-object id="p02">
      <p id="p03" num="003">(new content)</p>
    </insert-after-object>

-->
<!ELEMENT insert-after-object (%amend_content;)>

<!ATTLIST insert-after-object  id       ID     #IMPLIED
                                 num      CDATA  #IMPLIED
                                 location CDATA  #IMPLIED >

<!--
  Insert new content before referenced object;
  e.g.,
    <insert-before-object id="p02">
      <p id="p01a" num="001a">(new content)</p>
    </insert-before-object>

-->
<!ELEMENT insert-before-object (%amend_content;)>

<!ATTLIST insert-before-object  id       ID     #IMPLIED
                                  num      CDATA  #IMPLIED
                                  location CDATA  #IMPLIED >

<!--
  Delete object from document; e.g., paragraph, claim, etc.        
  e.g,
    <delete-object id='p06'></delete-object>

-->
<!ELEMENT delete-object EMPTY>

<!ATTLIST delete-object  id       ID     #IMPLIED
                           num      CDATA  #IMPLIED
                           location CDATA  #IMPLIED >

<!--
  Amend entire sections of the application-body

-->
<!ELEMENT amend-body (doc-page+ | (description? , claims? , abstract? , drawings?))>

<!ATTLIST amend-body  id     ID     #IMPLIED
                        lang   CDATA  #REQUIRED
                        status CDATA  #IMPLIED >

<!--
  Drawings: PCT Article 7 / Rule 7
  Drawings shall be required when they are necessary for the understanding of the 
  invention.

  Recommended id = 'draw'

-->
<!ELEMENT drawings (doc-page+ | figure+)>

<!ATTLIST drawings  id     ID     #IMPLIED
                      lang   CDATA  #IMPLIED
                      status CDATA  #IMPLIED >

<!--
  A drawing (figure), necessary for the understanding of the invention

  Recommended id = f0001, f0002, etc.

-->
<!ELEMENT figure (img)>

<!ATTLIST figure  id            ID     #IMPLIED
                    num           CDATA  #REQUIRED
                    figure-labels CDATA  #IMPLIED 
                    color (color | bw) #IMPLIED>

<!--
  Amendment statement (PCT Article 19.1, PCT Rule 46.4).
  May consist of a statement or an attached file

-->
<!ELEMENT amend-statement (doc-page+ | statement)>

<!ATTLIST amend-statement  id     ID     #IMPLIED
                             lang   CDATA  #IMPLIED
                             status CDATA  #IMPLIED >

<!--
  Claims:
  the claims shall define the matter sought for patent and be supported by the
  description.

  Recommended id = 'claim' or 'claim0001' for multiple claims

-->
<!ELEMENT claims (doc-page+ | claim+)>

<!ATTLIST claims  id         ID     #IMPLIED
                    lang       CDATA  #IMPLIED
                    claim-type CDATA  #IMPLIED
                    status     CDATA  #IMPLIED >

<!--
  Defines the matter for which protection is sought
  See PCT Rule 6:
    6.1.a: 'the number of claims shall be reasonable in consideration of what is 
             being claimed.'
    6.1.b: 'if there are several claims, they shall be numbered consecutively in 
             Arabic numerals.'

  Recommended id values
    If parent element is claims and there is only ONE set of claims:
      id = c0001, c0002, etc.;num = 0001, 0002, etc.
    If parent element is amended-claims and there is only ONE set then;
      id = ac0001, ac0002, etc.;num = 0001, 0002, etc.
    If parent element is claims and there are MULTIPLE sets of claims then:
      id = c01.0001, c01.0002, etc.;num = 0001, 0002, etc.
      id = c02.0001, c02.0002, etc.;num = 0001, 0002, etc.
    If parent element is amended-claims and there are MULTIPLE sets of
    amended-claims then:
      id = ac01.0001, ac01.0002, etc.;num = 0001, 0002, etc. 

-->
<!ELEMENT claim (claim-text+)>

<!ATTLIST claim  id         ID     #IMPLIED
                   num        CDATA  #REQUIRED
                   claim-type CDATA  #IMPLIED >

<!--
  Reference to a claim

-->
<!ELEMENT claim-ref (#PCDATA)>

<!ATTLIST claim-ref  idref IDREFS  #REQUIRED >

<!--
  Description:
  The description must disclose the invention in a manner sufficiently clear and
  complete for it to be carried out by a person skilled in the art (Rule 5). 

  Recommended id = 'desc'

-->
<!ELEMENT description (doc-page+ | (invention-title? , (technical-field | background-art | disclosure | summary-of-invention | description-of-drawings | description-of-embodiments | best-mode | mode-for-invention | industrial-applicability | reference-signs-list | reference-to-deposited-biological-material | sequence-list-text | citation-list | (heading* , p+)+)+))>

<!ATTLIST description  id     ID     #IMPLIED
                         lang   CDATA  #IMPLIED
                         status CDATA  #IMPLIED >
<!--
-->
<!ELEMENT citation-list (patent-literature | non-patent-literature | (heading* , p*)+)+>

<!ATTLIST citation-list  id ID  #IMPLIED >
<!--
-->
<!ELEMENT non-patent-literature (heading* , p+)+>

<!ATTLIST non-patent-literature  id ID  #IMPLIED >
<!--
-->
<!ELEMENT patent-literature (heading* , p+)+>

<!ATTLIST patent-literature  id ID  #IMPLIED >

<!--
  Sequence listing free text
  WIPO ST.25:
  "36. Where the sequence listing part of the description contains free text,
       any such free text shall be repeated in the main part of the description
       in the language thereof.
       It is recommended that the free text in the language of the main part of the
       description be put in a specific section of the description called "Sequence
       Listing Free Text".

  Recommended id = 'seqt'

-->
<!ELEMENT sequence-list-text (heading* , p+)+>

<!ATTLIST sequence-list-text  id ID  #IMPLIED >
<!--
-->
<!ELEMENT reference-to-deposited-biological-material (heading* , p+)+>

<!ATTLIST reference-to-deposited-biological-material  id ID  #IMPLIED >
<!--
-->
<!ELEMENT reference-signs-list (heading* , p+)+>

<!ATTLIST reference-signs-list  id ID  #IMPLIED >

<!--
  Article 33(4): "For purposes of the international preliminary examination,
  a claimed invention shall be considered industrially applicable if, according to
  its nature, it can be made or used (in the technological sense) in any kind of
  industry.

  Recommended id = 'inap'

-->
<!ELEMENT industrial-applicability (heading* , p+)+>

<!ATTLIST industrial-applicability  id ID  #IMPLIED >

<!--
  PCT Rule 5.1(a)(vi): "The description shall...indicate explicitly, when it is not
  obvious from the description or nature of the invention, the way in which the
  invention is capable of exploitation in industry and the way in which it can be
  made and used..."

  Recommended id = 'mode'

-->
<!ELEMENT mode-for-invention (heading* , p+)+>

<!ATTLIST mode-for-invention  id       ID     #IMPLIED
                                mode-num CDATA  #IMPLIED >

<!--
  The best mode contemplated by the applicant for carrying out the invention
  claimed.

  Recommended id = 'bmod'

-->
<!ELEMENT best-mode (heading* , p+)+>

<!ATTLIST best-mode  id ID  #IMPLIED >
<!--
-->
<!ELEMENT description-of-embodiments (embodiments-example | (heading* , p*)+)+>

<!ATTLIST description-of-embodiments  id ID  #IMPLIED >
<!--
-->
<!ELEMENT embodiments-example (heading* , p+)+>

<!ATTLIST embodiments-example  id     ID     #IMPLIED
                                 ex-num CDATA  #IMPLIED >

<!--
  Brief description of the drawings (Rule 5.1(a)(iv)

  Recommended id = 'desd'

-->
<!ELEMENT description-of-drawings (heading* , p+)+>

<!ATTLIST description-of-drawings  id ID  #IMPLIED >
<!--
-->
<!ELEMENT summary-of-invention (tech-problem | tech-solution | advantageous-effects | (heading* , p*)+)+>

<!ATTLIST summary-of-invention  id ID  #IMPLIED >

<!--
  Disclosure of the invention with sub-headings:
    technical problem;
    technical solution;
    advantageous effects (of the invention);

  Recommended id = 'disc'

-->
<!ELEMENT disclosure ((tech-problem | tech-solution | advantageous-effects)* | (heading* , p+)+)>

<!ATTLIST disclosure  id ID  #IMPLIED >

<!--
  advantageous effects of the invention (PCT Rule 5.1(a)(iii) 

  Recommended id = 'adve'

-->
<!ELEMENT advantageous-effects (heading* , p+)+>

<!ATTLIST advantageous-effects  id ID  #IMPLIED >

<!--
  The solution to the problem that the invention purports to solve.
  (PCT Rule 5.1(a)(iii)

-->
<!ELEMENT tech-solution (heading* , p+)+>

<!ATTLIST tech-solution  id ID  #IMPLIED >

<!--
  The problem the invention purports to solve (Rule 5.1(a)(iii)

-->
<!ELEMENT tech-problem (heading* , p+)+>

<!ATTLIST tech-problem  id ID  #IMPLIED >

<!--
  Background art, background of the invention.

  Recommended id = 'bart'

-->
<!ELEMENT background-art (heading* , p+)+>

<!ATTLIST background-art  id ID  #IMPLIED >

<!--
  PCT Rule 5.1:
    (a) The description shall first state the title of the invention as appearing
       in the request and shall:
      (i) specify the technical field to which the invention relates

-->
<!ELEMENT technical-field (heading* , p+)+>

<!ATTLIST technical-field  id ID  #IMPLIED >

<!--
  Heading text; see Rule 5.  Recommended id = h0001, h0002, etc.

-->
<!ELEMENT heading (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST heading  level     (1 | 2 | 3 )  #IMPLIED
                     id    ID  #IMPLIED >

<!--
  Title of the Invention:
    (INID 54, ST.32:B540/B542)

  Preferably two to seven words when in English or translated into English and
  precise. (Rule 4.3)

  Recommended id = 'invt'

-->
<!ELEMENT invention-title (#PCDATA | b | i | u | o | sup | sub)*>

<!ATTLIST invention-title  id   ID     #IMPLIED
                             lang CDATA  #IMPLIED >

<!--
  Front page of the published application

-->
<!ELEMENT front-page (doc-page+)>

<!ATTLIST front-page  id     ID     #IMPLIED
                        lang   CDATA  #IMPLIED
                        status CDATA  #IMPLIED >

<!--
  Note: the abstract figure (if there is one) may be the actual image,
  e.g.
      <image id='abfig1' file='a1.tif' he='99' wi='74' img-format='tiff'></image>
      or simply a  reference to the figure chosen by the applicant 
      or the office; 

  Attribute fig-status values:(taken from form PCT/ISA/210)
      1 = as suggested by the applicant
      2 = because the applicant failed to suggest a figure
      3 = because this figure better characterises the invention
      4 = none of the figures

-->
<!ELEMENT abstract-figure ((fig-number+) | img+)>

<!ATTLIST abstract-figure  id          ID     #IMPLIED
                             fig-status         (1 | 2 | 3 | 4 )  '1'
                             orientation CDATA  #IMPLIED
                             lang        CDATA  #IMPLIED >

<!--
  ABSTRACT: PCT Rule 8
    (INID 57, ST.32:B570)
  A concise summary of the disclosure, 50-150 words.

  Recommended id = 'abst' or 'abst0001' for multiple abstracts

-->
<!ELEMENT abstract (doc-page+ | (abst-problem , abst-solution) | p+)>

<!ATTLIST abstract  id     ID     #IMPLIED
                      lang   CDATA  #IMPLIED
                      status CDATA  #IMPLIED >

<!--
  The solution to the alleged problem that the invention  purports to solve.

  Recommended id = 'abss'

-->
<!ELEMENT abst-solution (p+)>

<!ATTLIST abst-solution  id ID  #IMPLIED >

<!--
  The alleged problem that the invention purports to solve

  Recommended id = 'absp'

-->
<!ELEMENT abst-problem (p+)>

<!ATTLIST abst-problem  id ID  #IMPLIED >

<!--
  Paragraph

  Recommended id  = p0001, p0002, etc.  num = 0001, 0002, etc.

  Note: paragraphs may occur in sections other than the description and at
  different times  eg. for the abstract, in this case use for example "p0001a";
  amended claims: "p0001ac", etc. 

-->
<!ELEMENT p (#PCDATA | b | i | u | o | sup | sub | smallcaps | br | pre | dl | ul | ol | crossref | figref | patcit | nplcit | bio-deposit | img | chemistry | maths | tables | table-external-doc)*>

<!ATTLIST p  id  ID     #IMPLIED
               num CDATA  #REQUIRED >

<!--
   References a stand-alone table authored with the table-external DTD.

-->
<!ELEMENT table-external-doc (#PCDATA)>

<!ATTLIST table-external-doc  id            ID     #IMPLIED
                                file          CDATA  #REQUIRED
                                lang          CDATA  #IMPLIED
                                carriers             (internal-electronic | 
                                                external-electronic | 
                                                paper )  #IMPLIED
                                external-type        (math | 
                                                chemistry | 
                                                program-listing | 
                                                other )  #IMPLIED
                                status        CDATA  #IMPLIED >

<!--
  TABLES
  This is image data or coded according to OASIS Exchange model with modified cell
  'entry' content.
 
  Recommended id = tabl0001, tabl0002, etc.

-->
<!ELEMENT tables (img | table)>

<!ATTLIST tables  id  ID     #IMPLIED
                    num CDATA  #REQUIRED >

<!--
  Definition list

  Recommended id = dlis0001, dlis0002, etc.

-->
<!ELEMENT dl (dt , dd)+>

<!ATTLIST dl  tsize   CDATA  #IMPLIED
                compact        (compact )  #IMPLIED
                id      ID     #IMPLIED >

<!--
  Term to be defined

  Recommended id = dtrm0001, dtrm0002, etc.

-->
<!ELEMENT dt (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST dt  id ID  #IMPLIED >

<!--
  Unordered Lists
    list-style may be empty for lists with no bullet or other symbol default
    list-style is 'bullets'

  Recommended id = ulis0001, ulis0002, etc.

-->
<!ELEMENT ul (li+)>

<!ATTLIST ul  id         ID  #IMPLIED
                list-style     (bullet | dash | none )  'bullet'
                compact        (compact )  #IMPLIED >

<!--
  List item

  Recommended id = list0001, list0002, etc.

-->
<!ELEMENT li (#PCDATA | b | i | u | o | sup | sub | smallcaps | br | pre | patcit | nplcit | bio-deposit | crossref | figref | img | dl | ul | ol | chemistry | maths)*>

<!ATTLIST li  id  ID     #IMPLIED
                num CDATA  #IMPLIED >

<!--
  MATHEMATICS 
  This is image data or coded according to mathml, version 2

  Recommended id = math0001, math0002, etc.

-->
<!ELEMENT maths (img | (math , img?))>

<!ATTLIST maths  id  ID     #IMPLIED
                   num CDATA  #REQUIRED >

<!--
  Chemistry
  Chemical formulae, ring structures, Markush structures, etc.

  For now treat as image data.
  Depending on industry support we may use, e.g., chemML, CML later

  Recommended id = chem0001, chem0002, etc

-->
<!ELEMENT chemistry (img | (chem , img?))>

<!ATTLIST chemistry  id  ID     #IMPLIED
                       num CDATA  #REQUIRED >

<!--
  This is a pointer to an external DTD for chemical markup - to be determined.
  For EPO probably CML; http://www.xml-cml.org/

-->
<!ELEMENT chem EMPTY>

<!ATTLIST chem  id        ID     #IMPLIED
                  file      CDATA  #REQUIRED
                  chem-type CDATA  #IMPLIED >

<!--
  Ordered Lists: 
  attribute 'ol-style'

  Recommded use:
    1   arablic numbers     1, 2, 3, ...
    a   lower alpha         a, b, c, ...
    A   upper alpha         A, B, C, ...
    i   lower roman         i, ii, iii, ...
    I   upper roman         I, II, III, ...

-->
<!ELEMENT ol (li+)>

<!ATTLIST ol  id       ID     #IMPLIED
                compact         (compact )  #IMPLIED
                ol-style CDATA  #IMPLIED >

<!--
  Image data
  Image is used for any kind of image: art work, figures,  complex work units
  (math, tables, chemistry), etc.

  Recommended:
    id          = i0001, i0002, etc.
    he, wi      = "11" - milimeters - height, width;
    file        = file name,location; label - not used;
    alt         = alternate text if image not shown;
    img-content = drawing is the default;
    img-format  = common will be tiff, st33 and st35 in for backward compatibilty
                  and, later, publication.
    orientation = orientation of the image (portrait | landscape).
                  Default is portrait
    inline      = (yes | no).
                  Whether the image is to be presented inline or separated by line
                  breaks.  Default is no.

-->
<!ELEMENT img EMPTY>

<!ATTLIST img  id          ID     #IMPLIED
                 he          CDATA  #REQUIRED
                 wi          CDATA  #REQUIRED
                 file        CDATA  #REQUIRED
                 alt         CDATA  #IMPLIED
                 img-content        (drawing | 
                               photograph | 
                               character | 
                               dna | 
                               undefined | 
                               chem | 
                               table | 
                               math | 
                               program-listing | 
                               flowchart | 
                               graph )  'drawing'
                 img-format         (jpg | tif | st33 | st35 )  #REQUIRED
                 orientation        (portrait | landscape )  'portrait'
                 inline             (yes | no )  'no' >

<!--
  A reference to a figure;
  e.g., "...as shown in <figref idref='f0001'>figure<b>1</b></figref>..."

-->
<!ELEMENT figref (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST figref  idref IDREFS  #IMPLIED
                    num   CDATA   #IMPLIED >

<!--
  Cross reference to any other element with an identifier (id)

-->
<!ELEMENT crossref (#PCDATA | b | i | u | o | sup | sub | smallcaps)*>

<!ATTLIST crossref  idref IDREF  #REQUIRED >

<!--
  Biological deposit citation (US EFS: biological-deposit)
    (INID 83, ST.32:B830)
  According to PCT Rule 13bis, EPC Rule 28
  This covers all bio data references long and short within the description and/or
  claims

  Recommended id = biod0001, biod0002, etc.

-->
<!ELEMENT bio-deposit (depositary , bio-accno , date? , term? , dtext?)>

<!ATTLIST bio-deposit  id   ID     #IMPLIED
                         num  CDATA  #REQUIRED
                         url  CDATA  #IMPLIED
                         dnum CDATA  #IMPLIED >

<!--
  Non-Patent Literature (NPL) CITation;

  Notes:
    This can be free text data without any structure (#PCDATA) which is NOT
    recommended 
    or it can be highly structured data which is marked up according to ST.14 and
    ISO 690 layout;

    This part of the DTD has used many different sources for element names and DTD
    structure and reference:
    AACR2 / MARC
    ISO 12083 - Electronic manuscript prep. and markup. DTD
    Association of American Publishers (AAP) Z39.59 DTD
    European Working Group for SGML (EWS) MAJOUR DTD
    SuperJournal Full Article DTD
      www.superjournal.ac.uk/sj
    Elsevier DTD
    Medline DTD (NLM)            

  Attributes (recommended):
    id - ncit0001, ncit0002, etc
    num - 0001, 0002
    npltype - The TYPE of citation is office specific (recommended):;
      A - Abstract citation of no specific kind
      B - Book citation
      I - Bilogical abstract citation
      C - Chemical abstracts citation
      E - Database citation
      D - Derwent citation
      P - Patent cited within NPL group
      J - Patent Abstracts of Japan citation (REC 067)
      S - Serial / Journal / Periodical citation
      W - World Wide Web / Internet search citation
    medium - the type of medium
      e.g., CD (CD-ROM), MT (Magnetic Tape), DISK, ONLINE
    file - file name on local systems eg. XP number in EPO
    url  - where possible give full web link to document

-->
<!ELEMENT nplcit ((text | article | book | online | othercit) , rel-passage*)>

<!ATTLIST nplcit  id       ID     #IMPLIED
                    num      CDATA  #IMPLIED
                    lang     CDATA  #IMPLIED
                    file     CDATA  #IMPLIED
                    npl-type CDATA  #IMPLIED
                    medium   CDATA  #IMPLIED
                    url      CDATA  #IMPLIED >

<!--
  Reference number (general); for the EPO this is the XP number

-->
<!ELEMENT refno (#PCDATA)>

<!ATTLIST refno  id ID  #IMPLIED >

<!--
  Classification code; e.g., ipc, dewey etc.

-->
<!ELEMENT class (#PCDATA)>

<!ATTLIST class  class-type CDATA  #IMPLIED >

<!--
  Subordinate responsibility;  e.g., editor, translator, etc.

-->
<!ELEMENT subname (%name_group; | addressbook)>

<!ATTLIST subname  subname-type   (editor | translator | other-subname-type )  'editor' >

<!--
  Author

  Prime responsibility for the work
  there is no distinguishing between personal and corporate authors
  <author> followed by name or addressbook information
  use the ID attribute if, for example, there is a need to distinguish between
  multiple authors.
  Can also include affiliation details

  Recommended id = auth0001, auth0002, etc.

-->
<!ELEMENT author (%name_group; | addressbook)>

<!ATTLIST author  id ID  #IMPLIED >

<!--
  ADDRESSBOOK GROUP: 
  Holds name and contact information for individuals/organizations

  The LANG attribute is REQUIRED for certain document types,
  e.g., the JPO PCT Request where names and addresses may be repeated in two
    different languages. If no structure possible use text.

-->
<!ELEMENT addressbook ((%name_group; , address , phone* , fax* , email* , url* , ead* , dtext?) | text)>

<!ATTLIST addressbook  id   ID     #IMPLIED
                         lang CDATA  #IMPLIED >

<!--
	Email address

	Attribute:
		email-purpose    reason for which email address is included:
informal     for informal contact only
general      for any type of communication
confirmation any type of communication, but formal messages followed up
             by conventional mailing (to the extent offered)
main         where applicant desires this address to be used as primary
             means of contact as a replacement of the use of conventional
             post (to the extent that an Office offers this)
		the default value depends on e-mail policies of the relevant Office. 
		For PCT purposes as at 1 July 2008, no attribute being included is 
		equivalent to 'informal'

-->
<!ELEMENT email (#PCDATA)>

<!ATTLIST email  email-purpose   (informal | general | advance | main )  #IMPLIED >

<!--
  PATENT CITATIONS:
    (ST.32:B561)
  Patent Citation within abstract, description or claims.
  For patent citations within Search Report see Search Report DTD

  Notes:
    Tags arranged according to WIPO ST.14 order.
    This can be free text data without any structure (text).

  Example:
    <patcit id='pcit0001' dnum='US4793675A' dnum-type='publication number'>
      <document-id>
        <country>US</country>
        <doc-number>4793675</doc-number>
        <kind>A</kind>
        <name>Handa</name>
        <date>19881227</date>
      </document-id>
    </patcit>

  Note:
    It is NOT expected that the applicant will create the tagged data
    - it could be generated from a 'pull down' data entry form
    or generated from internal SR databases

  Attributes (recommended):
    id   - pcit0001, pcit0002, etc.
    num  - 0001, 0002, etc.
    dnum - use full number as one string, eg, "US5401234A";
    url  - where possible give full web link to patent
    file - file name eg. if stored on local systems
    dnum-type - type of document number
      (e.g., application number, publication number)

-->
<!ELEMENT patcit (text | (document-id , rel-passage*))>

<!ATTLIST patcit  id        ID     #IMPLIED
                    num       CDATA  #IMPLIED
                    dnum      CDATA  #IMPLIED
                    dnum-type CDATA  #IMPLIED
                    file      CDATA  #IMPLIED
                    url       CDATA  #IMPLIED >

<!--
  Document identification refers to patents (and patent applications) only.
  See WIPO ST.14

-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >

<!--
  Name:
  If no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate (legal entity) names

-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >

<!--
  This element is one method to identify content consisting of text objects that
  require preservation (pre) of their whitespace in order to preserve internal
  logical relationships.
  (e.g., sequence listing fragments, computer program listings)

-->
<!ELEMENT pre (#PCDATA)>

<!ATTLIST pre  id           ID  #IMPLIED
                 xml:space        (preserve | default )  #IMPLIED
                 listing-type     (sequence | program-listing | other )  #REQUIRED >

<!--
  Underscore: style - single is default

-->
<!ELEMENT u (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST u  style   (single | double | dash | dots )  'single' >

<!--
  Overscore: style - single is default

-->
<!ELEMENT o (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST o  style   (single | 
                       double | 
                       dash | 
                       dots | 
                       leftarrow | 
                       rightarrow | 
                       leftrightarrow )  'single' >

<!--
  doc-page - DOCument or PAGE

  This is primarily to be used when data for the whole or major sections of an
  application are in image format OR other formats such as pdf.

  Page range attributes are given when required
    pp  - page range
    ppf - first page 
    ppl - last page (for pdf).
  The 'img' may also be used for complete pages, e.g. in drawings 

  Recommended id = docp0001, docp0002, etc.
  Attributes "he" and "wi" mean height and width. 


-->
<!ELEMENT doc-page EMPTY>

<!ATTLIST doc-page  id          ID     #IMPLIED
                      he          CDATA  #REQUIRED
                      wi          CDATA  #REQUIRED
                      type               (jpg | pdf | tif )  #REQUIRED
                      alt         CDATA  #IMPLIED
                      pp          CDATA  #IMPLIED
                      ppf         CDATA  #IMPLIED
                      ppl         CDATA  #IMPLIED
                      file        CDATA  #REQUIRED
                      ocr         CDATA  #IMPLIED
                      color              (color | bw )  #IMPLIED
                      orientation        (portrait | landscape )  'portrait' >
<!--
   information for chapter II demand at IB

-->
<!ELEMENT wo-demand-info (ipea? , received-at-ipea? , elected-office? , later-election? , receipt-after-19month? , considered-not-made? , withdrawn? , iper-status* , completion-date?)>


<!--
  International Preliminary Examination Authority

-->
<!ELEMENT ipea (country)>


<!--
  Date of receipt by International Preliminary Examination Authority

-->
<!ELEMENT received-at-ipea (date)>


<!ELEMENT elected-office (country* , (region , country+)*)>


<!ELEMENT completion-date (date)>


<!--
  Signatories

-->
<!ELEMENT signatories (signatory+)>


<!--
  PCT/RO/101 Box No. X:
  The signature must be that of the applicant (if there are several applicants, all
  must sign); however, the signature may be that of the agent, or the common
  representative, where a separate power of attorney appointing the agent or the
  common representative, respectively, or a copy of a general power of attorney is
  already in possession of the receiving Office, is furnished...
  (PCT Rules 4.1(d), 4.15, and 90)

  Indicate the capacity of the signer with 'signatory-capacity'

-->
<!ELEMENT signatory (%name_group; , address? , electronic-signature , signatory-capacity?)>

<!ATTLIST signatory
                  id ID #IMPLIED>


<!--
  The capacity in which the person signs

-->
<!ELEMENT signatory-capacity (#PCDATA)>


<!--
  A PKI / PKCS #7 digital signature data type

-->
<!ELEMENT enhanced-signature (pkcs7)>


<!--
  PKCS7 digital signature 

-->
<!ELEMENT pkcs7 EMPTY>


<!--
  A non-PKI electronic signature

-->
<!ELEMENT basic-signature (fax-image | text-string | click-wrap)>


<!--
  A simple 'signature';
  e.g., clicking a button labeled 'accept' or 'I agree'

-->
<!ELEMENT click-wrap EMPTY>


<!--
  A simple text string is to be used as the basic electronic signature;
  e.g., John Doe  <text-string>/jd/</text-string>

-->
<!ELEMENT text-string (#PCDATA)>


<!--
  Figure of the drawings which should accompany the abstract

-->
<!ELEMENT figure-to-publish (fig-number+)>


<!--
  Possible sources: human-generated-classification,
  machine-propagated-classification, software-analysis-generated-classification

-->
<!ELEMENT classification-data-source (#PCDATA)>


<!--
  Possible status: original-classification, reclassified, various-classification,
  deleted-classification

-->
<!ELEMENT classification-status (#PCDATA)>


<!--


-->
<!ELEMENT generating-office (country)>


<!--


-->
<!ELEMENT action-date (date)>


<!--
  Possible values: invention, non-invention

-->
<!ELEMENT classification-value (#PCDATA)>


<!--
  Possible positions: first-symbol-position, later-symbol-position.

-->
<!ELEMENT symbol-position (#PCDATA)>


<!--


-->
<!ELEMENT subgroup (#PCDATA)>


<!--


-->
<!ELEMENT main-group (#PCDATA)>


<!--


-->
<!ELEMENT subclass (#PCDATA)>


<!--


-->
<!ELEMENT section (#PCDATA)>


<!--
  Levels: ipcr-advanced, ipcr-core

-->
<!ELEMENT classification-level (#PCDATA)>


<!--


-->
<!ELEMENT ipc-version-indicator (date)>


<!--
  Unlinked indexing code.
    (ST.32:B515/B525)

-->
<!ELEMENT unlinked-indexing-code (#PCDATA)>


<!--
  Linked indexing code.
    (ST.32:B514/B524)

-->
<!ELEMENT linked-indexing-code-group (main-linked-indexing-code , sub-linked-indexing-code+)>


<!--
  Sub/further Linked Indexing Code.

-->
<!ELEMENT sub-linked-indexing-code (#PCDATA)>


<!--
  Main Linked Indexing Code.

-->
<!ELEMENT main-linked-indexing-code (#PCDATA)>


<!--
  Main classification.
    (ST.32:B511/B521)

-->
<!ELEMENT main-classification (#PCDATA)>


<!--
  Additional information.
    (ST.32:B513)

-->
<!ELEMENT additional-info (p+)>


<!--
  Declaration information including combined declaration
  and desgnated country

-->
<!ELEMENT declaration-info (declaration1? , declaration2? , declaration3? , declaration4? , declaration5? , combined-declaration? , designated-states-as-dec*)>


<!--
  Designated states for which indications are made: all except United States

-->
<!ELEMENT all-designations-except-us EMPTY>


<!--
  PCT/RO/101 Box No.VII :International Searching Authority

-->
<!ELEMENT search-authority (isa , earlier-search-request?,  earlier-search-authorization*)>


<!--
  Request to use results of earlier search; reference to that search

-->
<!ELEMENT earlier-search-request (document-id , substantially-equivalent? , earlier-search-documents?)+>

<!--
-->
<!ELEMENT substantially-equivalent EMPTY>


<!--
  International Search Authority; international search to be carried out by

-->
<!ELEMENT isa (country)>

<!--
  information of priority claims and priority document.
	

-->
<!ELEMENT wo-priority-info (priority-claim , priority-claim-ib-info? , incorporation-by-reference?)+>


<!--
	where an element  of the international application referrred to in Article 11(1)(iii)(d) or (e) or a part of the description, claims or drawings referred to in Rule 20.5(a) is not otherwise contained in this international application but is completely contained in an earlier application whose priority is claimed on the date on which one or more elements referred to in Article 11(1)(iii) were first received by the receiving Office, that element or part is, subject to confirmation under Rule 20.6, incorporated by reference in this international application for the purposes of Rule 20.6

-->
<!ELEMENT incorporation-by-reference EMPTY>


<!--
  The priority document is attached to the application

-->
<!ELEMENT priority-doc-attached EMPTY>


<!--
  The receiving office is requested to prepare and transmit to the IB a certified
  copy of the earlier application

-->
<!ELEMENT priority-doc-requested EMPTY>


<!--
	This element is made when the receiving Office is requested to restore the right of priority.

-->
<!ELEMENT restore-rights EMPTY>


<!--
  Where the earlier application is an ARIPO application,indicate at least one
  country party to the PARIS convention for the protection of industrial property
  or one member of the WTO for which that earlier application was filed.

-->
<!ELEMENT office-of-filing ((region , country?) | country)>


<!--
  Additional priority claim information by IB

-->
<!ELEMENT priority-claim-ib-info (received-at-ib? , pct-rule17-1? , withdrawn? , considered-not-made?)>


<!--
  PCT/RO/101 Box No.V Designation Of States (PCT Rule 4.9) 

-->
<!ELEMENT designation-of-states (designation-pct , (precautionary-designation-statement? , exclusion-from-designation?))>


<!--
  Rule 4.9(b),(c)
    In addition to the designations made above [i.e, designation-of states], the
    applicant also makes under Rule 4.9(b) all other designations which would be
    permitted under the PCT except any designation(s) indicated in the Supplemental
    Box [i.e., exclusion-from-designation] as being excluded form the scope of this
    statement. The applicant declares that those additional designations are
    subject to confirmation and that any designation which is not confirmed before
    the expiration of 15 months from the priority date is to be regarded as
    withdrawn by the applicant at the expiration of that time limit.

-->
<!ELEMENT precautionary-designation-statement (#PCDATA)>


<!--
  State(s) excluded from precautionary designations under Rule 4.9(b)

-->
<!ELEMENT exclusion-from-designation (regional* , national?)>


<!--
  The Contracting States in which protection is desired
  (Rules 4.1(a)(iv) and 4.9(a))

-->
<!ELEMENT designation-pct (regional* , national? , new-designation-country*)>


<!--
  New PCT member country states (e.g., not yet published in WIPO ST.3, joined after
  PCT electronic filing software published)

-->
<!ELEMENT new-designation-country (#PCDATA)>


<!--
  The States for which protection or exclusion (depending upon context) is desired

-->
<!ELEMENT national (country , protection-request*)+>


<!--
  Regional (as opposed to national) protection being sought

-->
<!ELEMENT regional (region , (country , protection-request*)+ , any-other-state?)>



<!--
  Any other state in which protection is being sought

-->
<!ELEMENT any-other-state EMPTY>


<!--
  Kind of protection; e.g., patent, utility model

-->
<!ELEMENT kind-of-protection (#PCDATA)>


<!--
  PCT/RO/101 Box No.II, III and IV APPLICANTS, FURTHER APPLICANT(S)
  AND/OR (FURTHER) INVENTOR(S)AGENT OR COMMON REPRESENTATIVE; 
  OR ADDRESS FOR CORRESPONDENCE (PCT Rule 4.5, 4.6, 4.7, 4.8)
    (INID 70, ST.32:B700)

-->
<!ELEMENT parties (applicants , inventors? , correspondence-address? , agents?)>


<!--
  Information regarding Agents or common representatives

-->
<!ELEMENT agents (customer-number | agent+)>


<!--
  Address used for general correspondence

-->
<!ELEMENT correspondence-address (customer-number | addressbook+)>


<!--
  Customer number for agents by office

-->
<!ELEMENT customer-number (#PCDATA)>


<!--
  Inventors information:
    If the US is designated, all of the inventors must also be named as applicants
    for purposes of that designation.

-->
<!ELEMENT inventors (inventor | deceased-inventor)+>


<!--
  Applicants information:  
    At least one of the applicants named must be a resident or national of a PCT
    Contracting State for which the receiving Office acts.

-->
<!ELEMENT applicants (applicant+)>

<!--
   information of changing of bibliograchic data	

-->
<!ELEMENT wo-bib-change-info (bib-change-request+)>


<!--
  Bibliographic chnaging information
  address, name,nationality,residence

-->
<!ELEMENT bib-change-request (received-at-ib , previous-record)>


<!--
  Previous record of bibliographic in application before changing

-->
<!ELEMENT previous-record (applicant | inventor | deceased-inventor | agent)>


<!--
  Rule 4.6(c):
   "The request may, for different designated states, indicate different persons
    as inventors where, in this respect, the requirements of the national laws of
    the designated States are not the same.  In such a case, the request shall
    contain a separate statement for each designated State or group of States in
    which a particular person, or the same person, is to be considered the
    inventor, or in which particular persons, or the same persons, are to be
    considered the inventors."

-->
<!ELEMENT designated-states-as-inventor (country* , (region , country+)*)>


<!--
  Country of residence

-->
<!ELEMENT residence (country)>


<!--
  Country of nationality

-->
<!ELEMENT nationality (country)>


<!--
  WIPO amendment information:
  art 19 amendment, date of receipt at IB

-->
<!ELEMENT wo-amendment-info (received-at-ib)>


<!--
  WIPO application information: 
  received-at-ib : date of receipt of record copy by International Bureau

-->
<!ELEMENT wo-application-info (date-of-earliest-priority? , received-at-ib? , considered-not-made? , withdrawn?)>


<!--
  Where the international application claims the priority of several earlier
  applications, the filing date of the earliest application whose priority is
  claimed must be indicated as the priority date.

-->
<!ELEMENT date-of-earliest-priority (date)>


<!--
  Demand withdrawn by a notice from applicant
  (PCT Article 37; PCT Rule 90bis.4)

-->
<!ELEMENT withdrawn (date)>


<!--
  Declaration by the receiving office or IB that priority claim is considered,
  for the purposes of the procedure under the Treaty not to have been made

-->
<!ELEMENT considered-not-made (date , made-by?)>


<!ELEMENT made-by (country* , (region , country+)*)>


<!--
  WIPO publication information:

-->
<!ELEMENT wo-publication-info (wo-correction* , wo-bio-material-after-pub? , isr-status* , pct-pub-info* , wo-pubnum?)>

<!ELEMENT wo-pubnum (#PCDATA)>

<!--
  PCT published pamphlet information

-->
<!ELEMENT pct-pub-info (wo-published-text , pct-art64*)>


<!--
  published text in PCT pamphlet front page.
	
-->
<!ELEMENT wo-published-text (wo-text-letter-code+)>

<!ELEMENT wo-text-letter-code (#PCDATA)>


<!--
  PCT Article 64: Reservations

-->
<!ELEMENT pct-art64 (date? , document-id?)>


<!--
  a reference to deposited biological material that was received by IB
  after completion of technical preparations for international publication

-->
<!ELEMENT wo-bio-material-after-pub (received-at-ib , relevant-date?)>


<!--
  Relevant date

-->
<!ELEMENT relevant-date (date)>


<!--
  International Bureau receipt date

-->
<!ELEMENT received-at-ib (date)>


<!--
  WO Patent correction information.

-->
<!ELEMENT wo-correction (document-id? , type-of-correction? , wo-repub-code , wo-pubnum? , wo-dtext*)>


<!ELEMENT wo-repub-code (#PCDATA)>


<!--
  Type of correction.
    (ST.32:B667)

-->
<!ELEMENT type-of-correction (#PCDATA)>


<!--
  indications relate to the bio-deposit in the application body

-->
<!ELEMENT indications (para-number , (bio-deposit , additional-indication? , (all-designations | designated-states) , separate-indications?))>


<!--
  Separate furnishing of indications

-->
<!ELEMENT separate-indications (#PCDATA)>


<!--
  Additional indication information for the deposit

-->
<!ELEMENT additional-indication (#PCDATA)>


<!--
  Indications relate to the bio-deposit in the application body at paragraph number

-->
<!ELEMENT para-number (#PCDATA)>


<!--
  Applicant's or agent's file reference, if desired, 12 characters maximum

-->
<!ELEMENT file-reference-id (#PCDATA)>


<!--
  Indication of specific Contracting States in or for which the applicant is
  seeking protection for his invention 
  (Rule 4.9(a))

-->
<!ELEMENT designated-states (country* , (region , country+)*)>


<!--
  The region for which protection or exclusion (depending upon context) is desired.

-->
<!ELEMENT region (country)>


<!--
  All designations permitted by the Treaty are made  (Rule 4.9(b))

-->
<!ELEMENT all-designations EMPTY>


<!--
  Method by which prior art was disclosed to the public

-->
<!ELEMENT method-of-disclosure (international-exhibition | publication | abuse | other)>


<!--
  Other method by which prior art was disclosed to the public

-->
<!ELEMENT other (#PCDATA)>



<!--
  Exceptions to lack of novelty resulting from abuse; 
  Rule 51bis.1(a)(v)

-->
<!ELEMENT abuse (#PCDATA)>


<!--
  A publication was used as the method of disclosure

-->
<!ELEMENT publication (#PCDATA)>


<!--
  An international exhibition was used as the method of disclosure

-->
<!ELEMENT international-exhibition (#PCDATA)>


<!--
  Title of what is being disclosed under PCT Rule 51bis.1(a)(v)

-->
<!ELEMENT title-of-disclosure (#PCDATA)>


<!--
  Document (e.g., XML) containing information relating to 
  a priority claim considered not made.

-->
<!ELEMENT priority-claim-considered-not-made-doc (#PCDATA)>


<!--
   Document (e.g., XML) containing information relating to
   PCT Rule 91-1f.

-->
<!ELEMENT pct-rule91-1f-doc (#PCDATA)>


<!--
  A document (e.g., XML) containing information relating to
  article 17.2a.

-->
<!ELEMENT art17.2a-doc (#PCDATA)>


<!--
  Statement concerning amendments (PCT Article 19.1, PCT Rule 46.4)

-->
<!ELEMENT statement (#PCDATA | b | i | u | o | sup | sub)*>


<!--
 The text of the claim; also used for for sub-para indentation

-->
<!ELEMENT claim-text (#PCDATA | claim-text | claim-ref | b | i | u | o | sup | sub | smallcaps | br | pre | crossref | figref | img | chemistry | maths | tables)*>


<!--
  PCT/RO/101 Box IX: the number of the figure which should accompany the abstract.
    (ST.32:B598)

-->
<!ELEMENT fig-number (#PCDATA)>


<!--
  Definition description

-->
<!ELEMENT dd (#PCDATA | b | i | u | o | sup | sub | smallcaps | br | pre | patcit | nplcit | bio-deposit | crossref | figref | img | ul | ol | chemistry | maths)*>


<!--
  Identifies the period of time during which the depository must be able to furnish
  samples of the biological material.

-->
<!ELEMENT term (#PCDATA)>


<!--
  Biological accession number:
    (ST.32:B831)
  The identification assigned to the biological material by the depository
 
-->
<!ELEMENT bio-accno (#PCDATA)>


<!--
  Information regarding the facility storing the biological deposit.
    (ST.32:B832)

-->
<!ELEMENT depositary (#PCDATA | address)*>


<!--
  Other citations - free form

-->
<!ELEMENT othercit (#PCDATA | b | i | u | o | sup | sub)*>


<!--
  Online citation
    Revised according to ISO-690-2 - Electronic documents and parts thereof.
    Please refer to this standard for definitions and examples.
    See: http://www.nlc-bnc.ca/iso/tc46sc9/standard/690-2e.htm#Contents
    The tagging in fact is a mixture of article and book tags together with
    specific electronic source tags.
    'Online' is taken to mean any kind of electronic documentation:
      databases, internet, CD-Roms, DVD, email, etc
 
  EXAMPLES:;

    Kirk-Othmer Encyclopedia of Chemical Technology [online].
    3rd ed. New York : John Wiley, 1984 [cited 3 January 1990].
    Available from: DIALOG Information Services, Palo Alto (Calif.).
 
      <nplcit id='ncit1' num='0001' type='E' medium='online'>
        <online>
          <online-title>Kirk-Othmer Encyclopedia of Chemical Technology
          </online-title>
          <edition>3rd ed.</edition>
          <imprint>
            <address>
              <text>New York</text>
            </address>
            <name>John Wiley</name>
            <pubdate>19840000</pubdate>
          </imprint>
          <avail>dialog information services, palo alto (calif.).</avail>
          <datecit>
            <date>19900103</date>
          </datecit>
        </online>
      </nplcit>

  * Article on Internet:
    Clark, Carol. On the Threshold of a Brave New World.
    In Blueprint of the Body [online].
    CNN.com, 2000. [cited 24 August 2000;10:25 EST]. In-depth specials.
    Available from: [http://www.cnn.com/SPECIALS/2000/genome/story/overview/]

      <nplcit id='ncit1' num='0002' type='E' medium='online'>
        <online>
          <author>
            <name>Clark, Carol</name>
          </author>
          <online-title>On the Threshold of a Brave New World</online-title>
          <imprint>
            <name>CNN.com, 2000</name>
          </imprint>
          <series>
            <text>In-depth specials</text>
          </series>
          <avail>http://www.cnn.com/SPECIALS/2000/genome/story/</avail>
          <datecit>
            <date>20000824; 10:25 est</date>
          </datecit>
        </online>
      </nplcit>

  * Personal communication (e-mail)
 
    Thacker, Jane. MPEG-21 project stream on digital item identification [online].
    Message to: [iso.tc46.sc9@nlc-bnc.ca]. 3 October 2000; 13:33 EST [cited 6
    October 2000; 13:10 EST].
    Message-ID: [002f01c02d60$051a64a0$22a2580c@vaio]. Personal communication.

      <nplcit id='ncit3' num='0003' type='E' medium='online'>
        <online>
          <author>
            <name>Thacker, Jane</name>
          </author>
          <online-title>MPEG-21 project stream on digital item identification
          </online-title>
          <subname>
            <name>Message to: <iso.tc46.sc9@nlc-bnc.ca></name>
          </subname>
          <pubdate>3 October 2000; 13:33 EST</pubdate>
          <notes>Personal communication</notes>
          <avail>Message-ID: <002f01c02d60$051a64a0$22a2580c@vaio></avail>
          <datecit><date>6 october 2000; 13:10 EST</date></datecit>
        </online>
      </nplcit>

-->
<!ELEMENT online (text | (author* , online-title* , hosttitle? , subname* , edition? , (serial | book)? , imprint? , pubdate? , history? , series? , hostno? , location? , notes? , avail , class* , keyword* , cpyrt? , issn? , isbn? , datecit? , srchterm* , srchdate? , refno* , vid? , ino? , doi? , absno?))>


<!--
  Date of search/retrieval  YYYYMMDD

-->
<!ELEMENT srchdate (date)>


<!--
  Search terms

-->
<!ELEMENT srchterm (#PCDATA)>


<!--
  Date cited - date on which the citation was cited.
  May be different from srchdate below

-->
<!ELEMENT datecit (date)>


<!--
  Availability and access - REQUIRED use for URL, online database, ftp address,
  email, etc.;
  e.g., Available from Internet: http://www.epoline.org
    Available from DIALOG Information Systems, Palo Alto (Calif.)

-->
<!ELEMENT avail (#PCDATA)>


<!--
  Numeration within host document

-->
<!ELEMENT hostno (#PCDATA)>


<!--
  History of the article (not serial)

-->
<!ELEMENT history (text | (received | accepted | revised | misc))>


<!--
  Miscellaneous information relating to the history of the article; see ISO 12083

-->
<!ELEMENT misc (#PCDATA | date)*>


<!--
  Date article was revised

-->
<!ELEMENT revised (date)>


<!--
  Date article was accepted

-->
<!ELEMENT accepted (date)>


<!--
  Date article was received

-->
<!ELEMENT received (date)>


<!--
  Title of the host document/database

-->
<!ELEMENT hosttitle (#PCDATA)>


<!--
  The title of the electronic resource

-->
<!ELEMENT online-title (#PCDATA)>


<!--
  Article citations within a 'host' document

  After patent citations the most common citations are articles within serials
  (periodicals, magazines), books and electronic (eg. internet) sources.
  This is a very complex and varied area to standardise. The tag set below is drawn
  from a number of sources as is the order of the tags (which in any case can be
  changed depending on the stylesheet used).;

  The order of tags is that of WIPO ST.14 / ISO 690 layout.
    DROP, J.G.  Integrated Circuit Personalization at the Module Level. IBM Tech.
    Dis. Bull.  October 1974, Vol. 17, No. 5, p. 1344 and 1345.
    [XPnnnnnnnnnnn].

      <nplcit id='ncit1' num='0012' type='S' file='XP1234456'>
        <article>
          <author>
            <name>DROP, J.G.</name>
          </author>
          <atl>Integrated Circuit Personalization at the Module Level</atl>
          <serial>
          <sertitle>IBM Tech. Dis. Bull.</sertitle>
          <pubdate>19741000</pubdate>
          <vid>17</vid>
          <ino>5</ino>
          </serial>
          <location>
            <pp>1344 and 1345</pp>
          </location>
          <refno id='XP1'>XP1234456</refno>
        </article>
      </nplcit>

  Note: it is NOT expected that the applicant will create the tagged data
  - it can be generated from a 'pull down' data entry form (eg. in Word) or
    generated from internal SR databases

-->
<!ELEMENT article (text | (author* , atl? , subname* , (serial | book) , absno? , location? , class* , keyword* , cpyrt? , artid? , refno*))>


<!--
  Article unique ID - assigned by a publisher to an article

-->
<!ELEMENT artid (#PCDATA)>


<!--
  Book citation 
  In the order specified by WIPO ST.14 and ISO 690 and AACR2 rules for layout

  WALTON, Herrmann. Microwave quantum theory.
  London : Sweet and Maxwell, 1973. ISBN 0123456789.
  Vol.2, p. 138 to 192.

    <nplcit id='ncit12' num='0013' type='b'>
      <book>
        <author>
          <name>WALTON, Herrman</name>
        </author>
        <book-title>Microwave quantum theory</book-title>
        <imprint>
          <address>
            <text>London</text>
          </address>
          <name>Sweet and Maxwell</name>
          <pubdate>19730000</pubdate>
        </imprint>
        <location>
          <pp>138 to 192</pp>
        </location>
        <isbn>0-1234-568-9</isbn>
      </book>
    </nplcit>

-->
<!ELEMENT book (text | (author* , (book-title+ | conference) , (subtitle? , subname* , edition? , imprint? , descrip? , series? , absno? , location* , isbn* , pubid? , vid? , bookno? , notes? , class* , keyword* , cpyrt? , refno* , doi? , ino? , issn?)))>


<!--
  Keyword; e.g., from a Thesaurus or class. scheme
    (ST.32:B550)

-->
<!ELEMENT keyword (#PCDATA)>


<!--
  Book number

-->
<!ELEMENT bookno (#PCDATA)>


<!--
  Location within the cited work

-->
<!ELEMENT location (text | (serpart? , sersect? , chapter? , pp? , column? , para? , line?))>


<!--
  Referenced line within cited work

-->
<!ELEMENT line (#PCDATA | linef | linel)*>


<!--
  Cited document line, last

-->
<!ELEMENT linel (#PCDATA)>


<!--
  Cited document line, first

-->
<!ELEMENT linef (#PCDATA)>


<!--
  Referenced paragraph within cited work

-->
<!ELEMENT para (#PCDATA | paraf | paral)*>


<!--
  Cited paragraph, last

-->
<!ELEMENT paral (#PCDATA)>


<!--
  Cited paragraph, first

-->
<!ELEMENT paraf (#PCDATA)>


<!--
  Cited document column numbers

-->
<!ELEMENT column (#PCDATA | colf | coll)*>


<!--
  Cited document column, last

-->
<!ELEMENT coll (#PCDATA)>


<!--
  Cited document column, first

-->
<!ELEMENT colf (#PCDATA)>


<!--
  Cited document page numbers

-->
<!ELEMENT pp (#PCDATA | ppf | ppl)*>


<!--
  Cited document page, last

-->
<!ELEMENT ppl (#PCDATA)>


<!--
  Cited  document page , first

-->
<!ELEMENT ppf (#PCDATA)>


<!--
  Chapter; e.g., in a book.  Example: Chapter 2

-->
<!ELEMENT chapter (#PCDATA)>


<!--
  Serial section

-->
<!ELEMENT sersect (#PCDATA)>


<!--
  Part within a serial

-->
<!ELEMENT serpart (#PCDATA)>


<!--
  Abstract number

-->
<!ELEMENT absno (#PCDATA)>


<!--
  Series statement

-->
<!ELEMENT series (text | (mst , msn? , issn?))>


<!--
  Monographic series number

-->
<!ELEMENT msn (#PCDATA)>


<!--
  Monographic series title

-->
<!ELEMENT mst (#PCDATA)>


<!--
  Edition statement
    (ST.32:B516)

-->
<!ELEMENT edition (#PCDATA)>


<!--
  Book subtitle

-->
<!ELEMENT subtitle (#PCDATA)>


<!--
  CONFERENCE GROUP / CITATION
  There is no standard way of citing conference proceedings; date of the conf. may
  come before or after place, for example. The tags are specified in a set order
  where it is not possible or correct then simply use <text>

-->
<!ELEMENT conference (text | (conftitle , confdate? , confno? , confplace? , confsponsor*))>


<!--


-->
<!ELEMENT confdate (date | (sdate , edate))>


<!--
  Conference sponsor

-->
<!ELEMENT confsponsor (#PCDATA | addressbook)*>


<!--
  Conference place

-->
<!ELEMENT confplace (#PCDATA | address)*>


<!--
  Conference number

-->
<!ELEMENT confno (#PCDATA)>


<!--
  Conference title

-->
<!ELEMENT conftitle (#PCDATA)>


<!--
  The title of the cited book

-->
<!ELEMENT book-title (#PCDATA)>


<!--
  Serial citation data:
  This describes the volume or issue as a whole and not a particular article within
  it.

-->
<!ELEMENT serial (sertitle , alttitle? , subname* , issue? , imprint? , pubdate? , descrip? , notes? , isbn? , issn? , pubid? , vid? , ino? , cpyrt? , doi?)>


<!--


-->
<!ELEMENT doi (#PCDATA)>


<!--
  Copyright info.  Copyright of publisher of serial

-->
<!ELEMENT cpyrt (#PCDATA)>


<!--
  Issue number

-->
<!ELEMENT ino (#PCDATA)>


<!--
  Volume id/number

-->
<!ELEMENT vid (#PCDATA)>


<!--
  Publisher's unique id

-->
<!ELEMENT pubid (#PCDATA)>


<!--
  International Standard Book Number

-->
<!ELEMENT isbn (#PCDATA)>


<!--
  International Standard Serial Number

-->
<!ELEMENT issn (#PCDATA)>


<!--
  Notes about the journal; e.g. Continues Journal of XYZ 1910-1998, published in
  French and English, etc.

-->
<!ELEMENT notes (#PCDATA)>


<!--
  Physical description - generally NOT used in citations in pats; e.g., v., 27cm

-->
<!ELEMENT descrip (#PCDATA)>


<!--
  Imprint:
  Publication / creation data
  Place of publication : publisher, date(s) of publication usually only date of
  publication is used for journal citations

-->
<!ELEMENT imprint (text | (address? , name , pubdate*))>


<!--
  Publication date used in npl citations

-->
<!ELEMENT pubdate (#PCDATA | sdate | edate | time)*>


<!--
  Time; format HHMM

-->
<!ELEMENT time (#PCDATA)>


<!--
  End date used in pubdate

-->
<!ELEMENT edate (#PCDATA)>


<!--
  Start date used in pubdate

-->
<!ELEMENT sdate (#PCDATA)>


<!--
  Issue designation; e.g., Annual, 1971-, 1890-1972

-->
<!ELEMENT issue (#PCDATA)>


<!--
  Alternate title for serial; e.g. BMJ = British Medical Journal

-->
<!ELEMENT alttitle (#PCDATA)>


<!--
  Serial title

-->
<!ELEMENT sertitle (#PCDATA)>


<!--
  Article title

-->
<!ELEMENT atl (#PCDATA)>


<!--
  Descriptive text

-->
<!ELEMENT dtext (#PCDATA)>


<!--
  Universal Resource Locator; e.g. www.wipo.int

-->
<!ELEMENT url (#PCDATA)>


<!--
  Fax number

-->
<!ELEMENT fax (#PCDATA)>


<!--
  Telephone number

-->
<!ELEMENT phone (#PCDATA)>


<!--
  Electronic address use for other than email

-->
<!ELEMENT ead (#PCDATA)>


<!--
  Address components:
  Address formats differ from country to country
  If no structure possible use text

-->
<!ELEMENT address (%address_group;)>


<!--
  Postal code or zip code

-->
<!ELEMENT postcode (#PCDATA)>


<!--
  Region of country; e.g., state, province, etc.

-->
<!ELEMENT state (#PCDATA)>


<!--
  County, parish, department, etc (mainly UK, USA)

-->
<!ELEMENT county (#PCDATA)>


<!--
  City or town name

-->
<!ELEMENT city (#PCDATA)>


<!--
  Street may contain house number or name

-->
<!ELEMENT street (#PCDATA)>


<!--
  Building information in address; e.g., Hoffman building

-->
<!ELEMENT building (#PCDATA)>


<!--
  Address floor; e.g., 10th

-->
<!ELEMENT address-floor (#PCDATA)>


<!--
  Address room; e.g., Room 55B

-->
<!ELEMENT room (#PCDATA)>


<!--
  Post Office Box number

-->
<!ELEMENT pobox (#PCDATA)>


<!--
  Organizational mail code

-->
<!ELEMENT mailcode (#PCDATA)>


<!--
  Address, fifth line

-->
<!ELEMENT address-5 (#PCDATA)>


<!--
  Address, fourth line

-->
<!ELEMENT address-4 (#PCDATA)>


<!--
  Address, third line

-->
<!ELEMENT address-3 (#PCDATA)>


<!--
  Address, second line

-->
<!ELEMENT address-2 (#PCDATA)>


<!--
  Address, first line

-->
<!ELEMENT address-1 (#PCDATA)>


<!--
  Registered number

-->
<!ELEMENT registered-number (#PCDATA)>


<!--
  Synonym

-->
<!ELEMENT synonym (#PCDATA)>


<!--
  Department, division, section, etc. name

-->
<!ELEMENT department (#PCDATA)>


<!--
  Organisation name or company name

-->
<!ELEMENT orgname (#PCDATA)>


<!--
  Role; e.g., President, Chairman, etc.

-->
<!ELEMENT role (#PCDATA)>


<!--
  SDOBI : Individual id

-->
<!ELEMENT iid (#PCDATA)>


<!--
  Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)

-->
<!ELEMENT suffix (#PCDATA)>


<!--
  Middle name(s) or initial(s)

-->
<!ELEMENT middle-name (#PCDATA)>


<!--
  First or given name(s), initial(s)

-->
<!ELEMENT first-name (#PCDATA)>


<!--
  Last, family, surname

-->
<!ELEMENT last-name (#PCDATA)>


<!--
  Title: e.g., Mr., Mrs., Dr. etc

-->
<!ELEMENT prefix (#PCDATA)>


<!--
  Relevant passage group within patent; most used in search  reports
  - use text in abstract, description and claims

-->
<!ELEMENT rel-passage (text | (passage+ , (category , rel-claims?)*))>


<!--
  Relevant claims

-->
<!ELEMENT rel-claims (#PCDATA)>


<!--
  Category
    (ST.32:B563)

-->
<!ELEMENT category (#PCDATA)>


<!--
  Passage within the cited patent literature

-->
<!ELEMENT passage (#PCDATA)>


<!--
  Date: components of a date.  Format: YYYYMMDD

-->
<!ELEMENT date (#PCDATA)>


<!--
  Document kind code; e.g., A1
    (INID 13, ST.32:B130)

-->
<!ELEMENT kind (#PCDATA)>


<!--
  The number of the referenced patent (or application) document

-->
<!ELEMENT doc-number (#PCDATA)>


<!--
  Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO

-->
<!ELEMENT country (#PCDATA)>


<!--
  If no structure is possible, enter text (without markup)

-->
<!ELEMENT text (#PCDATA)>


<!--
  br - break, line break within a paragraph

-->
<!ELEMENT br EMPTY>


<!--
  Bold formatting for text

-->
<!ELEMENT b (#PCDATA | i | u | o | smallcaps | sup | sub)*>


<!--
  Italic formatting for text

-->
<!ELEMENT i (#PCDATA | b | u | o | smallcaps | sup | sub)*>


<!--
  Small capitals

-->
<!ELEMENT smallcaps (#PCDATA | b | u | i | o)*>


<!--
  Subscripted text

-->
<!ELEMENT sub (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Superscripted text

-->
<!ELEMENT sup (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Subscripted text

-->
<!ELEMENT sub2 (#PCDATA | b | u | i | o)*>


<!--
  Superscripted text

-->
<!ELEMENT sup2 (#PCDATA | b | u | i | o)*>


<!--
  Authorization to RO to transmit  earlier search
-->
<!ELEMENT earlier-search-authorization (document-id )>
<!ATTLIST earlier-search-authorization  request-ro-not-transmit                   (yes |
                                                                                  no )  #IMPLIED
                                      applicant-authorizes-ro-transmit                         (yes |
                                                                                  no )  #IMPLIED >


