procedures/common/annexf/dtd/WIPO-1.16/xmit-receipt-v1-4.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">

<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">

<!--
********************************************************************************
*  xmit-receipt v1.4     2012  JULY                                            *
********************************************************************************
*  PUBLIC "-//WIPO//DTD XMIT RECEIPT 1.4//EN" "xmit-receipt-v1-4.dtd"          *
********************************************************************************
*  https://www.wipo.int/pct-safe/en/resources/1.15/xmit-receipt-v1-4.dtd       *
********************************************************************************
* contacts:                                                                    *
*   WIPO: Yukako SHIBA; yukako.shiba@wipo.int                                  *
********************************************************************************
* revision history                                                             *
********************************************************************************
MO: 01/01/07 incorporated changes from PFCs:
..changed version number from v1.3 to v1.4
..added element 'sup' to u (PFC06/003)
..added element 'sup' to i (PFC06/003)
..added element 'sup' to b (PFC06/003)
..added element 'sub' to u (PFC06/003)
..added element 'sub' to i (PFC06/003)
..added element 'sub' to b (PFC06/003)
..added element 'o' to invention-title, b, i, sup, sup2, sub, sub2, heading, claim-text,
  p, small-caps, dt, dd, li, crossref, figref, othercit, statement (PFC06/003)
..added element 'address-4' to address (PFC06/005)
..added element 'address-5' to address (PFC06/005)
HT: 20/07/04 incorporated changes from PFCs:
..changed version number from v1.2 to v1.3
..added element 'address' to first-named-applicant
..added element 'account' to xmit-receipt
HT: 16/12/03 incorporated changes from PFCs:
..changed version number from v1.1 to v1.2
..added element 'sup2' and 'sub2' to sup and sub
JD: 03/02/03 incorporated changes from PFCs:
..changed version number from v1.0 to v1.1
..added (last-name | orgname) choice to %name_group;
..removed 'br' from b, i, smallcaps
2001/12/01
..released version number as v1.0
********************************************************************************

TRANSMISSION RECEIPT

Attributes:
  lang          = language of application - use ISO639 language code
  dtd-version   = dtd version number
  file          = filename of the whole application
  status        = status of the application; values: new = new application

-->
<!ELEMENT xmit-receipt ((document-id | receipt-id)+ , received-on , from , wad-message-digest , response+ , filing-type? , wasp-signer? , invention-title? , first-named-applicant? , file-reference-id? , filelist? , application-copy? , receipt-copy? , account*)>

<!ATTLIST xmit-receipt  lang        CDATA  #REQUIRED
                          dtd-version CDATA  #IMPLIED
                          file        CDATA  #IMPLIED
                          status      CDATA  #IMPLIED >

<!--
  Deposit account information

-->
<!ELEMENT account EMPTY>

<!ATTLIST account  number       CDATA  #REQUIRED
                     account-type CDATA  #REQUIRED
                     name         CDATA  #IMPLIED >

<!--
  A rendered version of this transmittal receipt

-->
<!ELEMENT receipt-copy EMPTY>

<!ATTLIST receipt-copy  file CDATA  #REQUIRED >

<!--
  A copy of the original application received

-->
<!ELEMENT application-copy EMPTY>

<!ATTLIST application-copy  file CDATA  #REQUIRED >

<!--
  Contents of the file received.  See Section 704(a):
  'and may, at the option of the Office, also indicate or contain such information
  as 
     (v)  the names and sizes of the electronic files received;
     (vi) the dates of creation of the electronic files received;..."
                                    
  attributes: 
    doc-name      = name of the document
    file-name     = name of the electronic file
    size          = size of the file                                 
    date-produced = date of creation of the file

-->
<!ELEMENT file-content EMPTY>

<!ATTLIST file-content  doc-name               CDATA  #REQUIRED
                          file-name              CDATA  #REQUIRED
                          size                   CDATA  #IMPLIED
                          date-produced          CDATA  #IMPLIED
                          number-of-notification CDATA  #IMPLIED >

<!--
  Title of the Invention:
    (INID 54, ST.32:B540/B542)

  Preferably two to seven words when in English or translated into English and
  precise. (Rule 4.3)

  Recommended id = 'invt'

-->
<!ELEMENT invention-title (#PCDATA | b | i | u | o | sup | sub)*>

<!ATTLIST invention-title  id   ID     #IMPLIED
                             lang CDATA  #IMPLIED >

<!--
  Underscore: style - single is default

-->
<!ELEMENT u (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST u  style   (single | double | dash | dots )  'single' >

<!--
  Overscore: style - single is default

-->
<!ELEMENT o (#PCDATA | b | i | smallcaps | sup | sub)*>

<!ATTLIST o  style   (single | 
                       double | 
                       dash | 
                       dots | 
                       leftarrow | 
                       rightarrow | 
                       leftrightarrow )  'single' >

<!--
  Document identification refers to patents (and patent applications) only.
  See WIPO ST.14

-->
<!ELEMENT document-id (country , doc-number , kind? , name? , date?)>

<!ATTLIST document-id  lang CDATA  #IMPLIED >

<!--
  Name:
  If no distinction or detail can be given.
  Also to be used for: personal (natural person) and corporate (legal entity) names

-->
<!ELEMENT name (#PCDATA)>

<!ATTLIST name  name-type   (legal | natural )  #IMPLIED >

<!--
  List of files received

-->
<!ELEMENT filelist (file-content+)>


<!--
  Applicant's or agent's file reference, if desired, 12 characters maximum

-->
<!ELEMENT file-reference-id (#PCDATA)>


<!--
  First applicant name in applicant group

-->
<!ELEMENT first-named-applicant (%name_group; , address?)>


<!--
  Address components:
  Address formats differ from country to country
  If no structure possible use text

-->
<!ELEMENT address (%address_group;)>


<!--
  If no structure is possible, enter text (without markup)

-->
<!ELEMENT text (#PCDATA)>


<!--
  Postal code or zip code

-->
<!ELEMENT postcode (#PCDATA)>


<!--
  Region of country; e.g., state, province, etc.

-->
<!ELEMENT state (#PCDATA)>


<!--
  County, parish, department, etc (mainly UK, USA)

-->
<!ELEMENT county (#PCDATA)>


<!--
  City or town name

-->
<!ELEMENT city (#PCDATA)>


<!--
  Street may contain house number or name

-->
<!ELEMENT street (#PCDATA)>


<!--
  Building information in address; e.g., Hoffman building

-->
<!ELEMENT building (#PCDATA)>


<!--
  Address floor; e.g., 10th

-->
<!ELEMENT address-floor (#PCDATA)>


<!--
  Address room; e.g., Room 55B

-->
<!ELEMENT room (#PCDATA)>


<!--
  Post Office Box number

-->
<!ELEMENT pobox (#PCDATA)>


<!--
  Organizational mail code

-->
<!ELEMENT mailcode (#PCDATA)>


<!--
  Address, fifth line

-->
<!ELEMENT address-5 (#PCDATA)>


<!--
  Address, fourth line

-->
<!ELEMENT address-4 (#PCDATA)>


<!--
  Address, third line

-->
<!ELEMENT address-3 (#PCDATA)>


<!--
  Address, second line

-->
<!ELEMENT address-2 (#PCDATA)>


<!--
  Address, first line

-->
<!ELEMENT address-1 (#PCDATA)>


<!--
  Bold formatting for text

-->
<!ELEMENT b (#PCDATA | i | u | o | smallcaps | sup | sub)*>


<!--
  Italic formatting for text

-->
<!ELEMENT i (#PCDATA | b | u | o | smallcaps | sup | sub)*>


<!--
  Small capitals

-->
<!ELEMENT smallcaps (#PCDATA | b | u | i | o)*>


<!--
  Subscripted text

-->
<!ELEMENT sub (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Superscripted text

-->
<!ELEMENT sup (#PCDATA | b | u | i | o | sup2 | sub2)*>


<!--
  Subscripted text

-->
<!ELEMENT sub2 (#PCDATA | b | u | i | o)*>


<!--
  Superscripted text

-->
<!ELEMENT sup2 (#PCDATA | b | u | i | o)*>


<!--
  The signer of the Wrapped And Signed Package

-->
<!ELEMENT wasp-signer (%name_group;)>


<!--
  Registered number

-->
<!ELEMENT registered-number (#PCDATA)>


<!--
  Synonym

-->
<!ELEMENT synonym (#PCDATA)>


<!--
  Department, division, section, etc. name

-->
<!ELEMENT department (#PCDATA)>


<!--
  Organisation name or company name

-->
<!ELEMENT orgname (#PCDATA)>


<!--
  Role; e.g., President, Chairman, etc.

-->
<!ELEMENT role (#PCDATA)>


<!--
  SDOBI : Individual id

-->
<!ELEMENT iid (#PCDATA)>


<!--
  Name suffix (e.g., II, Jr., Dip., Ing., BA, etc.)

-->
<!ELEMENT suffix (#PCDATA)>


<!--
  Middle name(s) or initial(s)

-->
<!ELEMENT middle-name (#PCDATA)>


<!--
  First or given name(s), initial(s)

-->
<!ELEMENT first-name (#PCDATA)>


<!--
  Last, family, surname

-->
<!ELEMENT last-name (#PCDATA)>


<!--
  Title: e.g., Mr., Mrs., Dr. etc

-->
<!ELEMENT prefix (#PCDATA)>


<!--
  What kind of documents were received in the submission receipted.

-->
<!ELEMENT filing-type (#PCDATA)>


<!--
  Response from server

-->
<!ELEMENT response (code , message)>


<!--
  Response message from server

-->
<!ELEMENT message (#PCDATA)>


<!--
  Response code from server

-->
<!ELEMENT code (#PCDATA)>


<!--
  Wrapped Application Documents message digest

-->
<!ELEMENT wad-message-digest (#PCDATA)>


<!--
  The office that sends the document

-->
<!ELEMENT from (country)>


<!--
  Date, time package was received                            
  The date of receipt will be determined according to the usual principles
  applicable to the filing of applications on paper, including filing by electronic
  means (such as by facsimile transmission), that is, based on the date prevailing
  at the location of the Office at the time when the complete transmission of the
  application has been received.

-->
<!ELEMENT received-on (date , time?)>


<!--
  Time; format HHMM

-->
<!ELEMENT time (#PCDATA)>


<!ELEMENT receipt-id (#PCDATA)>


<!--
  Date: components of a date.  Format: YYYYMMDD

-->
<!ELEMENT date (#PCDATA)>


<!--
  Document kind code; e.g., A1
    (INID 13, ST.32:B130)

-->
<!ELEMENT kind (#PCDATA)>


<!--
  The number of the referenced patent (or application) document

-->
<!ELEMENT doc-number (#PCDATA)>


<!--
  Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
  Also includes EP, WO

-->
<!ELEMENT country (#PCDATA)>


